{% extends "./base.html" %}
{% block main %}
  <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
    <button class="fr-breadcrumb__button"
            aria-expanded="false"
            aria-controls="breadcrumb-1">Voir le fil d'Ariane</button>
    <div class="fr-collapse" id="breadcrumb-1">
      <ol class="fr-breadcrumb__list">
        <li>
          <a class="fr-breadcrumb__link" aria-current="page">{{ ads_manager_administrator.prefecture.display_text|capfirst }}</a>
        </li>
      </ol>
    </div>
  </nav>
  <h1>Accès préfecture</h1>
  <p clas="fr-text">
    En tant qu'administrateur gestionnaire d'ADS au sein de
    {{ ads_manager_administrator.prefecture.display_fulltext }}, vous avez la
    possibilité de valider l'accès à la gestion des ADS de chacun des
    gestionnaires, de consulter les ADS qu'ils enregistrent ou d'en vérifier les modifications.
  </p>
  <p>
    🙋‍♂️&nbsp;<a class="fr-link fr-icon-arrow-right-line fr-link--icon-right"
   href="{% url 'app.ads-manager-admin.requests' prefecture_id=ads_manager_administrator.prefecture.id %}">
    Demandes d'accès des gestionnaires rattachés à votre Préfecture
    {% if pending_requests_count %}
      <strong>({{ pending_requests_count }}
        {% if pending_requests_count > 1 %}
          demandes
        {% else %}
          demande
        {% endif %}
      en attente)</strong>
    {% endif %}
  </a>
</p>
<p>
  📜&nbsp;<a class="fr-link fr-icon-arrow-right-line fr-link--icon-right"
   href="{% url 'app.ads-manager.index' %}">ADS des administrations rattachées à votre Préfecture</a>
</p>
<p>
  🔎&nbsp;<a class="fr-link fr-icon-arrow-right-line fr-link--icon-right"
   href="{% url 'app.ads-manager-admin.updates' prefecture_id=ads_manager_administrator.prefecture.id %}">
  Modifications effectuées par les gestionnaires rattachés à votre Préfecture
</a>
</p>
{% endblock main %}
