{% extends "./base.html" %}
{% block main %}
  <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
    <button class="fr-breadcrumb__button"
            aria-expanded="false"
            aria-controls="breadcrumb-1">Voir le fil d'Ariane</button>
    <div class="fr-collapse" id="breadcrumb-1">
      <ol class="fr-breadcrumb__list">
        <li>
          <a class="fr-breadcrumb__link"
             href="{% url 'app.ads-manager-admin.details' prefecture_id=ads_manager_administrator.prefecture.id %}">{{ ads_manager_administrator.prefecture.display_text|capfirst }}</a>
        </li>
        <li>
          <a class="fr-breadcrumb__link" aria-current="page">Modifications apportées par les gestionnaires de la préfecture</a>
        </li>
      </ol>
    </div>
  </nav>
  <h1>Dernières modifications</h1>
  <p class="fr-text--lead">
    Ce tableau présente les ADS qui ont été modifiées par les gestionnaires de la préfecture. Seules les 100 dernières modifications sont affichées.
    Cliquez sur une date pour vous rendre directement sur la page de l'ADS modifiée.
  </p>
  <p>
    <i>Si vous avez besoin d'afficher plus de 100 entrées dans ce tableau, contactez notre équipe et nous augmenterons la limite.</i>
  </p>
  <div class="fr-grid-row">
    <div class="fr-table fr-table--md">
      <div class="fr-table__wrapper">
        <div class="fr-table__container">
          <div class="fr-table__content">
            <table>
              <thead>
                <th>Dernière mise à jour</th>
                <th>Gestionnaire ADS</th>
                <th>ADS</th>
                <th>Par…</th>
              </thead>
              <tbody>
                {% for update in updates %}
                  <tr>
                    <td>
                      <a href="{% url 'app.ads.history' manager_id=update.ads_manager.id ads_id=update.ads.id %}">
                        {% comment %} Before, dates were stored as DateField instead of DateTimeField. Avoid displaying the time if it's 00:00. {% endcomment %}
                        {% if update.ads.last_update.hour == 0 and update.ads.last_update.minute == 0 %}
                          {{ update.ads.last_update|date:"d/m/Y" }}
                        {% else %}
                          {{ update.ads.last_update|date:"d/m/Y H:i:s" }}
                        {% endif %}
                      </a>
                    </td>
                    <td>{{ update.ads_manager.content_object.display_text|capfirst }}</td>
                    <td>{{ update.ads.number }}</td>
                    <td>
                      {% if update.history_entries|length %}
                        {{ update.history_entries.0.user_email }}
                      {% else %}
                        <em>Non renseigné</em>
                      {% endif %}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock main %}
