{% extends "base_container.html" %}
{% load boolean_display %}
{% block body-content %}
  <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
    <button
      class="fr-breadcrumb__button"
      aria-expanded="false"
      aria-controls="breadcrumb-1"
    >
      Voir le fil d'Ariane
    </button>
    <div class="fr-collapse" id="breadcrumb-1">
      <ol class="fr-breadcrumb__list">
        <li>
          <a class="fr-breadcrumb__link" href="{% url 'app.homepage' %}">Administrations en gestion</a>
        </li>
        <li>
          <a class="fr-breadcrumb__link"
            href="{% url 'app.ads-manager.detail' manager_id=ads_manager.id %}">{{ ads_manager.content_object.display_text|capfirst }}</a>
        </li>
        <li>
          <a class="fr-breadcrumb__link" aria-current="page">Vérification de l'ADS #{{ ads.number }}</a>
        </li>
      </ol>
    </div>
  </nav>

  <div>
      <h1>Vérification de l'ADS #{{ads.number}}</h1>

      {% include "pages/ads_register/ads_lecture_seule.html" %}

      <div class="flex justify-center gap-2 w-full">

        <form method="post" action="{% url 'app.ads.verification-confirmation' manager_id=ads_manager.id ads_id=ads.id %}">
            {% csrf_token %}
            <button class="fr-btn">
              Valider les informations
            </button>
        </form>
        <a href="{% url 'app.ads.detail' manager_id=ads_manager.id ads_id=ads.id %}" class="fr-btn fr-btn--secondary">
          Modifier
        </a>
      </div>
  </div>

  <script src="./ads.ts"></script>
{% endblock body-content %}
