{% extends "base_container.html" %}
{% load static %}
{% block body-content %}
  <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
    <button class="fr-breadcrumb__button"
            aria-expanded="false"
            aria-controls="breadcrumb-1">Voir le fil d'Ariane</button>
    <div class="fr-collapse" id="breadcrumb-1">
      <ol class="fr-breadcrumb__list">
        <li>
          <a class="fr-breadcrumb__link" href="{% url 'app.homepage' %}">Accueil </a>
        </li>
        <li>
          <a class="fr-breadcrumb__link" aria-current="page">Vos administrations en gestion</a>
        </li>
      </ol>
    </div>
  </nav>



  <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--middle">
    <div class="fr-col-12 fr-col-lg-8">
      <h1>Vos administrations en gestion</h1>
      <p class="fr-text--lead">
        Gérez vos autorisations de stationnement (ADS) et vos listes d’attente pour chacune de vos administrations.
      </p>

      <div class="fr-mt-4v">
        <a class="fr-btn fr-btn--secondary" href="{% url 'app.ads-manager.demande_gestion_ads' %}">Demander à gérer une autre administration</a>
      </div>
    </div>
    
    <div class="fr-col-12 fr-col-lg-4">
      <img 
        class="fr-ml-6v fr-mt-6v homepage-img"
        alt=""
        src="../../images/logo_gestion.png"
      />
    </div>
  </div>

  <div class="fr-container mb-2">
    <div class="fr-grid-row fr-grid-row--gutters">

      {% for ads_manager_request in user_ads_manager_requests %}
      <div class="fr-col-12 fr-col-md-4">
        <div class="fr-card">
          <div class="fr-card__body">
            <div class="fr-card__content">
              <h2 class="fr-card__title">
                {{ ads_manager_request.ads_manager.content_object.display_text|capfirst }}
              </h2>
              {% if ads_manager_request.accepted %}
                <p class="fr-card__desc">{{ads_manager_request.nb_ads}} ADS enregistrées.</p>
                <div class="fr-card__end">
                  <span class="mb-2">
                    <a
                      href="{% url 'app.ads-manager-admin.gestionnaires' prefecture_id=ads_manager_administrator.prefecture.id %}"
                      class="fr-link fr-icon-arrow-right-line fr-link--icon-right"
                    >
                      Consulter les ADS 
                    </a>
                  </span>
                  <span>
                    <a
                      href="{% url 'app.ads-manager-admin.updates' prefecture_id=ads_manager_administrator.prefecture.id %}"
                      class="fr-link fr-icon-arrow-right-line fr-link--icon-right"
                    >
                      Voir la liste d'attente
                    </a>
                  </span>
                </div>
                {% if ads_manager_request.nb_ads %}
                <div class="fr-card__start">
                  <span>
                    <p
                      class="fr-badge {% if ads_manager_request.pourcentage_completion == 100 %}fr-badge--green-bourgeon{% else %}fr-badge--orange-terre-battue{% endif %}"
                    >
                      {{ads_manager_request.pourcentage_completion}}% d'ADS vérifiées et complètes
                    </p>
                  </span>
                </div>
                {% endif %}

              {% elif ads_manager.request.accepted is None %}
                <div class="fr-card__start">
                  <span>
                    <p
                      class="fr-badge {% if ads_manager_request.accepted == False %}fr-badge--error{% endif %}"
                    >
                      {% if ads_manager_request.accepted is None %}
                      Accès en attente
                      {% else %}
                      Accès refusé
                      {% endif %}
                    </p>
                  </span>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  
  


{% endblock body-content %}