{% extends "base_container.html" %}
{% load show_pagination_links %}
{% block body-content %}

  <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
    <button
      class="fr-breadcrumb__button"
      aria-expanded="false"
      aria-controls="breadcrumb-1"
    >
      Voir le fil d'Ariane
    </button>
    <div class="fr-collapse" id="breadcrumb-1">
      <ol class="fr-breadcrumb__list">
        <li>
          <a class="fr-breadcrumb__link" href="{% url 'app.homepage' %}">Accueil</a>
        </li>
        <li>
          <a class="fr-breadcrumb__link"
            href="{% url 'app.ads-manager.administrations' %}">
            Vos administrations en gestion
          </a>
        </li>
        <li>
          <a class="fr-breadcrumb__link" aria-current="page">{{ ads_manager.content_object.display_text|capfirst }}</a>
        </li>
      </ol>
    </div>
  </nav>

  <h1>{{ ads_manager.content_object.display_text|capfirst }}</h1>

  {% if not ads_manager.is_locked and not ads_manager.no_ads_declared %}

    <div class="fr-container mb-2">
      <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-md-4">
          <div class="fr-card">
            <div class="fr-card__body">
              <div class="fr-card__content">
                <h2 class="fr-card__title">
                  Liste d'attente
                </h2>
                <p class="fr-card__desc">La liste d'attente vous permet de gérer les demandes d'ADS en cours.</p>
                <div class="fr-card__end">
                  <span>
                    <a
                      href="{% url 'app.liste_attente' manager_id=ads_manager.id %}"
                      class="fr-link fr-icon-arrow-right-line fr-link--icon-right"
                    >
                      Consulter la liste d'attente
                    </a>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="fr-col-12 fr-col-md-4">
          <div class="fr-card">
            <div class="fr-card__body">
              <div class="fr-card__content">
                <h2 class="fr-card__title">
                  Modèles d'arrếtés
                </h2>
                <p class="fr-card__desc">Un arrêté est un acte juridique final par lequel une autorisation est accordée, modifiée ou refusée.</p>
                <div class="fr-card__end">
                  <span>
                    <a
                      href="{% url 'app.arretes-list' manager_id=ads_manager.id %}"
                      class="fr-link fr-icon-arrow-right-line fr-link--icon-right"
                    >
                      Accéder aux modèles d'arrêtés
                    </a>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="fr-col-12 fr-col-md-4">
          <div class="fr-card">
            <div class="fr-card__body">
              <div class="fr-card__content">
                <h2 class="fr-card__title">
                  Arrêté
                </h2>
                <p class="fr-card__desc">Un arrêté spécifique est nécéssaire pour définir le nombre d'ADS de votre administration.</p>
                <div class="fr-card__end">
                  <span>
                    <a
                      href="{% url 'app.ads-manager.decree.detail' manager_id=ads_manager.id %}"
                      class="fr-link fr-icon-arrow-right-line fr-link--icon-right"
                    >
                      Consulter ou modifier l'arrêté délimitant le nombre d'ADS
                    </a>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="fr-col-12 fr-col-md-4">
          <div class="fr-card">
            <div class="fr-card__body">
              <div class="fr-card__content">
                <h2 class="fr-card__title">
                  Télécharger toutes les ADS de l'administration
                </h2>
                <div class="fr-card__end">
                  <span>
                    <a
                      href="{% url 'app.exports.ads-manager' manager_id=ads_manager.id %}"
                      class="fr-link fr-icon-arrow-right-line fr-link--icon-right"
                    >
                      Télécharger (excel)
                    </a>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  {% endif %}

  {% comment %}
    Display the list of ADS if the list is not empty, or if the user has searched for something.
  {% endcomment %}

  <div class="fr-notice fr-notice--info fr-mb-3w">
    <div class="fr-container">
      <div class="fr-notice__body">
        <p>
          <span class="fr-notice__title">Pour toute modification sur l'ADS</span>
          <span class="fr-notice__desc">
            (changement de véhicule, de titulaire, etc.), il convient de cliquer sur “Modifier” 
            au niveau de l’ADS concernée pour la mettre à jour et ajouter l'arrêté modificatif. Une modification, y compris dans le cadre d'une cession, 
            ne provoque pas la suppression de l'ADS actuelle.
          </span>
        </p>
      </div>
    </div>
  </div>

  <h2>
    Mes autorisations de stationnement (ADS)
  </h2>

  <div class="flex justify-end">
    <a
        href="{% url 'app.ads.create' manager_id=ads_manager.id %}"
        class="fr-btn fr-btn--secondary fr-btn--icon-right fr-icon-add-line"
      >
        Ajouter une ADS
      </a>
  </div>

      
  {% if ads_count %}

    <div class="flex flex-col md:flex-row gap-1.5 items-baseline">
      <h3>
        <span class="fr-icon-car-fill" aria-hidden="true"></span>
        {{ads_count}} ADS enregistrées
      </h3>

      <p
        class="fr-badge {% if pourcentage_verification == 100 %}fr-badge fr-badge--green-bourgeon{% else %}fr-badge--orange-terre-battue{% endif%}"
      >
        {{pourcentage_verification}}% d'ADS vérifiées et complètes
      </p>
    </div>

    <div class="fr-table fr-table--md">
      <div class="fr-table__header">
        <form method="get" class="fr-search-bar">
          <label class="fr-label" for="search-ads"> Rechercher </label>
          <input
            class="fr-input"
            value="{{request.GET.search}}"
            name="search"
            placeholder="Rechercher" id="search-ads" type="search">

          {% for key, value in request.GET.items %}
            {% if key != "search" and key != "page" %}
              <input type="hidden" name="{{ key }}" value="{{ value }}">
            {% endif %}
          {% endfor %}

          <button title="Rechercher dans les ADS" type="submit" class="fr-btn">Rechercher</button>
        </form>
        <ul class='fr-btns-group fr-btns-group--inline-md'>
          <li>
            <form method="get">
              <div class="fr-toggle mt-2">
                <input
                  type="checkbox"
                  value="on"
                  name="accepted_cpam"
                  {% if request.GET.accepted_cpam %}checked{% endif %}
                  class="fr-toggle__input"
                  id="toggle-accepted-cpam"
                  onchange="this.form.submit()"
                >
                <label class="fr-toggle__label" for="toggle-accepted-cpam">Afficher les ADS conventionnées CPAM</label>

                {% for key, value in request.GET.items %}
                  {% if key != "accepted_cpam" and key != "page" %}
                    <input type="hidden" name="{{ key }}" value="{{ value }}">
                  {% endif %}
                {% endfor %}
              </div>
            </form>
          </li>
        </ul>
      </div>
      <div class="fr-table__wrapper">
        <div class="fr-table__container">
          <div class="fr-table__content">
            <table>
              <thead>
                <tr>
                  {% if ads_manager.content_type.name == 'EPCI' %}<th>Commune</th>{% endif %}
                  <th>#ADS</th>
                  <th>Date de création</th>
                  <th>Type d'ADS</th>
                  <th>Titulaire</th>
                  <th>Plaque d'immatriculation</th>
                  <th>Statut de l'ADS</th>
                  <th>Dernière mise à jour</th>
                  <th class="!text-right">Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for ads in ads_list %}
                  <tr>
                    {% if ads_manager.content_type.name == 'EPCI' %}<td>{{ ads.epci_commune.libelle|default:"" }}</td>{% endif %}
                    <td>
                      <a
                        href="{% url 'app.ads.detail' manager_id=ads_manager.id ads_id=ads.id %}"
                      >
                        #{{ ads.number }}
                      </a>
                    </td>
                    <td>{{ ads.ads_creation_date|date:"d/m/Y"|default:"" }}</td>
                    <td>{{ ads.ads_type }}</td>
                    <td class="max-w-[300px] overflow-ellipsis overflow-hidden">{{ ads.owner_name }}</td>
                    <td>{{ ads.immatriculation_plate }}</td>
                    <td>
                      {% if not ads.latest_update_log_is_complete %}
                        <p class="fr-badge fr-badge--pink-macaron whitespace-nowrap">A compléter</p>
                      {% elif ads.latest_update_log_is_outdated or ads.latest_update_log is None %}
                        <p class="fr-badge fr-badge--pink-macaron whitespace-nowrap">A vérifier</p>
                      {% else %}
                        <p class="fr-badge fr-badge--blue-cumulus whitespace-nowrap">Complète</p>
                      {% endif %}
                    </td>
                    <td>
                      {{ ads.latest_update_log|date:"d/m/Y" }}
                    </td>
                    <td class="!text-right">
                      <div class="flex flex-col gap-1">
                        {% if ads.latest_update_log_is_outdated or ads.latest_update_log is None %}
                          <a
                            class="fr-btn fr-icon-success-line fr-btn--icon-left"
                            href="{% url 'app.ads.verification' manager_id=ads_manager.id ads_id=ads.id %}"
                            aria-label="Vérifier l'ADS {{ads.number}}"
                          >
                            Vérifier
                          </a>
                        {% endif %}
                        <a
                          class="fr-btn fr-btn--secondary fr-icon-pencil-line fr-btn--icon-left"
                          aria-label="Modifier l'ADS {{ads.number}}"
                          href="{% url 'app.ads.detail' manager_id=ads_manager.id ads_id=ads.id %}"
                        >
                          Modifier
                        </a>

                      </div>
                    </td>
                  </tr>
                {% empty %}
                  <tr>
                    <td colspan="{% if ads_manager.content_type.name == 'EPCI' %}8{% else %}7{% endif %}">Aucun résultat</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      {% show_pagination_links page_obj %}
    </div>
    {% comment %}No ADS registered for this ADSManager{% endcomment %}

  {% else %}

    {% if ads_manager.is_locked %}
      <div class="fr-alert fr-alert--info fr-mt-2w">
        <h2 class="fr-alert__title">Aucune ADS enregistrée</h2>
        <p>
          Les ADS de votre administration sont importées automatiquement par notre équipe, mais aucune n'est actuellement enregistrée.
        </p>
      </div>
    {% else %}

      {% if ads_manager.no_ads_declared %}
        <div class="fr-alert fr-alert--info fr-mt-2w">
          <h2 class="fr-alert__title">Aucune ADS enregistrée</h2>
          <p>
            Vous avez déclaré que votre administration ne gère aucune ADS. Si il s'agit d'une erreur, ou si votre administration est dorénavant gestionnaire d'ADS, décochez la case du menu ci-dessous.
          </p>
        </div>

      {% elif ads_manager.epci_delegate %}
        <div class="fr-alert fr-alert--info fr-mt-2w">
          <h2 class="fr-alert__title">Aucune ADS enregistrée</h2>
          <p>
            La gestion des ADS de votre administration est déléguée à l'EPCI <strong>{{ ads_manager.epci_delegate }}</strong>
          </p>
        </div>

      {% else %}
        <div class="fr-alert fr-alert--warning fr-mt-2w">
          <h2 class="fr-alert__title">Aucune ADS enregistrée</h2>
          <p>Aucune ADS n'est actuellement enregistrée pour votre administration. Vous pouvez :</p>
          <ul>
            <li>Enregistrer une nouvelle ADS en utilisant le lien ci-dessus</li>
            <li>
              <strong>ou</strong> déclarer que votre administration ne gère aucune ADS avec le formulaire ci-dessous
            </li>
            <li>
              <strong>ou</strong> utiliser le formulaire ci-dessous si la gestion des ADS de votre administration est déléguée à une EPCI
            </li>
          </ul>
        </div>
      {% endif %}

      {% if form.non_field_errors %}
        <div class="fr-input-group fr-input-group--error">
          {% for error in form.non_field_errors %}
            <p class="fr-error-text">{{ error }}</p>
          {% endfor %}
        </div>
      {% endif %}

      <div class="fr-accordions-group fr-mt-2w">
        <section class="fr-accordion">
          <h2 class="fr-accordion__title">
            <button
              class="fr-accordion__btn"
              aria-expanded="false"
              aria-controls="accordion-115"
            >
              Votre administration ne gère aucune ADS
            </button>
          </h2>
          <div class="{% if not ads_manager.no_ads_declared %}fr-collapse {% endif %}"
              id="accordion-115">
            <form method="post">
              {% csrf_token %}
              {% include "form_fields/bool.html" with field=edit_form.no_ads_declared field_errors=edit_form.errors.no_ads_declared required=edit_form.fields.no_ads_declared.required %}
              <div class="fr-col-3 fr-input-group fr-mt-2w">
                <ul class="fr-btns-group">
                  <li>
                    <button type="submit" class="fr-btn">Valider</button>
                  </li>
                </ul>
              </div>
            </form>
          </div>
        </section>

        {% if not edit_form.fields.epci_delegate.disabled %}
          <section class="fr-accordion">
            <h2 class="fr-accordion__title">
              <button
                class="fr-accordion__btn"
                aria-expanded="false"
                aria-controls="accordion-116"
              >
                La gestion des ADS de votre administration est déléguée à un EPCI
              </button>
            </h2>
            <div class="{% if not ads_manager.epci_delegate %}fr-collapse {% endif %}"
                id="accordion-116">
              <form method="post">
                {% csrf_token %}

                {% include "form_fields/select.html" with field=edit_form.epci_delegate field_errors=edit_form.errors.epci_delegate required=edit_form.fields.epci_delegate.required %}

                <div class="fr-col-3 fr-input-group fr-mt-2w">
                  <ul class="fr-btns-group">
                    <li>
                      <button type="submit" class="fr-btn">Valider</button>
                    </li>
                  </ul>
                </div>
              </form>
            </div>
          </section>
        {% endif %}
      </div>
    {% endif %}
  {% endif %}
{% endblock body-content %}
