{% extends "./base.html" %}
{% load static %}

{% block main %}
<nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
  <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d’Ariane</button>
  <div class="fr-collapse" id="breadcrumb-1">
    <ol class="fr-breadcrumb__list">
      <li>
        <a class="fr-breadcrumb__link" aria-current="page">Dashboards</a>
      </li>
    </ol>
  </div>
</nav>

<h1>Suivi du déploiement du registre ADS</h1>

<p class="fr-text--lead">
  Cette page n'est accessible qu'aux membres de l'équipe <i>MesADS</i>. Elle présente des statistiques utiles au déploiement du projet.
</p>

<div class="fr-grid-row fr-grid-row--gutters">
  <div class="fr-col-6 fr-table fr-table--md" id="table-ads-updates-per-month">
    <div class="fr-table__wrapper">
      <div class="fr-table__container">
        <div class="fr-table__content">
          <table id="table-ads-updates-per-month">
            <caption>Nombre de modifications ADS par mois</caption>
            <thead>
              <tr>
                <th>Date</th>
                <th>Nombre d'ADS modifiées</th>
              </tr>
            </thead>
            <tbody>
              {% for date, ads_list in ads_updates_stats.by_month %}
              <tr>
                <td>{{ date|date:"m/Y" }}</td>
                <td>{{ ads_list|length }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="fr-col-6 fr-table fr-table--md" id="table-ads-updates-recently">
    <div class="fr-table__wrapper">
      <div class="fr-table__container">
        <div class="fr-table__content">
          <table id="table-ads-updates-recently">
            <caption>Nombre de modifications ADS par jour ces derniers jours</caption>
            <thead>
              <tr>
                <th>Date</th>
                <th>Nombre d'ADS modifiées</th>
              </tr>
            </thead>
            <tbody>
              {% for date, ads_list in ads_updates_stats.by_day %}
              <tr>
                <td>{{ date|date:"d/m/Y" }}</td>
                <td>{{ ads_list|length }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="fr-table fr-table--md" id="table-stats-per-pref">
  <div class="fr-table__wrapper">
    <div class="fr-table__container">
      <div class="fr-table__content">
        <table id="table-stats-per-pref">
          <caption>Statistiques par préfecture</caption>
          <thead>
            <tr>
              <th>&nbsp;</th>
              <th style="text-align:center; border-bottom:1px solid #000" colspan="4">Nombre d'ADS</th>
              <th style="text-align:center; border-bottom:1px solid #000" colspan="4">Nombre de gestionnaires</th>
            </tr>
            <tr>
              <th></th>

              <th>Ajd.</th>
              <th>Il y a 3 mois</th>
              <th>… 6 mois</th>
              <th>… 12 mois</th>

              <th>Ajd.</th>
              <th>Il y a 3 mois</th>
              <th>… 6 mois</th>
              <th>… 12 mois</th>
            </tr>
          </thead>
          <tbody>
            {% for row in stats %}
            <tr id="prefecture_{{ row.obj.prefecture.numero }}" x-data="{selected: window.location.hash}" @hashchange.window="selected = window.location.hash" :class="selected == '#prefecture_{{ row.obj.prefecture.numero }}' ? 'tr-highlighted' : ''">
              <td><a href="{% url 'app.dashboards.detail' ads_manager_administrator_id=row.obj.id %}">{{ row.obj.prefecture }}</a></td>

              <td>
                <strong>{{ row.ads.now|default:"" }}</strong>
                {% if row.ads.with_info_now %}
                <br />
                <small>{{ row.ads.with_info_now }} avec infos contact</small>
                {% endif %}
              </td>
              <td><small>{{ row.ads.3_months|default:"" }}</small></td>
              <td><small>{{ row.ads.6_months|default:"" }}</small></td>
              <td><small>{{ row.ads.12_months|default:"" }}</small></td>

              <td><strong>{{ row.users.now|default:"" }}</strong></td>
              <td><small>{{ row.users.3_months|default:"" }}</small></td>
              <td><small>{{ row.users.6_months|default:"" }}</small></td>
              <td><small>{{ row.users.12_months|default:"" }}</small></td>
            </tr>
            {% endfor %}

            <tr>
              <td><strong>TOTAL</strong></td>
              <td>
                <strong>{{ stats_total.ads.now|default:"" }}</strong>
                {% if stats_total.ads.with_info_now %}
                <br />
                <small>{{ stats_total.ads.with_info_now }} avec infos contact</small>
                {% endif %}
              </td>
              <td><small>{{ stats_total.ads.3_months|default:"" }}</small></td>
              <td><small>{{ stats_total.ads.6_months|default:"" }}</small></td>
              <td><small>{{ stats_total.ads.12_months|default:"" }}</small></td>

              <td><strong>{{ stats_total.users.now|default:"" }}</strong></td>
              <td><small>{{ stats_total.users.3_months|default:"" }}</small></td>
              <td><small>{{ stats_total.users.6_months|default:"" }}</small></td>
              <td><small>{{ stats_total.users.12_months|default:"" }}</small></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}