{% extends "base_container.html" %}
{% load static %}
{% block body-content %}
  <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
    <button class="fr-breadcrumb__button"
            aria-expanded="false"
            aria-controls="breadcrumb-1">Voir le fil d'Ariane</button>
    <div class="fr-collapse" id="breadcrumb-1">
      <ol class="fr-breadcrumb__list">
        <li>
          <a class="fr-breadcrumb__link" href="{% url 'app.homepage' %}">Accueil</a>
        </li>
        <li>
          <a class="fr-breadcrumb__link" aria-current="page">Demande de gestion de préfecture</a>
        </li>
      </ol>
    </div>
  </nav>
  
  <h1>Demander à gérer une préfecture</h1>
  <form method="post">
    {% csrf_token %}
    <div class="fr-form-group">
      <fieldset class="fr-fieldset">
        <legend class="fr-fieldset__legend fr-text--regular" id="radio-inline-legend">
          <div class="fr-mb-2w fr-alert fr-alert--info">
            <p class="fr-alert__title">Un problème ? Contactez-nous !</p>
            <p>
              Si vous avez le moindre problème, par exemple si votre demande est refusée ou met trop de temps avant d'être acceptée, 
              vous pouvez contacter notre équipe à cette adresse electronique: equipe@mesads.beta.gouv.fr.
            </p>
            <p class="fr-text--xl fr-mt-2w">La demande est exclusivement réservée aux agents de l'administration.</p>
          </div>
        </legend>
        <div class="fr-fieldset__content">
            {% include "form_fields/select.html" with empty_option=True field=form.departement field_errors=form.errors.departement required=form.fields.departement.required bold=True %}
        </div>
      </fieldset>
    </div>
    <!-- Non-fields errors -->
    {% if form.non_field_errors %}
      <div class="fr-input-group fr-input-group--error">
        {% for error in form.non_field_errors %}
          <!-- Non-field error -->
          <p class="fr-error-text">{{ error }}</p>
        {% endfor %}
      </div>
    {% endif %}
    <div class="fr-input-group">
      <button type="submit" class="fr-btn">Envoyer la demande</button>
    </div>
  </form>
</div>
{% endblock body-content %}
