{% extends "base_container.html" %}
{% load static %}
{% block body-content %}
  <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
    <button class="fr-breadcrumb__button"
            aria-expanded="false"
            aria-controls="breadcrumb-1">Voir le fil d'Ariane</button>
    <div class="fr-collapse" id="breadcrumb-1">
      <ol class="fr-breadcrumb__list">
        <li>
          <a class="fr-breadcrumb__link" href="{% url 'app.homepage' %}">Accueil {{ ads_manager_administrator.prefecture.display_text|capfirst }}</a>
        </li>
        <li>
          <a class="fr-breadcrumb__link" aria-current="page">Vos administrations en gestion et accès Préfecture</a>
        </li>
      </ol>
    </div>
  </nav>



  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-lg-8">
      <h1>Vos administrations en gestion</h1>
      <p class="fr-text--lead">
        Cette page liste les administrations pour lesquelles vous avez demandé à gérer les ADS (Autorisations De Stationnement). Vous pouvez également demander à gérer les ADS pour une nouvelle administration en bas de cette page.
      </p>

      {% if user_ads_manager_requests|length > 0 %}
        <h2>Vos administrations en gestion</h2>
        <div class="fr-table fr-table--lg fr-table--no-scroll fr-table--no-caption">
          <div class="fr-table__wrapper">
            <div class="fr-table__container">
              <div class="fr-table__content">
                <table>
                  <caption>Administrations en gestion</caption>
                  <thead>
                    <tr>
                      <th>Administration</th>
                      <th>Nombre d'ADS enregistrées</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for request in user_ads_manager_requests %}
                      <tr>
                        <td>{{ request.ads_manager.content_object.display_text|capfirst }}</td>
                        <td>
                          {% if request.ads_count %}
                            {{ request.ads_count }}
                          {% elif request.ads_manager.no_ads_declared %}
                            <small>Ne gère aucune ADS</small>
                          {% elif request.ads_manager.epci_delegate %}
                            <small>ADS gérées par l'EPCI
                              <br />
                              <i>{{ request.ads_manager.epci_delegate }}</i></small>
                          {% else %}
                            -
                          {% endif %}
                          {% if request.complete_updates_count %}
                            <p class="fr-text--xs">(dont {{ request.complete_updates_count }} avec toutes les informations)</p>
                          {% elif request.ads_count %}
                            <p class="fr-text--xs text-red-500">(à vérifier)</p>
                          {% endif %}
                        </td>
                        <td>
                          {% if request.accepted is None %}
                            ⏱ En attente de validation par la préfecture
                          {% elif request.accepted is False %}
                            🚫 Demande refusée
                          {% elif request.accepted is True %}
                            <a class="fr-btn"
                              href="{% url 'app.ads-manager-admin.detail-administration' prefecture_id=ads_manager_administrator.prefecture.id manager_id=request.ads_manager.id %}">Gérez les ADS</a>
                          {% endif %}
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
    
    <div class="fr-col-12 fr-col-lg-4">
      <img 
        class="fr-ml-6v fr-mt-6v homepage-img"
        alt=""
        src="../../images/logo_gestion.png"
      />
    </div>
  </div>

  <div class="fr-mb-4v">
    <a class="fr-btn fr-btn--secondary" href="{% url 'app.ads-manager-admin.demande_gestion_ads' prefecture_id=ads_manager_administrator.prefecture.id %}">Demander à gérer une autre administration</a>
  </div>
  
  {% if ads_manager_administrator %}
    <h2>{{ ads_manager_administrator.prefecture.display_text|capfirst }}</h2>
    <p>
      <a class="fr-link fr-icon-arrow-down-line fr-link--icon-right"
   href="{% url 'app.exports.prefecture' prefecture_id=ads_manager_administrator.prefecture.id %}">
      <span class="fr-icon-file-download-line" aria-hidden="true"></span>
      Télécharger toutes les ADS de la préfecture au format excel
    </a>
  </p>
  <div class="fr-table fr-table--lg fr-table--no-scroll fr-table--no-caption">
    <div class="fr-table__wrapper">
      <div class="fr-table__container">
        <div class="fr-table__content">
          <table x-data="{ displayExtra: false }">
            <caption>{{ ads_manager_administrator.prefecture.display_text|capfirst }}</caption>
            <thead>
              <tr>
                <th>Administration</th>
                <th>Nombre d'ADS</th>
                <th>Consulter / Modifier</th>
              </tr>
            </thead>
            <tbody>
              {% for ads_manager in ads_manager_administrator.ordered_adsmanager_set %}
                <tr x-show="displayExtra || {{ forloop.counter0 }} < 5" x-transition>
                  <td>{{ ads_manager.content_object.display_text|capfirst }}</td>
                  <td>
                    {% if ads_manager.ads_set.count > 0 %}
                      {{ ads_manager.ads_set.count }}
                    {% elif ads_manager.no_ads_declared %}
                      <small>Ne gère aucune ADS</small>
                    {% elif ads_manager.epci_delegate %}
                      <small>ADS gérées par l'EPCI
                        <br />
                        <i>{{ ads_manager.epci_delegate }}</i></small>
                    {% else %}
                      -
                    {% endif %}
                    {% if ads_manager.complete_updates_count %}
                      <p class="fr-text--xs">(dont {{ ads_manager.complete_updates_count }} avec toutes les informations)</p>
                    {% elif ads_manager.ads_set.count %}
                      <p class="fr-text--xs text-red-500">(à vérifier)</p>
                    {% endif %}
                  </td>
                  <td>
                    <a class="fr-btn"
                       href="{% url 'app.ads-manager-admin.detail-administration' prefecture_id=ads_manager_administrator.prefecture.id manager_id=ads_manager.id %}">Consulter</a>
                  </td>
                </tr>
              {% endfor %}
              <tr x-show="{{ ads_manager_administrator.ordered_adsmanager_set.count }} > 5 && !displayExtra">
                <td colspan="3">
                  <a
                    class="fr-btn fr-btn--secondary fr-btn--sm"
                    href="{% url 'app.ads-manager-admin.updates' prefecture_id=ads_manager_administrator.prefecture.id %}"
                  >
                    Voir les dernières modifications
                  </a>
                  <button class="fr-btn fr-btn--secondary fr-btn--sm"
                          x-on:click="displayExtra = true">
                    Afficher les {{ ads_manager_administrator.ordered_adsmanager_set.count|add:"-5" }} autres entrées du tableau...
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  {% if ads_manager_administrator.complete_ads_count %}
    <p class="fr-text--xs">
      Nombre d'ADS vérifiées, avec toutes les informations : {{ ads_manager_administrator.complete_ads_count }}/{{ ads_manager_administrator.ads_count }}
    </p>
  {% endif %}
{% endif %}
  <script src="ads_manager_request.ts"></script>

{% endblock body-content %}