<div class="fr-stepper">
  <h2 class="fr-stepper__title">Prise en compte de la réponse <span class="fr-stepper__state">Étape 2 sur 4</span>
  </h2>
  <div class="fr-stepper__steps" data-fr-current-step="2" data-fr-steps="4"></div>
  <p class="fr-stepper__details"><span class="fr-text--bold">Étape suivante :</span> Informations sur l'exploitation d'ADS</p>
</div>

<div>
  <p>
    Vous avez contacté le candidat le <strong>{{inscription.date_contact}}</strong> et avez défini un délai de réponse de <strong>{{inscription.delai_reponse}} jours</strong>.
  </p>

  <p>
    En cas de refus ou d'absence de réponse de la part du demandeur, vous pouvez archiver la demande.
  </p>

  <div class="my-4">

    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {% include "form_fields/number.html" with field=form.delai_reponse field_errors=form.errors.delai_reponse required=form.fields.delai_reponse.required %}
      <div class="fr-input-group">
        <button type="submit" name="action" value="update_delai" class="fr-btn">Modifier</button>
      </div>
    </form>
  </div>


  <div class="flex gap-3">
    <a
      class="fr-btn fr-btn--secondary"
      href="{% url 'app.liste_attente_inscription_archivage'  manager_id=ads_manager.id inscription_id=inscription.id %}"
    >
      Archiver
    </a>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="fr-input-group">
        <button type="submit" name="action" value="validation_reponse" class="fr-btn">Valider une réponse positive du candidat</button>
      </div>
    </form>
  </div>
</div>