{% extends "base_container.html" %}
{% block body-content %}
  <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
    <button
      class="fr-breadcrumb__button"
      aria-expanded="false"
      aria-controls="breadcrumb-1"
    >
      Voir le fil d’Ariane
    </button>
    <div class="fr-collapse" id="breadcrumb-1">
      <ol class="fr-breadcrumb__list">
        <li>
          <a class="fr-breadcrumb__link" href="{% url 'app.homepage' %}">Administrations en gestion</a>
        </li>
        <li>
          <a class="fr-breadcrumb__link" href="{% url 'app.liste_attente' manager_id=ads_manager.id %}">Liste d'attente {{ads_manager.content_object.display_text}}</a>
        </li>
        <li>
          <a class="fr-breadcrumb__link" aria-current="page">{% if object %}Modification de l'inscription{% else %}Nouvelle inscription{% endif %}</a>
        </li>
      </ol>
    </div>
  </nav>
  <div>
    <h1>
      {% if object %}
      Modification de l'inscription
      {% else %}
      Nouvelle inscription
      {% endif %}
    </h1>

    <h2>{{ads_manager.content_object.display_text|capfirst}}</h2>
  </div>

  {% if inscriptions_dupliquees %}
    <div class="mb-2 fr-alert fr-alert--warning">
      <h3 class="fr-alert__title">Inscription en doublon</h3>
      <p>Le numéro de carte professionnelle ou le nom et prénom renseigné pour cette inscription est déjà utilisé sur la liste d'attente d'une ou plusieurs administrations. Nous vous invitons à vous rapprocher de celles ci.</p>
      <ul>
        {% for duplicata in inscriptions_dupliquees %}
          <li>
            {{duplicata.ads_manager.content_object.display_text}}
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <div>
    <form method="post" enctype="multipart/form-data">
      <p>Le symbole * indique un champ obligatoire</p>
      {% csrf_token %}

      {% if form.non_field_errors %}
        
        <div class="fr-messages-group" aria-live="assertive">
          {% for error in form.non_field_errors %}
            <!-- Non-field error -->
            <p class="fr-message fr-message--error">{{ error }}</p>
          {% endfor %}
        </div>
      
      {% endif %}

      {% include "form_fields/string.html" with field=form.numero field_errors=form.errors.numero required=form.fields.numero.required %}

      {% include "form_fields/string.html" with field=form.nom field_errors=form.errors.nom required=form.fields.nom.required %}

      {% include "form_fields/string.html" with field=form.prenom field_errors=form.errors.prenom required=form.fields.prenom.required %}

      <div
        class="fr-input-group{% if form.errors.numero_licence %} fr-input-group--error{% endif %}{% if bold %} font-bold{% endif %}"
      >

        <label class="fr-label" for="{{ form.numero_licence.id_for_label }}">
          {{ form.numero_licence.label }}
          <span aria-hidden="true">*</span>
          <span class="fr-sr-only"> (obligatoire)</span>
          <button aria-describedby="tooltip" type="button" class="fr-btn--tooltip fr-btn">infobulle</button>
          <span class="fr-tooltip fr-placement" id="tooltip" role="tooltip">
            <p>
              Pour les nouvelles cartes professionnelles le numéro apparaît sous la date de validité, sous la mention "numéro de carte". 
              Pour les anciennes cartes professionnelles, le numéro apparaît en bas à gauche : en cas de doute vous pouvez vous rapprocher de votre Préfecture.
            </p>
            <img 
              alt="Reproduction d'une carte professionnelle de conducteur de taxi pour illustrer l'emplacement du numéro de carte professionnelle: le numéro apparaît sous la date de validité, sous la mention 'numéro de carte'"
              src="../../images/carte_pro.png"
            />
          </span>
          <span class="fr-hint-text">{{ form.numero_licence.help_text }}</span>

          
        </label>

        <input
          class="fr-input{% if form.errors.numero_licence %} fr-input--error{% endif %}"
          type="text"
          id="{{ form.numero_licence.id_for_label }}"
          name="{{ form.numero_licence.html_name }}"
          value="{{ form.numero_licence.value|default:"" }}"
          aria-describedby="{{form.numero_licence.id_for_label}}-messages"
          
        />

        <div class="fr-messages-group" id="{{form.numero_licence.id_for_label}}-messages" aria-live="polite">
          {% for error in form.errors.numero_licence %}
            <p
              class="fr-message fr-message--error"
              id="{{form.numero_licence.id_for_label}}-{{forloop.counter0}}-message-error"
            >
              {{ error }}
            </p>
          {% endfor %}
        </div>
      </div>

      {% include "form_fields/string.html" with field=form.numero_telephone field_errors=form.errors.numero_telephone required=form.fields.numero_telephone.required %}

      {% include "form_fields/string.html" with field=form.email field_errors=form.errors.email required=form.fields.email.required %}

      {% include "form_fields/string.html" with field=form.adresse field_errors=form.errors.adresse required=form.fields.adresse.required %}

      <div class="fr-input-group{% if form.errors.date_depot_inscription %} fr-input-group--error{% endif %}">
        <label class="fr-label" for="{{ form.date_depot_inscription.id_for_label }}">
          {{ form.date_depot_inscription.label }}
          <span aria-hidden="true">*</span>
          <span class="fr-sr-only"> (obligatoire)</span>
          {% if form.date_depot_inscription.help_text %}<span class="fr-hint-text">{{ form.date_depot_inscription.help_text }}</span>{% endif %}
        </label>

        <input
          class="fr-input{% if form.date_depot_inscription.errors %} fr-input--error{% endif %}"
          type="date"
          id="{{ form.date_depot_inscription.id_for_label }}"
          name="{{ form.date_depot_inscription.html_name }}"
          aria-describedby="{{form.date_depot_inscription.id_for_label}}-messages"
          value="{% if form.is_bound %}{{ form.data.date_depot_inscription|default:'' }}{% else %}{{ form.initial.date_depot_inscription|date:'Y-m-d' }}{% endif %}"
        />

        <div class="fr-messages-group" id="{{form.date_depot_inscription.id_for_label}}-messages" aria-live="polite">
          {% for error in form.date_depot_inscription.errors %}
            <p
              class="fr-message fr-message--error"
              id="{{form.date_depot_inscription.id_for_label}}-{{forloop.counter0}}-message-error"
            >
              {{ error }}
            </p>
          {% endfor %}
        </div>
      </div>

      <div class="fr-notice fr-notice--warning">
        <div class="fr-container">
          <div class="fr-notice__body">
            <p>
              <span class="fr-notice__title">Attention, </span>
              <span class="fr-notice__desc">le renouvellement doit</span>
              <a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000031971928" target="_blank" aria-label="Article legifrance sur le renovuellement des inscriptions à la lsite d'attente (nouvelle fenêtre)" class="fr-notice__link">impérativement</a>
              <span class="fr-notice__desc">intervenir chaque année avant la date anniversaire de l'inscription initiale</span>
            </p>
          </div>
        </div>
      </div>

      <div class="fr-input-group{% if form.errors.date_dernier_renouvellement %} fr-input-group--error{% endif %}">
        <label class="fr-label" for="{{ form.date_dernier_renouvellement.id_for_label }}">
          {{ form.date_dernier_renouvellement.label }}
          <span aria-hidden="true">*</span>
          <span class="fr-sr-only"> (obligatoire)</span>
          {% if form.date_dernier_renouvellement.help_text %}<span class="fr-hint-text">{{ form.date_dernier_renouvellement.help_text }}</span>{% endif %}
        </label>

        <input
          class="fr-input{% if form.date_dernier_renouvellement.errors %} fr-input--error{% endif %}"
          type="date"
          id="{{ form.date_dernier_renouvellement.id_for_label }}"
          name="{{ form.date_dernier_renouvellement.html_name }}"
          aria-describedby="{{form.date_dernier_renouvellement.id_for_label}}-messages"
          value="{% if form.is_bound %}{{ form.data.date_dernier_renouvellement|default:'' }}{% else %}{{ form.initial.date_dernier_renouvellement|date:'Y-m-d' }}{% endif %}"
        />

        <div class="fr-messages-group" id="{{form.date_dernier_renouvellement.id_for_label}}-messages" aria-live="polite">
          {% for error in form.date_dernier_renouvellement.errors %}
            <p
              class="fr-message fr-message--error"
              id="{{form.date_dernier_renouvellement.id_for_label}}-{{forloop.counter0}}-message-error"
            >
              {{ error }}
            </p>
          {% endfor %}
        </div>
      </div>
      <div class="fr-input-group">
        <a class="fr-btn fr-btn--secondary" href="{% url 'app.liste_attente' manager_id=ads_manager.id %}">Retour</a>
        {% if object %}
          <a
            class="fr-btn fr-btn--secondary"
            href="{% url 'app.liste_attente_inscription_archivage'  manager_id=ads_manager.id inscription_id=object.id %}"
          >
            Archiver
          </a>
        {% endif %}
        <button type="submit" class="fr-btn">Enregistrer l'inscription</button>
      </div>
    </form>
  </div>
{% endblock body-content %}