{% extends "base_container.html" %}
{% block body-content %}
  <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
    <button
      class="fr-breadcrumb__button"
      aria-expanded="false"
      aria-controls="breadcrumb-1"
    >
      Voir le fil d’Ariane
    </button>
    <div class="fr-collapse" id="breadcrumb-1">
      <ol class="fr-breadcrumb__list">
        <li>
          <a class="fr-breadcrumb__link" href="{% url 'app.homepage' %}">Accueil</a>
        </li>
        <li>
          <a class="fr-breadcrumb__link" href="{% url 'app.liste_attente' manager_id=ads_manager.id %}">
            Liste d'attente {{ads_manager.content_object.display_text}}
          </a>
        </li>
        <li>
          <a class="fr-breadcrumb__link" aria-current="page">Demandes archivées</a>
        </li>
      </ol>
    </div>
  </nav>
  <div>
    <h1>Demande archivées</h1>

    <h2>{{ads_manager.content_object.display_text}}</h2>
    
  </div>

  

  <div class="mt-3 flex flex-col">
    <div class="flex gap-3 items-center">
      <form method="GET" class="fr-search-bar" role="search">
        <label class="fr-label" for="search-input"> Rechercher </label>
        <input class="fr-input" aria-describedby="search-input-messages" placeholder="Rechercher" name="search" id="search-input" type="search" value="{{search}}">
        <div class="fr-messages-group" id="search-input-messages" aria-live="polite">
        </div>
        <button title="Rechercher" type="submit" class="fr-btn">Rechercher</button>
      </form>

      <a
        class="fr-btn fr-btn--icon-left fr-icon-draft-line"
        target="_blank"
        href="{% url 'app.liste_attente_archive_modele' manager_id=ads_manager.id %}"
      >
        Accéder au modèle du courrier d'archivage
      </a>

    </div>
    <div class="fr-table fr-table--no-scroll fr-table--multiline" id="table-0-component">
      <div class="fr-table__wrapper">
        <div class="fr-table__container">
          <div class="fr-table__content">
            <table id="table-0">
              <caption> Liste d'attente de la {{ads_manager.content_object.display_text}} </caption>
              <thead>
                <tr>
                  <th>N° d'enregistrement </th>
                  <th> Nom et prénom </th>
                  <th> N° carte pro </th>
                  <th> Date de dépôt de la demande </th>
                  <th> Date dernier renouvellement </th>
                  <th> Date fin de validité </th>
                  <th> Coordonnées </th>
                  <th> Exploitation ADS </th>
                  <th> Motif d'archivage </th>
                </tr>
              </thead>
              <tbody>
                {% for inscription in inscriptions %}
                  <tr id="inscription-{{forloop.counter}}" data-row-key="{{forloop.counter}}">
                    <td>{{inscription.numero}}</td>
                    <td>{{inscription.nom}} {{inscription.prenom}}</td>
                    <td>{{inscription.numero_licence}}</td>
                    <td>{{inscription.date_depot_inscription}}</td>
                    <td>{{inscription.date_dernier_renouvellement}}</td>
                    <td>{{inscription.date_fin_validite}}</td>
                    <td>{{inscription.email}} {{inscription.numero_telephone}}</td>
                    <td>{% if inscription.exploitation_ads %}Oui{% else %}Non{% endif %}</td>
                    <td>
                      {{inscription.get_motif_archivage_display|default:"—"}}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <nav role="navigation" class="fr-pagination self-center" aria-label="Pagination">
      <ul class="fr-pagination__list">

        {% if page_obj.has_previous %}
        <li>
          <a class="fr-pagination__link fr-pagination__link--first" href="?page=1&search={{search}}"> Première page </a>
        </li>
        <li>
          <a class="fr-pagination__link fr-pagination__link--prev fr-pagination__link--lg-label" href="?page={{page_obj.previous_page_number}}&search={{search}}" title="Page précédente"> Page précédente </a>
        </li>
        {% endif %}
        <li>
          <a class="fr-pagination__link" aria-current="page" title="Page {{page_obj.number}}"> {{page_obj.number}} </a>
        </li>

        {% if page_obj.has_next %}
        <li>
          <a class="fr-pagination__link fr-pagination__link--next fr-pagination__link--lg-label" href="?page={{page_obj.next_page_number}}&search={{search}}" title="Page suivante"> Page suivante </a>
        </li>
        <li>
          <a class="fr-pagination__link fr-pagination__link--last" href="?page={{ page_obj.paginator.num_pages }}&search={{search}}" title="Dernière page"> Dernière page </a>
        </li>

        {% endif %}

      </ul>
    </nav>
  </div>
{% endblock body-content %}
