{% load is_subpath %}

{% url 'app.dashboards.list' as dashboards_index_url %}
{% url 'app.ads-manager.index' as ads_manager_index_url %}

{% is_subpath request.path dashboards_index_url 2 as in_dashboards %}
{% is_subpath request.path ads_manager_index_url 2 as in_ads_manager %}

<nav class="fr-sidemenu" aria-labelledby="fr-sidemenu-title">
  <div class="fr-sidemenu__inner">
    <button class="fr-sidemenu__btn" hidden aria-controls="fr-sidemenu-wrapper" aria-expanded="false">
      Voir le menu
    </button>
    <div class="fr-collapse" id="fr-sidemenu-wrapper">
      <div class="fr-sidemenu__title" id="fr-sidemenu-title">Registre des ADS</div>
      <ul class="fr-sidemenu__list">
        {% if user.is_staff %}
        <li class="fr-sidemenu__item{% if in_dashboards %} fr-sidemenu__item--active{% endif %}">
          <a class="fr-sidemenu__link" href="{% url 'app.dashboards.list' %}" target="_self"{% if in_dashboards %} aria-current="page"{% endif %}>Dashboards</a>
        </li>
        {% endif %}
        {% if user.adsmanageradministrator_set.all|length > 0 %}
        <li class="fr-sidemenu__item">
          <button
            class="fr-sidemenu__btn"
            aria-expanded="true"
            aria-controls="fr-sidemenu-item-2-1"
          >
            Accès préfecture
          </button>
          <div class="fr-collapse" id="fr-sidemenu-item-2-1">
            <ul class="fr-sidemenu__list">
              {% for ads_manager_administrator in user.adsmanageradministrator_set.all %}

              {% url 'app.ads-manager-admin.details' prefecture_id=ads_manager_administrator.prefecture_id as ads_manager_admin_url %}
              {% is_subpath request.path ads_manager_admin_url 3 as in_ads_manager_admin %}

              <li class="fr-sidemenu__item{% if in_ads_manager_admin %} fr-sidemenu__item--active{% endif %}">
                <a
                  class="fr-sidemenu__link"
                  href="{% url 'app.ads-manager-admin.details' prefecture_id=ads_manager_administrator.prefecture_id %}"
                  target="_self"
                  {% if in_ads_manager_admin %}aria-current="page"{% endif %}>{{ ads_manager_administrator.prefecture.text }}</a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </li>
        {% endif %}
        <li class="fr-sidemenu__item{% if in_ads_manager %} fr-sidemenu__item--active{% endif %}">
          <a class="fr-sidemenu__link" href="{% url 'app.ads-manager.index' %}" target="_self"{% if in_ads_manager %} aria-current="page"{% endif %}>Gestion des ADS</a>
        </li>
      </ul>
    </div>
  </div>
</nav>