{% extends "./base.html" %}
{% load show_pagination_links %}
{% block main %}
  <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
    <button class="fr-breadcrumb__button"
            aria-expanded="false"
            aria-controls="breadcrumb-1">Voir le fil d'Ariane</button>
    <div class="fr-collapse" id="breadcrumb-1">
      <ol class="fr-breadcrumb__list">
        <li>
          <a class="fr-breadcrumb__link" href="{% url 'app.ads-manager.index' %}">Gestion des ADS</a>
        </li>
        <li>
          <a class="fr-breadcrumb__link"
             href="{% url 'app.ads-manager.detail' manager_id=ads_manager.id %}">{{ ads_manager.content_object.display_text|capfirst }}</a>
        </li>
        <li>
          <a class="fr-breadcrumb__link" aria-current="page">Liste d'attente</a>
        </li>
      </ol>
    </div>
  </nav>
  <h1>Liste d'attente de {{ ads_manager.content_object.display_fulltext }}</h1>
  {% comment %} Menu {% endcomment %}
  <p>
    <a class="fr-link fr-icon-arrow-right-line fr-link--icon-right"
       href="{% url 'app.waiting-list.create' manager_id=ads_manager.id %}">Ajouter une nouvelle demande d'inscription</a>
  </p>
  <div class="fr-table fr-table--md fr-table--no-scroll">
    <div class="fr-table__wrapper">
      <div class="fr-table__container">
        <div class="fr-table__content">
          <table>
            <thead>
              <tr>
                <th>N°</th>
                <th>Nom</th>
                <th>N° carte pro.</th>
                <th>Dépôt demande initiale</th>
                <th>Fin de validité</th>
                <th>Coordonnées</th>
                <th>Expl. d'une ADS depuis 2 ans min.</th>
                <th class="!text-right">Consulter, Modifier, Radier ou Attribuer</th>
              </tr>
            </thead>
            <tbody>
              {% for entry in object_list %}
                {% if not entry.recently_updated %}
                  <tr>
                    <td colspan="8" class="!bg-none !text-center">
                      <p class="fr-badge fr-badge--info fr-badge--sm">Informations à vérifier</p>
                    </td>
                  </tr>
                {% endif %}
                <tr>
                  <td>
                    <div class="flex flex-col items-center">
                      {% if entry.status == 'incomplete' %}
                        <p class="fr-badge fr-badge--warning fr-badge--no-icon fr-badge--sm text-center">demande incomplète</p>
                      {% endif %}
                      <span>{{ entry.number }}</span>
                    </div>
                  </td>
                  <td>{{ entry.name }}</td>
                  <td>{{ entry.license_number }}</td>
                  <td>{{ entry.initial_request_date }}</td>
                  <td>
                    {% if entry.end_validity_date_expired %}<p class="fr-badge fr-badge--warning fr-badge--sm">expiré</p>{% endif %}
                    {{ entry.end_validity_date }}
                  </td>
                  <td>
                    {{ entry.phone_number }}
                    <br>
                    {{ entry.email }}
                  </td>
                  <td>
                    {% if entry.used_ads_two_years is None %}
                      <p class="fr-badge fr-badge--info fr-badge--no-icon fr-badge--sm">inconnu</p>
                    {% elif entry.used_ads_two_years %}
                      <p class="fr-badge fr-badge--success fr-badge--no-icon fr-badge--sm">oui</p>
                    {% else %}
                      <p class="fr-badge fr-badge--warning fr-badge--no-icon fr-badge--sm">non</p>
                    {% endif %}
                  </td>
                  <td class="!text-right">
                    <a class="fr-btn fr-btn--secondary fr-icon-eye-line"
                       href="{% url 'app.waiting-list.detail' manager_id=ads_manager.id waiting_list_id=entry.id %}"></a>
                  </td>
                {% empty %}
                  <td colspan="7">
                    <p class="text-center">Aucune entrée dans la liste d'attente</p>
                  </td>
                {% endfor %}
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {% show_pagination_links page_obj %}
  </div>
{% endblock main %}
