{% extends "./base.html" %}
{% load str_to_date %}
{% block main %}
  <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
    <button class="fr-breadcrumb__button"
            aria-expanded="false"
            aria-controls="breadcrumb-1">Voir le fil d'Ariane</button>
    <div class="fr-collapse" id="breadcrumb-1">
      <ol class="fr-breadcrumb__list">
        <li>
          <a class="fr-breadcrumb__link" href="{% url 'app.ads-manager.index' %}">Gestion des ADS</a>
        </li>
        <li>
          <a class="fr-breadcrumb__link"
             href="{% url 'app.ads-manager.detail' manager_id=ads_manager.id %}">{{ ads_manager.content_object.display_text|capfirst }}</a>
        </li>
        <li>
          <a class="fr-breadcrumb__link"
             href="{% url 'app.waiting-list.list' manager_id=ads_manager.id %}">Liste d'attente</a>
        </li>
        <li>
          {% if ads %}
            <a class="fr-breadcrumb__link" aria-current="page">Entrée {{ object.number }} de la liste d'attente</a>
          {% else %}
            <a class="fr-breadcrumb__link" aria-current="page">Enregistrement d'une nouvelle entrée dans la liste d'attente</a>
          {% endif %}
        </li>
      </ol>
    </div>
  </nav>
  {% if object %}
    <p>
      🕰️&nbsp;<a class="fr-link fr-icon-arrow-right-line fr-link--icon-right"
   href="{% url 'app.waiting-list.history' manager_id=ads_manager.id waiting_list_id=object.id %}">Voir l'historique des modifications</a>
    </p>
  {% endif %}
  {% if object %}
    <div class="fr-notice fr-notice--info fr-mb-3w">
      <div class="fr-container">
        <div class="fr-notice__body">
          <p>
            <span class="fr-notice__title">Pour modifier les informations de cette demande,</span>
            <span class="fr-notice__desc">éditez les champs du formulaire et cliquez sur "Valider" en bas de cette page.</span>
          </p>
        </div>
      </div>
    </div>
  {% else %}
    <div class="fr-callout fr-icon-information-line">
      <h3 class="fr-callout__title">Rappel de la réglementation</h3>
      <ul class="fr-callout__text">
        <li>
          <a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000033745452?idSecParent=LEGISCTA000023083937"
             target="_blank">Article L3121-1-2 du code des transports</a> : Le titulaire exploite personnellement l'autorisation de stationnement mentionnée à <a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000029532082"
    target="_blank">l'article L. 3121-1</a>.
        </li>
        <li>
          <a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000031971928"
             target="_blank">Article R3121-13 du code des transports</a> : "[…] cessent de figurer sur la liste d'attente d'une zone géographique :
          <ul>
            <li>les demandes formées par un candidat qui figure déjà sur une autre liste d'attente ;</li>
            <li>
              les demandes qui ne sont pas renouvelées, par tout moyen permettant d'en accuser réception, avant la date anniversaire de l'inscription initiale ;
            </li>
            <li>
              les demandes formées par un candidat qui ne dispose pas de la carte professionnelle, en cours de validité, prévue à l'article <a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000023083909"
    target="_blank">L. 3121-10</a>.
            </li>
            <li>
              Les demandes formées par un candidat qui détient déjà, à la date de sa demande, une autorisation de stationnement."
            </li>
          </ul>
        </li>
      </ul>
    </div>
  {% endif %}
  <form method="post" enctype="multipart/form-data">
    <!-- Non-field errors -->
    {% if form.non_field_errors %}
      <div class="fr-input-group fr-input-group--error">
        {% for error in form.non_field_errors %}<p class="fr-error-text">{{ error }}</p>{% endfor %}
      </div>
    {% endif %}
    {% csrf_token %}
    <fieldset class="fr-mb-3w fr-pt-1w fr-pb-2w fr-pl-2w fr-pr-2w border border-neutral-300">
      <legend class="text-2xl font-semibold">
        {% if object %}
          Entrée {{ object.number }} de la liste d'attente
        {% else %}
          Nouvelle entrée dans la liste d'attente
        {% endif %}
      </legend>
      <!-- number -->
      {% include "form_fields/string.html" with field=form.number field_errors=form.errors.number required=form.fields.number.required readonly=ads_manager.is_locked %}
      <!-- name -->
      {% include "form_fields/string.html" with field=form.name field_errors=form.errors.name required=form.fields.name.required readonly=ads_manager.is_locked %}
      <!-- license_number -->
      {% include "form_fields/string.html" with field=form.license_number field_errors=form.errors.license_number required=form.fields.license_number.required readonly=ads_manager.is_locked %}
      <!-- phone_number -->
      {% include "form_fields/string.html" with field=form.phone_number field_errors=form.errors.phone_number required=form.fields.phone_number.required readonly=ads_manager.is_locked %}
      <!-- email -->
      {% include "form_fields/string.html" with field=form.email field_errors=form.errors.email required=form.fields.email.required readonly=ads_manager.is_locked %}
      <!-- address -->
      {% include "form_fields/string.html" with field=form.address field_errors=form.errors.address required=form.fields.address.required readonly=ads_manager.is_locked %}
      <!-- initial_request_date -->
      {% include "form_fields/date.html" with x_model="initial_request_date" field=form.initial_request_date field_errors=form.errors.initial_request_date required=form.fields.initial_request_date.required readonly=ads_manager.is_locked %}
      <!-- last_update_date -->
      {% include "form_fields/date.html" with x_model="last_renew_date" field=form.last_renew_date field_errors=form.errors.last_renew_date required=form.fields.last_renew_date.required readonly=ads_manager.is_locked %}
      <!-- end_validity_date -->
      {% include "form_fields/date.html" with x_model="end_validity_date" field=form.end_validity_date field_errors=form.errors.end_validity_date required=form.fields.end_validity_date.required readonly=ads_manager.is_locked %}
    </fieldset>
    <!-- Submit buttons -->
    <div class="fr-input-group">
      <button type="submit" class="fr-btn">Enregistrer</button>
    </div>
  </form>
{% endblock main %}
