Vous recevez ce message suite à votre demande de réinitialisation du mot de passe de votre compte Mes ADS.

Rendez-vous sur la page suivante pour choisir un nouveau mot de passe :

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Pour rappel, votre nom d'utilisateur est : {{ user.email }}


Si vous n’êtes pas à l’origine de cette demande, vous pouvez ignorer ce message.

-- 
Mes ADS est développé par une petite équipe prête à vous aider. Si vous avez un problème, une difficulté ou une suggestion, n'hésitez pas à nous écrire par email à {{ MESADS_CONTACT_EMAIL }}