{% extends "base.html" %}

{% block title %}Création d'un compte MesADS{% endblock %}

{% block body %}
<div class="fr-grid-row fr-grid-row--center">
  <div class="fr-col-12 fr-col-sm-8 fr-col-md-6">
    <h1>Création d'un compte MesADS</h1>

    <p>
      Renseignez vos informations afin de créer un compte. Il sera nécessaire de cliquer sur le lien reçu sur votre adresse email afin de la valider.
    </p>

    <form method="post" action="{% url 'signup' %}">
      {% csrf_token %}

      <!-- Username -->
      <div class="fr-input-group{% if form.errors.email %} fr-input-group--error{% endif %}">
        <label
          class="fr-label"
          for="{{ form.email.name }}"
        >
          {{ form.email.label }} :
        </label>

        <input
          class="fr-input{% if form.errors.email %} fr-input--error{% endif %}"
          type="text"
          id="{{ form.email.name}}"
          name="{{ form.email.name }}"
          value="{{ form.email.value|default:"" }}"
        />

        {% for error in form.errors.email %}
        <p class="fr-error-text">
          {{ error }}
        </p>
        {% endfor %}
      </div>

      <!-- Password -->
      <div class="fr-input-group{% if form.errors.password1 %} fr-input-group--error{% endif %}">
        <label
          class="fr-label"
          for="{{ form.password1.name }}"
        >
          {{ form.password1.label }} :
        </label>

        <input
          class="fr-input{% if form.errors.password1 %} fr-input--error{% endif %}"
          type="password"
          id="{{ form.password1.name}}"
          name="{{ form.password1.name }}"
          value="{{ form.password1.value|default:"" }}"
        />

        {% for error in form.errors.password1 %}
        <p class="fr-error-text">
          {{ error }}
        </p>
        {% endfor %}
      </div>

      <!-- Password confirm -->
      <div class="fr-input-group{% if form.errors.password2 %} fr-input-group--error{% endif %}">
        <label
          class="fr-label"
          for="{{ form.password2.name }}"
        >
          {{ form.password2.label }} :
        </label>

        <input
          class="fr-input{% if form.errors.password2 %} fr-input--error{% endif %}"
          type="password"
          id="{{ form.password2.name}}"
          name="{{ form.password2.name }}"
          value="{{ form.password2.value|default:"" }}"
        />

        {% for error in form.errors.password2 %}
        <p class="fr-error-text">
          {{ error }}
        </p>
        {% endfor %}
      </div>

      <!-- Non-fields errors -->
      {% if form.non_field_errors %}
        <div class="fr-input-group fr-input-group--error">
          {% for error in form.non_field_errors %}
          <!-- Non-field error -->
          <p class="fr-error-text">
            {{ error }}
          </p>
          {% endfor %}
        </div>
      {% endif %}

      <div class="fr-input-group">
        <button type="submit" class="fr-btn">Créer un compte</button>
      </div>

    </form>
  </div>
</div>
{% endblock %}
