<div
    class="fr-checkbox-group fr-input-group{% if field_errors %} fr-input-group--error{% endif %}"
    {% if x_show %}x-show="{{ x_show }}"{% endif %}
    {% if x_transition %}x-transition{% endif %}
>
    <input
        type="checkbox"
        id="{{ field.id_for_label }}"
        name="{{ field.html_name }}"
        {% if field.value %}checked{% endif %}
        {% if readonly %}disabled{% endif %}
    />
    <label class="fr-label" for="{{ field.id_for_label }}">
        {{ field.label }}{% if required %}*{% endif %}
        {% if field.help_text %}<span class="fr-hint-text">{{ field.help_text }}</span>{% endif %}
    </label>
</div>