<div
  class="fr-input-group{% if field_errors %} fr-input-group--error{% endif %}{% if bold %} font-bold{% endif %}"
  {% if x_show %}x-show="{{ x_show }}"{% endif %}
  {% if x_transition %}x-transition{% endif %}
>

  <label class="fr-label" for="{{ field.id_for_label }}">
    {{ field.label }}
    {% if required %}
      <span aria-hidden="true">*</span>
      <span class="fr-sr-only"> (obligatoire)</span>
    {% endif %}
    {% if field.help_text %}<span class="fr-hint-text">{{ field.help_text }}</span>{% endif %}
  </label>

  <input
    class="fr-input{% if field_errors %} fr-input--error{% endif %}"
    type="{% if html_type %}{{ html_type }}{% else %}text{% endif %}"
    id="{{ field.id_for_label }}"
    name="{{ field.html_name }}"
    value="{{ field.value|default:"" }}"
    :readonly="
      typeof update !== 'undefined'
        ? (!update || {{ readonly|yesno:'true,false' }})
        : {{ readonly|yesno:'true,false' }}
    "
  />

  {% for error in field_errors %}
    <p class="fr-error-text">{{ error }}</p>
  {% endfor %}
</div>
