{% load static %}

<p>
    Pour la création d’un compte sur l’outil Mes.ADS, il vous suffit de :
</p>

<ul>
    <li>Ouvrir la page web <a href="{% url 'django_registration_register' %}" class="fr-btn fr-btn--sm">Créer un compte</a></li>
    <li>Renseigner votre adresse e-mail professionnelle ainsi que le mot de passe que vous aurez préalablement choisi (8 caractères minimum).</li>
</ul>

{% with "Création d'un compte Mes ADS" as alt_img_text %}
<figure class="fr-content-media" role="group">
    <div class="fr-content-media__img highlight-shadow">
        <img class="fr-fluid-img" src="{% static 'faq/account_create.png' %}" alt="{{ alt_img_text }}" />
    </div>
    <figcaption class="fr-content-media__caption">{{ alt_img_text }}</figcaption>
</figure>
{% endwith %}

<p>
    Vous recevrez un e-mail de confirmation à l’adresse que vous avez renseignée. Cliquez sur le bouton contenu dans cet e-mail pour activer votre compte.
</p>