{% extends "base_container.html" %}
{% block body-content %}

<!-- Breadcrumb -->
<nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
  <button class="fr-breadcrumb__button"
          aria-expanded="false"
          aria-controls="breadcrumb-1">Voir le fil d'Ariane</button>
  <div class="fr-collapse" id="breadcrumb-1">
    <ol class="fr-breadcrumb__list">
      <li>
        <a class="fr-breadcrumb__link" href="{% url 'app.homepage' %}">Accueil</a>
      </li>
      <li>
        <a class="fr-breadcrumb__link" aria-current="page">Connexion</a>
      </li>
    </ol>
  </div>
</nav>

<!-- Formulaire de connexion -->
<div class="fr-grid-row fr-grid-row--center">
  <div class="fr-col-12 fr-col-md-6">
    <h1 class="text-center">Connexion</h1>
    <p>
      Sauf mention contraire, tous les champs sont obligatoires.
    </p>

    {% if next and user.is_authenticated %}
      <div class="fr-input-group fr-input-group--error">
        <p class="fr-error-text">
          Votre compte n'a pas les permissions nécessaires pour accéder à cette
          page. Pour poursuivre, veuillez vous connecter à un compte avec
          suffisamment de permissions.
        </p>
      </div>
    {% endif %}
    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      {% if not form.get_user.otp_secret %}

        <!-- Username -->
        <div class="fr-input-group{% if form.errors.username %} fr-input-group--error{% endif %}">

          <label
            class="fr-label"
            for="{{ form.username.name }}"
          >
            {{ form.username.label }}
          </label>
          <input
            class="fr-input"
            type="text"
            id="{{ form.username.name }}"
            name="{{ form.username.name }}"
            value="{{ form.username.value|default:"" }}"
            aria-describedby="username-messages"
            aria-required="true"
          />

          <div class="fr-messages-group" id="username-messages" aria-live="assertive">
          {% for error in form.errors.username %}
            <p class="fr-message fr-message--error">{{ error }}</p>
          {% endfor %}
          </div>
        </div>

        <div class="fr-password{% if form.password.errors %} fr-input-group--error{% endif %}">
          <label
            class="fr-label"
            for="{{form.password.name}}"
          >
            {{form.password.label}}
          </label>
          <div class="fr-input-wrap">
            <input
              class="fr-password__input fr-input"
              type="password"
              name="{{ form.password.name }}"
              id="{{ form.password.name }}"
              value="{{ form.password.value|default:"" }}"
              aria-describedby="password-messages"
              aria-required="true"
            />
          </div>
          <div class="fr-messages-group" id="password-messages" aria-live="assertive">
            {% for error in form.errors.password %}
              <p class="fr-message fr-message--error">{{ error }}</p>
            {% endfor %}
          </div>
          <div class="fr-password__checkbox fr-checkbox-group fr-checkbox-group--sm">
            <input aria-label="Afficher le mot de passe" id="undefined-show" type="checkbox">
            <label class="fr--password__checkbox fr-label" for="undefined-show">
              <i class="fr-icon-eye-line" aria-hidden="true"></i>
              <span class="fr-sr-only">Afficher / masquer</span>
            </label>
          </div>
        </div>
      {% else %}

        {{ form.username.as_hidden }}
        {{ form.password.as_hidden }}
        <!-- OTP -->
        {% if form.get_user.otp_secret %}
          {% include "form_fields/string.html" with field=form.otp field_errors=form.errors.otp required=form.fields.otp.required readonly=ads_manager.is_locked %}
        {% endif %}
      
        {% endif %}

      {% if form.non_field_errors %}
        
        <div class="fr-messages-group" aria-live="assertive">
          {% for error in form.non_field_errors %}
            <!-- Non-field error -->
            <p class="fr-message fr-message--error">{{ error }}</p>
          {% endfor %}
        </div>
      
      {% endif %}
      <input type="hidden" name="next" value="{{ next }}">
      
      <div class="fr-checkbox-group">
          <input
            name="{{form.remember_me.name}}"
            id="{{form.remember_me.name}}"
            type="checkbox"
          />
          <label class="fr-label" for="{{form.remember_me.name}}">
            {{form.remember_me.label}}
          </label>
        </div>

      <div class="fr-btns-group fr-mt-2v">
        <button type="submit" class="fr-btn fr-btn--lg">Connexion</button>
      </div>
      <p class="fr-pt-1w text-right">
        <a href="{% url 'password_reset' %}">Mot de passe perdu ?</a>
      </p>
    </form>
    <hr class="fr-mt-2w">
    <h2 class="text-center">Première visite ?</h2>
    <p class="fr-info-text">
      Connexion requise uniquement pour : gérer les ADS (mairies/préfectures), s'inscrire sur une liste d'attente (futurs chauffeurs) 
      ou enregistrer un taxi relais — Accès libre à toutes les autres fonctionnalités.
    </p>
    <p class="text-center">
      <a class="fr-btn fr-btn--lg fr-btn--secondary"
          href="{% url 'pre_register' %}">Créer votre compte</a>
    </p>
  </div>
</div>
{% endblock %}
