{% extends "base_container.html" %}
{% block body-content %}

<!-- Breadcrumb -->
<nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
  <button class="fr-breadcrumb__button"
          aria-expanded="false"
          aria-controls="breadcrumb-1">Voir le fil d'Ariane</button>
  <div class="fr-collapse" id="breadcrumb-1">
    <ol class="fr-breadcrumb__list">
      <li>
        <a class="fr-breadcrumb__link" href="{% url 'app.homepage' %}">Accueil</a>
      </li>
      <li>
        <a class="fr-breadcrumb__link" aria-current="page">Connexion</a>
      </li>
    </ol>
  </div>
</nav>

<!-- Formulaire de connexion -->
<div class="fr-grid-row fr-grid-row--center">
  <div class="fr-col-12 fr-col-md-6">
    <h1 class="text-center">Connexion</h1>

    <div class="fr-alert fr-alert--info mb-3">
      <h2 class="fr-alert__title">ProConnect</h2>
      <p>L'authentification sur MesADS se fera désormais uniquement via ProConnect, en cliquant sur le bouton ci-dessous. Si vous ne possédez pas de compte ProConnect, vous pouvez en créer un via ce même bouton, en utilisant votre adresse mail.</p>
    </div>

    <div class="text-center fr-connect-group">
      <a href="{% url 'oidc_authentication_init' %}" class="fr-connect">
        <span class="fr-connect__login">S’identifier avec</span>
        <span class="fr-connect__brand">ProConnect</span>
      </a>
      <p>
        <a
          href="https://www.proconnect.gouv.fr/"
          id="connect-link-0"
          target="_blank"
          rel="noopener"
          title="Qu'est-ce que ProConnect ? - nouvelle fenêtre"
        >
          Qu'est-ce que ProConnect ?
          <span class="fr-sr-only"> Nouvelle fenêtre</span>
        </a>
      </p>
    </div>
  </div>
</div>
{% endblock %}
