{% extends "base_container.html" %}
{% block body-content %}
  <h1>Réinitialisation de votre mot de passe</h1>
  <p>
    Dans les prochaines minutes, vous allez recevoir un email avec les instructions pour réinitialiser votre mot de passe.
  </p>
  <p>
    Si vous ne recevez pas cet email, essayez de vérifier votre boîte spam. N'hésitez pas à nous contacter par email à {{ MESADS_CONTACT_EMAIL }}
  </p>
  <p>
    <a href="{% url 'login' %}">← Retour vers le formulaire d'authentification</a>
  </p>
{% endblock body-content %}
