{% extends "base.html" %}

{% block body %}
<h1>{{ title }}</h1>

<p>
  Entrez votre nouveau mot de passe deux fois. Vous pourrez ensuite
  l'utiliser pour vous connecter.
</p>

<div class="fr-grid-row">
  <div class="fr-col-12 fr-col-md-6">
    <form method="post">
      {% csrf_token %}

      <!-- New password -->
      <div class="fr-input-group{% if form.errors.email %} fr-input-group--error{% endif %}">
        <label
          class="fr-label"
          for="{{ form.new_password1.name }}"
        >
          {{ form.new_password1.label }}:
        </label>

        <input
          class="fr-input{% if form.new_password1.email %} fr-input--error{% endif %}"
          type="password"
          id="{{ form.new_password1.name}}"
          name="{{ form.new_password1.name }}"
          value="{{ form.new_password1.value|default:"" }}"
        />

        {% for error in form.errors.new_password1 %}
        <p class="fr-error-text">
          {{ error }}
        </p>
        {% endfor %}
      </div>

      <!-- New password confirmation -->
      <div class="fr-input-group{% if form.errors.email %} fr-input-group--error{% endif %}">
        <label
          class="fr-label"
          for="{{ form.new_password2.name }}"
        >
          {{ form.new_password2.label }}:
        </label>

        <input
          class="fr-input{% if form.new_password2.email %} fr-input--error{% endif %}"
          type="password"
          id="{{ form.new_password2.name}}"
          name="{{ form.new_password2.name }}"
          value="{{ form.new_password2.value|default:"" }}"
        />

        {% for error in form.errors.new_password2 %}
        <p class="fr-error-text">
          {{ error }}
        </p>
        {% endfor %}
      </div>

      <div class="fr-input-group">
        <button type="submit" class="fr-btn">Réinitialiser</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
