{% extends "base.html" %}

{% block body %}
<h1>{{ title }}</h1>

<p class="fr-text--lead">
  Entrez l'email associé à votre compte dans le formulaire ci-dessous. Vous
  recevrez un email au bout de quelques minutes afin de réinitialiser votre
  mot de passe.
</p>

<div class="fr-grid-row">
  <div class="fr-col-12 fr-col-md-6">
    <form method="post" action="{% url 'password_reset' %}">
      {% csrf_token %}

      <!-- Email -->
      <div class="fr-input-group{% if form.errors.email %} fr-input-group--error{% endif %}">
        <label
          class="fr-label"
          for="{{ form.email.name }}"
        >
          {{ form.email.label }}:
        </label>

        <input
          class="fr-input{% if form.errors.email %} fr-input--error{% endif %}"
          type="text"
          id="{{ form.email.name}}"
          name="{{ form.email.name }}"
          value="{{ form.email.value|default:"" }}"
        />

        {% for error in form.errors.email %}
        <p class="fr-error-text">
          {{ error }}
        </p>
        {% endfor %}
      </div>

      <div class="fr-input-group">
        <button type="submit" class="fr-btn">Réinitialiser</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
