{% extends "base_container.html" %}
{% block body-content %}
<nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
  <button class="fr-breadcrumb__button"
          aria-expanded="false"
          aria-controls="breadcrumb-1">Voir le fil d'Ariane</button>
  <div class="fr-collapse" id="breadcrumb-1">
    <ol class="fr-breadcrumb__list">
      <li>
        <a class="fr-breadcrumb__link" href="{% url 'app.homepage' %}">Accueil</a>
      </li>
      <li>
        <a class="fr-breadcrumb__link" aria-current="page">Inscription</a>
      </li>
    </ol>
  </div>
</nav>

<h1 class="text-center">
  Quel est votre profil ?
</h1>

<div class="fr-grid-row fr-grid-row--gutters">
  <div class="fr-col-4">
    <div class="fr-tile fr-enlarge-link" id="tile-reglementation">
      <div class="fr-tile__body">
        <div class="fr-tile__content">
          <h3 class="fr-tile__title">
            <a href="{% url 'oidc_authentication_init' %}">Administration</a>
          </h3>
          <p class="fr-tile__detail">Vous gérez les Autorisations de Stationnement au sein d’une mairie, EPCI ou d’une préfecture ?</p>
        </div>
      </div>
      <div class="fr-tile__header">
        <div class="fr-tile__pictogram">
          <img src="../images/registration/profil_administration.png" width="60px">
        </div>
      </div>
    </div>
  </div>
  <div class="fr-col-4">
    <div class="fr-tile fr-enlarge-link" id="tile-repertoire">
      <div class="fr-tile__body">
        <div class="fr-tile__content">
          <h3 class="fr-tile__title">
            <a href="{% url 'oidc_authentication_init' %}">Professionnel du secteur</a>
          </h3>
          <p class="fr-tile__detail">Vous avez besoin d’enregistrer un taxi relais ?</p>
        </div>
      </div>
      <div class="fr-tile__header">
        <div class="fr-tile__pictogram">
          <img src="../images/registration/profil_pro.png" width="60px">
        </div>
      </div>
    </div>
  </div>
  <div class="fr-col-4">
    <div class="fr-tile fr-enlarge-link" id="tile-repertoire">
      <div class="fr-tile__body">
        <div class="fr-tile__content">
          <h3 class="fr-tile__title">
            <a href="{% url 'app.homepage' %}">Autre</a>
          </h3>
          <p class="fr-tile__detail">Vous n’avez pas besoin de vous inscrire pour accéder aux fonctionnalités.</p>
        </div>
      </div>
      <div class="fr-tile__header">
        <div class="fr-tile__pictogram">
          <img src="../images/registration/profil_autre.png" width="60px">
        </div>
      </div>
    </div>
  </div>
</div>

</div>
  
{% endblock %}