h1 {
  font-size: 2rem;
}

.table-row-success td:first-child:before {
  content: "✅ ";
}

.table-row-failure td:first-child:before {
  content: "🚫 ";
}

.table-row-unknown td:first-child:before {
  content: "⁉️  ";
}

.highlight-shadow {
  box-shadow: 2px 2px 2px 2px;
}

/*
   If the title of the download card is too long, add ellipsis.
*/
.fr-download--card>p:first-of-type {
  overflow: hidden;
  text-overflow: ellipsis;
}

.fr-download--card>p:first-of-type:hover {
  overflow: visible;
}

/*
  By default, django-autocomplete-light widgets are styled with
  django/contrib/admin/static/admin/css/vendor/select2/select2.css.

  The overrides below make these widgets styled the same as components using DSFR.
*/
.select2,
.select2-container {
  width: 100% !important;
  margin-top: .5rem !important;
}

.select2-container .select2-selection--single {
  height: 2.6rem !important;
}

.select2-container--default .select2-selection--single {
  background-color: var(--background-contrast-grey) !important;
  border: none !important;
  box-shadow: inset 0 -2px 0 0 var(--border-plain-grey) !important;
  border-radius: .25rem .25rem 0 0 !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 1rem !important;
  padding-top: .5rem !important;
  padding-bottom: .5rem !important;
}

.select2-dropdown {
  top: -.5rem;
}

/* Highlight table>tr */
.tr-highlighted {
  /* !important is required to override the background-color set by default to even rows */
  background-color: rgba(0, 127, 127, 0.15) !important;
}

#banner-container {
  position: relative;
}

#banner {
  position: relative;
  height: 33vw;

  background-image: url('/static/images/banner-notext.svg');
  background-repeat: no-repeat;
  background-size: 100%;
}

#banner-text {
  color: #fff;
  font-weight: bold;
  text-align: center;
  line-height: 1.2;

  font-size: 2.5vw;

  position: absolute;
  top: 35%;
  left: 55%;
  transform: translate(-50%, -50%);
}

#banner-container main {
  transform: translate(0, -8vw);
}