main {
  min-height: 50vh;
  padding-top: 50px;
  padding-bottom: 50px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

h2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.table-row-success {
  background-color: rgba(31, 141, 73, 0.3) !important;
}

.table-row-failure {
  background-color: rgba(246, 7, 0, 0.3) !important;
}
