{% extends "base.html" %}
{% load str_to_date %}

{% block title %}{{ ads_manager.content_object.display_text|capfirst }} - Gestion des ADS{% endblock %}

{% block body %}
<nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
  <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d’Ariane</button>
  <div class="fr-collapse" id="breadcrumb-1">
    <ol class="fr-breadcrumb__list">
      <li>
        <a class="fr-breadcrumb__link" href="{% url 'app.ads-manager.index' %}">Gestion des ADS</a>
      </li>
      <li>
        <a class="fr-breadcrumb__link" href="{% url 'app.ads-manager.detail' manager_id=ads_manager.id %}">{{ ads_manager.content_object.display_text|capfirst }}</a>
      </li>
      <li>
      {% if ads %}
        <a class="fr-breadcrumb__link" aria-current="page">ADS numéro {{ ads.number }}</a>
      {% else %}
        <a class="fr-breadcrumb__link" aria-current="page">Enregistrement d'une ADS</a>
      {% endif %}
      </li>
    </ol>
  </div>
</nav>


{% if ads %}
  {% if ads_manager.content_type.name == 'commune' %}
  <p>
    📜&nbsp;<a class="fr-link fr-icon-arrow-right-line fr-link--icon-right" href="{% url 'app.ads.decree' manager_id=ads_manager.id ads_id=ads.id %}">
      Accéder aux modèles d'arrêtés municipaux
    </a>
  </p>
  {% endif %}
<p>
  🕰️&nbsp;<a class="fr-link fr-icon-arrow-right-line fr-link--icon-right" href="{% url 'app.ads.history' manager_id=ads_manager.id ads_id=ads.id %}">
    Voir l'historique des modifications
  </a>
</p>
{% endif %}


<h1>
{% if ads %}
ADS numéro {{ ads.number }} ({{ ads.ads_manager.content_object.display_text|capfirst }})
{% else %}
Enregistrement d'une ADS
{% endif %}
</h1>

{% if ads_manager.is_locked %}
<div class="fr-highlight">
  <p>
    Cette ADS appartient à un gestionnaire pour lequel les modifications manuelles ont été bloquées, car les données sont mises à jour automatiquement. Vous ne pouvez pas créer, modifier ou supprimer les ADS de cette administration.
  </p>

  <p>
    Si vous pensez qu'il s'agit d'une erreur, vous pouvez contacter notre équipe sur <a href="mailto:{{ MESADS_CONTACT_EMAIL }}">{{ MESADS_CONTACT_EMAIL }}</a>
  </p>
</div>
{% endif %}

<div
  class="fr-grid-row"
  x-data="get_x_data()"
>
  <form class="fr-col-12 fr-col-sm-8 fr-col-md-6" method="post" enctype="multipart/form-data">
    {% if form.non_field_errors %}
      <div class="fr-input-group fr-input-group--error">
        {% for error in form.non_field_errors %}
        <!-- Non-field error -->
        <p class="fr-error-text">
          {{ error }}
        </p>
        {% endfor %}
      </div>
    {% endif %}

    {% csrf_token %}

    <!-- EPCI commune -->
    {% if ads_manager.content_type.name == 'EPCI' %}
    <div class="fr-select-group{% if form.errors.epci_commune %} fr-select-group--error{% endif %}">
      <label
        class="fr-label"
        for="{{ form.epci_commune.id_for_label }}"
      >
        {{ form.epci_commune.label }}
        {% if form.epci_commune.help_text %}<span class="fr-hint-text">{{ form.epci_commune.help_text }}</span>{% endif %}
      </label>

      {{ form.epci_commune }}

      {% for error in form.epci_commune.errors %}
      <p class="fr-error-text">
        {{ error }}
      </p>
      {% endfor %}
    </div>
    {% endif %}

    <!-- ADS number -->
    {% include 'pages/ads-form_string.html' with field=form.number field_errors=form.errors.number required=form.fields.number.required readonly=ads_manager.is_locked %}

    <!-- ADS creation date -->
    {% include 'pages/ads-form_date.html' with x_model="ads_creation_date" field=form.ads_creation_date field_errors=form.errors.ads_creation_date required=form.fields.ads_creation_date.required readonly=ads_manager.is_locked %}
    
    <!-- ADS renew date -->
    <template x-if="!ads_before_2014">
      <div x-show="!ads_before_2014" x-transition class="fr-input-group">
        {% include 'pages/ads-form_date.html' with field=form.ads_renew_date field_errors=form.errors.ads_renew_date required=form.fields.ads_renew_date.required readonly=ads_manager.is_locked %}
      </div>
    </template>

    <!-- ADS attribution date -->
    <template x-if="should_display_attribution_date">
      <div x-show="should_display_attribution_date" x-transition class="fr-input-group">
        {% include 'pages/ads-form_date.html' with field=form.attribution_date field_errors=form.errors.attribution_date required=form.fields.attribution_date.required readonly=ads_manager.is_locked %}
      </div>
    </template>

    <template x-if="ads_before_2014">
      <div x-show="ads_before_2014" x-transition class="fr-input-group">
        <!-- ADS attribution type -->
        {% include 'pages/ads-form_select.html' with x_model="attribution_type" field=form.attribution_type field_errors=form.errors.attribution_type required=form.fields.attribution_type.required readonly=ads_manager.is_locked %}

        <!-- Transaction identifier -->
        {% include 'pages/ads-form_string.html' with x_transition=True x_show="attribution_type == 'paid'" field=form.transaction_identifier field_errors=form.errors.transaction_identifier required=form.fields.transaction_identifier.required readonly=ads_manager.is_locked %}

        <!-- ADS attribution reason -->
        {% include 'pages/ads-form_string.html' with field=form.attribution_reason field_errors=form.errors.attribution_reason required=form.fields.attribution_reason.required readonly=ads_manager.is_locked %}
      </div>
    </template>

    <!-- Accepted by CPAM -->
    {% include 'pages/ads-form_select.html' with field=form.accepted_cpam field_errors=form.errors.accepted_cpam required=form.fields.accepted_cpam.required readonly=ads_manager.is_locked %}

    <!-- Immatriculation plate -->
    {% include 'pages/ads-form_string.html' with field=form.immatriculation_plate field_errors=form.errors.immatriculation_plate required=form.fields.immatriculation_plate.required readonly=ads_manager.is_locked %}

    <!-- Compatible PMR ? -->
    {% include 'pages/ads-form_select.html' with field=form.vehicle_compatible_pmr field_errors=form.errors.vehicle_compatible_pmr required=form.fields.vehicle_compatible_pmr.required readonly=ads_manager.is_locked %}

    <!-- Eco vehicle ? -->
    {% include 'pages/ads-form_select.html' with field=form.eco_vehicle field_errors=form.errors.eco_vehicle required=form.fields.eco_vehicle.required readonly=ads_manager.is_locked %}

    <!-- Owner name -->
    {% include 'pages/ads-form_string.html' with field=form.owner_name field_errors=form.errors.owner_name required=form.fields.owner_name.required readonly=ads_manager.is_locked %}

    <!-- Owner SIRET -->
    {% include 'pages/ads-form_string.html' with field=form.owner_siret field_errors=form.errors.owner_siret required=form.fields.owner_siret.required readonly=ads_manager.is_locked %}

    <!-- Owner phone -->
    {% include 'pages/ads-form_string.html' with field=form.owner_phone field_errors=form.errors.owner_phone required=form.fields.owner_phone.required readonly=ads_manager.is_locked %}

    <!-- Owner mobile -->
    {% include 'pages/ads-form_string.html' with field=form.owner_mobile field_errors=form.errors.owner_mobile required=form.fields.owner_mobile.required readonly=ads_manager.is_locked %}

    <!-- Owner email -->
    {% include 'pages/ads-form_string.html' with field=form.owner_email field_errors=form.errors.owner_email required=form.fields.owner_email.required html_type="email" readonly=ads_manager.is_locked %}

    <!-- Used by owner ? -->
    <template x-if="ads_before_2014">
      <div x-show="ads_before_2014" x-transition class="fr-input-group">
        {% include 'pages/ads-form_select.html' with x_model="used_by_owner" field=form.used_by_owner field_errors=form.errors.used_by_owner required=form.fields.used_by_owner.required readonly=ads_manager.is_locked %}
      </div>
    </template>

    <!-- Owner licence number -->
    <template x-if="should_display_owner_license_number">
      <div x-show="should_display_owner_license_number" x-transition class="fr-input-group">
      {% include 'pages/ads-form_string.html' with field=form.owner_license_number field_errors=form.errors.owner_license_number required=form.fields.owner_license_number.required readonly=ads_manager.is_locked %}
      </div>
    </template>

    <div class="fr-input-group" x-show="!ads_before_2014" x-transition>
      <hr />
      <span class="fr-hint-text">
        Le titulaire d'une autorisation de stationnement délivrée avant le 01 Octobre 2014 a la faculté de présenter un successeur à l'autorité administrative compétente. Celle-ci peut ensuite autoriser le transfert de l'ADS à titre onéreux si les conditions de durée minimale d'exploitation sont respectées.
        <br />
        <br />
        Pour les autorisations de stationnement délivrées après le 01 Octobre 2014, l'autorisation est incessible et la section du formulaire permettant de renseigner les informations relatives à l'exploitant est donc masquée.
      </span>
    </div>

    <div id="ads-users" class="fr-input-group" x-show="ads_before_2014" x-transition>
      <div x-show="used_by_owner === 'false'" x-transition>
        {{ ads_users_formset.management_form }}

        {% for ads_user_form in ads_users_formset %}
          <div
            class="fr-form-group ads-user-form"
          >
            <template x-if="used_by_owner === 'false'">
              <fieldset class="fr-fieldset">
                  <legend class="fr-fieldset__legend">{{ forloop.counter }}<sup>{% if forloop.counter == 1 %}er{% else %}e{% endif %}</sup> exploitant taxi</legend>

                <div class="fr-pl-3w">
                  <!-- User status -->
                  {% include 'pages/ads-form_select.html' with field=ads_user_form.status field_errors=ads_user_form.errors.status required=ads_user_form.fields.status.required readonly=ads_manager.is_locked %}
                  <!-- User name -->
                  {% include 'pages/ads-form_string.html' with field=ads_user_form.name field_errors=ads_user_form.errors.name required=ads_user_form.fields.name.required readonly=ads_manager.is_locked %}
                  <!-- User SIRET -->
                  {% include 'pages/ads-form_string.html' with field=ads_user_form.siret field_errors=ads_user_form.errors.siret required=ads_user_form.fields.siret.required readonly=ads_manager.is_locked %}
                  <!-- Professional licence number -->
                  {% include 'pages/ads-form_string.html' with field=ads_user_form.license_number field_errors=ads_user_form.errors.license_number required=ads_user_form.fields.license_number.required readonly=ads_manager.is_locked %}
                </div>

              </fieldset>
            </template>
            {% for hidden_field in ads_user_form.hidden_fields %}
              {{ hidden_field }}
            {% endfor %}
          </div>
        {% endfor %}

        {% comment %}Template to render a new form when user wants to add an ADSUser{% endcomment %}
        <template x-for="i in extraADSUserForms">
          <div
            class="fr-form-group ads-user-form"
          >
            <template x-if="used_by_owner === 'false'">
              <fieldset class="fr-fieldset">
                  <legend class="fr-fieldset__legend">Nouvel exploitant taxi</legend>

                <div class="fr-pl-3w">
                  <!-- User status -->
                  {% include 'pages/ads-form_select.html' with field=ads_users_formset.empty_form.status field_errors=ads_users_formset.empty_form.errors.status required=ads_users_formset.empty_form.fields.status.required readonly=ads_manager.is_locked %}
                  <!-- User name -->
                  {% include 'pages/ads-form_string.html' with field=ads_users_formset.empty_form.name field_errors=ads_users_formset.empty_form.errors.name required=ads_users_formset.empty_form.fields.name.required readonly=ads_manager.is_locked %}
                  <!-- User SIRET -->
                  {% include 'pages/ads-form_string.html' with field=ads_users_formset.empty_form.siret field_errors=ads_users_formset.empty_form.errors.siret required=ads_users_formset.empty_form.fields.siret.required readonly=ads_manager.is_locked %}
                  <!-- Professional licence number -->
                  {% include 'pages/ads-form_string.html' with field=ads_users_formset.empty_form.license_number field_errors=ads_users_formset.empty_form.errors.license_number required=ads_users_formset.empty_form.fields.license_number.required readonly=ads_manager.is_locked %}
                </div>

              </fieldset>
            </template>
            {% for hidden_field in ads_users_formset.empty_form.hidden_fields %}
              {{ hidden_field }}
            {% endfor %}
          </div>
        </template>

        <button
          type="button"
          class="fr-btn fr-btn--sm fr-icon-add-circle-line fr-btn--icon-left fr-btn--secondary"
          @click="extraADSUserForms++"
          x-add-ads-user-button
          x-transition
          {% if ads_manager.is_locked %}disabled {% endif %}
        >
            Ajouter les informations d'un exploitant
        </button>
      </div>
    </div>

    <!-- Legal files -->
    <hr />

    <p>
      Vous avez la possibilité d'envoyer un ou plusieurs documents avec l'arrêté portant l'attribution de l'ADS.
    </p>
    {% include "formset_files.html" with formset=ads_legal_files_formset disabled=ads_manager.is_locked %}

    <hr />

    <!-- Submit buttons -->
    <div class="fr-col-12 fr-input-group">
      {% if ads %}
      <ul class="fr-btns-group">
        <li>
          <button
            type="submit"
            class="fr-btn"
            {% if ads_manager.is_locked %}disabled{% endif %}
          >
            Valider les modifications de l'ADS
          </button>
        </li>

        {% if not ads_manager.is_locked %}
        <li>
          <a class="fr-link fr-icon-delete-line fr-link--icon-left" href="{% url 'app.ads.delete' manager_id=ads_manager.id ads_id=ads.id %}" style="color: var(--text-default-error)">Supprimer cette ADS</a>
        </li>
        {% endif %}
      </ul>
      {% else %}
      <button type="submit" class="fr-btn">Créer la nouvelle ADS</button>
      {% endif %}
    </div>
  </form>
</div>

<script id="data" type="application/json">
{
  "ads_creation_date": "{{ form.ads_creation_date.value|str_to_date|date:"Y-m-d"|default:"" }}",
  "used_by_owner": "{% if form.used_by_owner.value is True %}true{% elif form.used_by_owner.value is False %}false{% else %}unknown{% endif %}",
  "attribution_type": "{{ form.attribution_type.value }}"
}
</script>
<script src="./ads.ts"></script>
{% endblock %}

{% block endbody %}
  {% comment %}Extra javascript required to display epci_commune_form.{% endcomment %}
  {{ form.media }}
{% endblock %}