{% extends "base.html" %}

{% block title %}Administration des gestionnaires{% endblock %}

{% block body %}
<h1>Demandes d'accès</h1>

<p>
  Vous trouverez ci-dessous les demandes d'accès des administrations souhaitant gérer leurs ADS. Avant d'accepter une demande, assurez-vous que la demande provient bien d'un agent travaillant pour une administration dépendant de votre préfecture.
</p>

<p>
  Si vous avez la moindre question, ou si vous souhaitez révoquer un accès, contactez notre équipe par email à <a href="mailto:{{ MESADS_CONTACT_EMAIL }}">{{ MESADS_CONTACT_EMAIL }}</a>
</p>

{% regroup ads_manager_requests by ads_manager.administrator as ads_manager_requests_by_administrator %}
{% for entry in ads_manager_requests_by_administrator %}
<div class="fr-table">
  <table>
    <caption>Demandes pour la {{ entry.grouper.prefecture.display_text }}</caption>
    <thead>
      <tr>
        <th>👨‍💻 Utilisateur</th>
        <th>
          {% if sort == "name" %}
            🏢 Administration ▲
          {% else %}
            <a href="?sort=name">🏢 Administration ▶</a>
          {% endif %}
        </th>
        <th>
          {% if sort == "name" %}
          <a href="?">📅 Date de la demande ▶</a>
          {% else %}
          📅 Date de la demande ▲
          {% endif %}
        </th>
        <th>🔎 Action</th>
      </tr>
    </thead>
    <tbody>
      {% for ads_manager_request in entry.list %}
      <tr class="table-row-{% if ads_manager_request.accepted is True %}success{% elif ads_manager_request.accepted is False %}failure{% else %}unknown{% endif %}">
        <td>{{ ads_manager_request.user.email }}</td>
        <td>{{ ads_manager_request.ads_manager.content_object.display_text|capfirst }}</td>
        <td>{{ ads_manager_request.created_at }}</td>
        <td>
          <div class="fr-grid-row fr-grid-row--gutters">
            {% comment %}
            Display the button to accept/deny when the request is pending.

            In the past, we used to also display the buttons when the request
            was accepted or denied. It was error prone. Instead, we want the
            users to contact our team to revoke an access, or grant when the
            request has been mistakenly denied.
            {% endcomment %}
            {% if ads_manager_request.accepted is None %}
            <div class="fr-p-1w">
              <form method="post">
                {% csrf_token %}
                <input type="hidden" name="request_id" value="{{ ads_manager_request.id }}" />
                <input type="hidden" name="action" value="accept" />
                <button type="submit" class="fr-btn fr-btn--sm">Accepter</button>
              </form>
            </div>
            <div class="fr-p-1w">
              <form method="post">
                {% csrf_token %}
                <input type="hidden" name="request_id" value="{{ ads_manager_request.id }}" />
                <input type="hidden" name="action" value="deny" />
                <button type="submit" class="fr-btn fr-btn--sm">Refuser</button>
              </form>
            </div>
            {% endif %}
          </div>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="4">Aucune demande en cours</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endfor %}
{% endblock %}
