{% extends "base.html" %}
{% block body %}
  {% if not request.user.is_authenticated %}

    {% include "./accueil/accueil_non_connecte.html" %}

  {% else %}

    {% if administrateur_ads %}
      
      {% include "./accueil/accueil_prefecture.html" %}

    {% elif manager_ads %}
      
      {% include "./accueil/accueil_gestionnaire.html" %}

    {% elif proprietaire_vehicule_relais %}
      
      {% include "./accueil/accueil_proprietaire.html" %}

    {% else %}

      {% include "./accueil/accueil_connecte.html" %}

    {% endif %}

  {% endif %}
    
{% endblock body %}
