{% extends "base.html" %}

{% block meta %}
  <meta name="description" content="Vous êtes chauffeur de taxi ou souhaitez le devenir ? Vous avez besoin d'un véhicule relais ? Mes ADS contient toutes les informations nécessaires pour vous aider dans vos démarches." />
{% endblock %}

{% block title %}Création de compte - chauffeur{% endblock %}

{% block body %}
<nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
  <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d'Ariane</button>
  <div class="fr-collapse" id="breadcrumb-1">
    <ol class="fr-breadcrumb__list">
      <li>
        <a class="fr-breadcrumb__link" href="{% url 'app.homepage' %}">Page d'accueil</a>
      </li>
      <li>
        <a class="fr-breadcrumb__link" aria-current="page">Chauffeur de taxi</a>
      </li>
    </ol>
  </div>
</nav>

<h1>Vous êtes ou souhaitez devenir chauffeur de taxi</h1>

<div class="fr-grid-row fr-grid-row--center">
  <div class="">
    <div class="fr-accordions-group">
      <section class="fr-accordion">
        <h3 class="fr-accordion__title">
          <button class="fr-accordion__btn" aria-expanded="true" aria-controls="accordion-114">Vous êtes déjà chauffeur de taxi ?</button>
        </h3>
        <div class="fr-collapse" id="accordion-114">
          <p>
            En tant que chauffeur de taxi, vous disposez déjà d'une ADS (Autorisation De Stationnement) et vous n'avez pas de démarche à faire sur ce site.
          </p>
          <p>
            Savez-vous que vous avez l'<strong>obligation légale</strong> de vous enregistrer auprès du registre d'État le.taxi ? Si ce n'est pas encore fait, rendez-vous sur le site <a href="https://le.taxi" target="_blank">le.taxi</a>.
          </p>
          <a class="fr-btn fr-btn--secondary" target="_blank" href="https://le.taxi">S'enregistrer sur le.taxi</a>
      </section>
      <section class="fr-accordion">
        <h3 class="fr-accordion__title">
          <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-115">Vous n'êtes pas encore chauffeur de taxi ?</button>
        </h3>
        <div class="fr-collapse" id="accordion-115">
          <p>
            Si vous n'êtes pas encore chauffeur de taxi et que vous souhaitez le devenir, vous pouvez consulter ce site : <a href="https://entreprendre.service-public.fr/vosdroits/F21907" target="_blank">https://entreprendre.service-public.fr/vosdroits/F21907</a>
          </p>
        </div>
      </section>
    </div>
  </div>
</div>
{% endblock %}