{% extends "base.html" %}

{% block title %}Choix du type de compte Mes ADS{% endblock %}

{% block body %}

<nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
  <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d'Ariane</button>
  <div class="fr-collapse" id="breadcrumb-1">
    <ol class="fr-breadcrumb__list">
      <li>
        <a class="fr-breadcrumb__link" href="{% url 'login' %}">Connexion</a>
      </li>
      <li>
        <a class="fr-breadcrumb__link" aria-current="page">Choix du profil</a>
      </li>
    </ol>
  </div>
</nav>

<h1>Pour créer votre compte, choisissez votre profil</h1>

<div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center">
  <div class="fr-col-6">
    <div class="fr-tile fr-enlarge-link">
      <div class="fr-tile__body">
          <div class="fr-tile__content">
              <h3 class="fr-tile__title">
                  <a href="{% url 'django_registration_register' %}">Chargé de la gestion des ADS de votre commune ou EPCI</a>
              </h3>
          </div>
      </div>
      <div class="fr-tile__header">
          <div class="fr-tile__pictogram">
            <div style="font-size: 4rem">
            👨‍💻
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="fr-col-6">
    <div class="fr-tile fr-enlarge-link">
      <div class="fr-tile__body">
          <div class="fr-tile__content">
              <h3 class="fr-tile__title">
                  <a href="{% url 'django_registration_register' %}">Agent au sein d'une préfecture</a>
              </h3>
          </div>
      </div>
      <div class="fr-tile__header">
          <div class="fr-tile__pictogram">
            <div style="font-size: 4rem">
            🇫🇷‍
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="fr-col-6">
    <div class="fr-tile fr-enlarge-link">
      <div class="fr-tile__body">
          <div class="fr-tile__content">
              <h3 class="fr-tile__title">
                  <a href="{% url 'app.profils.aom' %}">Autorités organisatrices de la mobilité (AOM)</a>
              </h3>
          </div>
      </div>
      <div class="fr-tile__header">
          <div class="fr-tile__pictogram">
            <div style="font-size: 4rem">
              🚦
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="fr-col-6">
    <div class="fr-tile fr-enlarge-link">
      <div class="fr-tile__body">
          <div class="fr-tile__content">
              <h3 class="fr-tile__title">
                  <a href="{% url 'app.profils.driver' %}">Chauffeur de taxi</a>
              </h3>
          </div>
      </div>
      <div class="fr-tile__header">
          <div class="fr-tile__pictogram">
            <div style="font-size: 4rem">
            🚕
            </div>
          </div>
      </div>
    </div>
  </div>

  <div>
    <a class="fr-link fr-icon-arrow-right-line fr-link--icon-right" href="{% url 'app.profils.other' %}">Vous avez un autre profil</a>
  </div>
</div>

{% endblock %}