{% extends "base_container.html" %}
{% block extra_head %}
  {{ block.super }}
  <link rel="stylesheet" href="leaflet/dist/leaflet.css" />
{% endblock extra_head %}
{% block body-content %}
  <h1>Chiffres clés Mes ADS</h1>
  <p>
    Mes ADS est un projet en pleine évolution, démarré en 2022. Nous essayons d'améliorer le produit en fonction de vos retours. Si vous avez des questions, des suggestions, ou si vous remarquez un bug, n'hésitez surtout pas à nous contacter en utilisant le chat ou par email à <a href="mailto:{{ MESADS_CONTACT_EMAIL }}">{{ MESADS_CONTACT_EMAIL }}</a>
  </p>
  <p>Vous trouverez sur cette page quelques statistiques à propos du projet.</p>
  <div class="fr-tabs">
    <ul class="fr-tabs__list" role="tablist" aria-label="Statistiques MesADS">
      <li role="presentation">
        <button id="tabpanel-1"
                class="fr-tabs__tab fr-icon-checkbox-line fr-tabs__tab--icon-left"
                tabindex="0"
                role="tab"
                aria-selected="true"
                aria-controls="tabpanel-1-panel">Les statistiques du registre ADS</button>
      </li>
      <li role="presentation">
        <button id="tabpanel-2"
                class="fr-tabs__tab fr-icon-checkbox-line fr-tabs__tab--icon-left"
                tabindex="-1"
                role="tab"
                aria-selected="false"
                aria-controls="tabpanel-2-panel">Les statistiques des répertoires des véhicules relais</button>
      </li>
    </ul>
    {% comment %} First tab {% endcomment %}
    <div id="tabpanel-1-panel"
         class="fr-tabs__panel fr-tabs__panel--selected"
         role="tabpanel"
         aria-labelledby="tabpanel-1"
         tabindex="0">
      <h2>Au niveau national</h2>
      <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-md-4">
          <div class="text-center border-b-4 border-[#000091] bg-[rgba(0,0,145,0.05)] fr-p-2w min-h-full">
            <div class="text-4xl font-bold">{{ ads_count }}</div>
            <div class="text-xl fr-mt-1w">ADS enregistrées ce jour</div>
          </div>
        </div>
        <div class="fr-col-12 fr-col-md-4">
          <div class="text-center border-b-4 border-[#000091] bg-[rgba(0,0,145,0.05)] fr-p-2w min-h-full">
            <div class="text-4xl font-bold">{{ ads_manager_requests_count }}</div>
            <div class="text-xl fr-mt-1w">instructeurs enregistrés pour gérer les ADS</div>
          </div>
        </div>
        <div class="fr-col-12 fr-col-md-4">
          <div class="text-center border-b-4 border-[#000091] bg-[rgba(0,0,145,0.05)] fr-p-2w min-h-full">
            <div class="text-4xl font-bold">{{ ads_managers_count }}</div>
            <div class="text-xl fr-mt-1w">différentes administrations gérant des ADS</div>
          </div>
        </div>
        <div class="fr-col-12 fr-col-md-4">
          <div class="text-center border-b-4 border-[#000091] bg-[rgba(0,0,145,0.05)] fr-p-2w min-h-full">
            <div class="text-4xl font-bold">+10 000</div>
            <div class="text-xl fr-mt-1w">réponses à vos questions concernant les ADS, la plateforme, les démarches, etc.</div>
          </div>
        </div>
      </div>
      <hr class="fr-mt-3w" />
      <h2>Carte de déploiement</h2>
      <div id="map_ads" class="w-full h-[764px]"></div>
      <script src="./stats_map_ads.ts"></script>
      <p class="fr-mt-3w">
        Cette carte présente le nombre d'ADS enregistrées dans chaque département jusqu'à ce jour. Le nombre d'ADS estimé peut ne pas être exact, mais permet d'avoir une vue d'ensemble du déploiement du registre ADS au niveau national.
      </p>
      <div class="fr-table" id="table-md-component">
        <div class="fr-table__wrapper">
          <div class="fr-table__container">
            <div class="fr-table__content">
              <table id="table-md">
                <caption>Statistiques par préfecture</caption>
                <thead>
                  <tr>
                    <th scope="col">Préfecture</th>
                    <th scope="col">Nombre d'ADS</th>
                    <th scope="col">Nombre total estimé d'ADS</th>
                    <th scope="col">Pourcentage d'ADS vérifiées</th>
                    <th scope="col">Nombre de véhicules relais</th>
                  </tr>
                </thead>
                <tbody>
                  {% for prefecture, stats in stats_by_prefecture %}
                    <tr>
                      <td>{{ prefecture.libelle }}</td>
                      <td>{{ stats.ads_count|default:"" }}</td>
                      <td>{{ stats.expected_ads_count|default:"" }}</td>
                      <td>{{ stats.ads_completee_pourcentage }}%</td>
                      <td>{{ stats.vehicules_relais_count|default:"" }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <hr class="fr-mt-3w" />
      <h2>Utilisation du registre ADS</h2>
      <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12">
          <h3>Nombre d'ADS enregistrées</h3>
          <canvas id="ads-count"></canvas>
          <p class="fr-mt-3w fr-text--xs">Évolution du nombre d'ADS enregistrées sur la plateforme depuis son lancement.</p>
        </div>
        <div class="fr-col-12">
          <h3>Nombre de gestionnaires ADS</h3>
          <canvas id="ads-manager-requests-count"></canvas>
          <p class="fr-mt-3w fr-text--xs">
            Évolution du nombre de comptes instructeurs créés sur la plateforme depuis son lancement. Un compte instructeur a la possibilité d'enregistrer des ADS pour son administration.
          </p>
        </div>
      </div>
      <hr class="fr-mt-3w" />
      <h2>Statistiques filtrées</h2>
      <div class="fr-alert fr-alert--info fr-mb-3w">
        Renseignez un ou plusieurs gestionnaires ADS pour afficher ses statistiques en détails.
      </div>
      <form method="get" id="details" action="#details">
        {% if form.non_field_errors %}
          <div class="fr-input-group fr-input-group--error">
            {% for error in ads_managers_select_form.non_field_errors %}
              <!-- Non-field error -->
              <p class="fr-error-text">{{ error }}</p>
            {% endfor %}
          </div>
        {% endif %}
        {% include "form_fields/select-autocomplete.html" with field=ads_managers_select_form.q field_errors=ads_managers_select_form.errors.q %}
        <button type="submit" class="fr-btn">Filtrer les statistiques</button>
      </form>
      {% if ads_managers_select_form.q.value %}
        <div class="fr-mt-3w fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-12 fr-col-md-4">
            <div class="text-center border-b-4 border-[#000091] bg-[rgba(0,0,145,0.05)] fr-p-2w min-h-full">
              <div class="text-4xl font-bold">{{ ads_count_filtered }}</div>
              <div class="text-xl fr-mt-1w">ADS enregistrées ce jour</div>
            </div>
          </div>
          <div class="fr-col-12 fr-col-md-4">
            <div class="text-center border-b-4 border-[#000091] bg-[rgba(0,0,145,0.05)] fr-p-2w min-h-full">
              <div class="text-4xl font-bold">{{ ads_manager_requests_count_filtered }}</div>
              <div class="text-xl fr-mt-1w">instructeurs enregistrés pour gérer les ADS</div>
            </div>
          </div>
          <div class="fr-col-12 fr-col-md-4">
            <div class="text-center border-b-4 border-[#000091] bg-[rgba(0,0,145,0.05)] fr-p-2w min-h-full">
              <div class="text-4xl font-bold">{{ ads_managers_count_filtered }}</div>
              <div class="text-xl fr-mt-1w">différentes administrations gérant des ADS</div>
            </div>
          </div>
        </div>
        <h2 class="fr-mt-3w">Utilisation du registre ADS pour les administrations spécifiées</h2>
        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-12">
            <h3>Nombre d'ADS enregistrées</h3>
            <canvas id="ads-count-filtered"></canvas>
            <p class="fr-mt-3w fr-text--xs">Évolution du nombre d'ADS enregistrées sur la plateforme depuis son lancement.</p>
          </div>
          <div class="fr-col-12">
            <h3>Nombre de gestionnaires ADS</h3>
            <canvas id="ads-manager-requests-count-filtered"></canvas>
            <p class="fr-mt-3w fr-text--xs">
              Évolution du nombre de comptes instructeurs créés sur la plateforme depuis son lancement. Un compte instructeur a la possibilité d'enregistrer des ADS pour son administration.
            </p>
          </div>
        </div>
      {% endif %}
    </div>
    {% comment %} Second tab {% endcomment %}
    <div id="tabpanel-2-panel"
         class="fr-tabs__panel"
         role="tabpanel"
         aria-labelledby="tabpanel-2"
         tabindex="0">
      <h2>Au niveau national</h2>
      <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-md-4">
          <div class="text-center border-b-4 border-[#000091] bg-[rgba(0,0,145,0.05)] fr-p-2w min-h-full">
            <div class="text-4xl font-bold">{{ relais_proprietaires_count }}</div>
            <div class="text-xl fr-mt-1w">
              propriétaires de véhicules relais enregistrés <small>ayant enregistré au moins un véhicule relais</small>
            </div>
          </div>
        </div>
        <div class="fr-col-12 fr-col-md-4">
          <div class="text-center border-b-4 border-[#000091] bg-[rgba(0,0,145,0.05)] fr-p-2w min-h-full">
            <div class="text-4xl font-bold">{{ relais_vehicules_count }}</div>
            <div class="text-xl fr-mt-1w">véhicules relais enregistrés</div>
          </div>
        </div>
      </div>
      <hr class="fr-mt-3w" />
      <h2>Carte de déploiement</h2>
      <div id="map_vehicules_relais" class="w-fulll h-[764px]"></div>
      <script src="./stats_map_vehicules_relais.ts"></script>
      <p class="fr-mt-3w">Cette carte présente le nombre de véhicules relais enregistrés dans chaque département.</p>
      <hr class="fr-mt-3w" />
      <h2>Utilisation des répertoires des véhicules relais</h2>
      <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12">
          <h3>Nombre de propriétaires de véhicules relais enregistrés</h3>
          <canvas id="relais-proprietaires-count"></canvas>
          <p class="fr-mt-3w fr-text--xs">
            Évolution du nombre de propriétaires de véhicules relais ayant enregistré au moins un véhicule.
          </p>
        </div>
        <div class="fr-col-12">
          <h3>Nombre de véhicules relais enregistrés</h3>
          <canvas id="relais-vehicules-count"></canvas>
          <p class="fr-mt-3w fr-text--xs">Évolution du nombre de véhicules relais enregistrés.</p>
        </div>
      </div>
    </div>
  </div>
  <script id="data" type="application/json">
{
  "ads_by_month": {{ ads_count_by_month|safe }},
  "ads_by_month_filtered": {{ ads_count_by_month_filtered|safe }},
  "ads_manager_requests_by_month": {{ ads_manager_requests_by_month|safe }},
  "ads_manager_requests_by_month_filtered": {{ ads_manager_requests_by_month_filtered|safe }},
  "relais_proprietaires_by_month": {{ relais_proprietaires_by_month|safe }},
  "relais_vehicules_by_month": {{ relais_vehicules_by_month|safe }}
}
  </script>
  <script src="./stats.ts"></script>
{% endblock body-content %}
{% block endbody %}
  {{ block.super }}
  {% comment %}Extra javascript required to display ads_managers_select_form{% endcomment %}
  {{ ads_managers_select_form.media }}
{% endblock endbody %}
