{% extends "../../base-sidemenu.html" %}

{% block sidemenu %}{% include "./sidemenu.html" %}{% endblock %}

{% block main %}
<nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
  <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d'Ariane</button>
  <div class="fr-collapse" id="breadcrumb-1">
    <ol class="fr-breadcrumb__list">
      <li>
        <a class="fr-breadcrumb__link" href="{% url 'vehicules-relais.proprietaire' %}">Espace propriétaire</a>
      </li>
      <li>
        <a class="fr-breadcrumb__link" aria-current="page">Créer un espace propriétaire</a>
      </li>
    </ol>
  </div>
</nav>

<h1>Créer un espace propriétaire</h1>

<p>
  Conformément aux dispositions de <a target="_blank" href="https://www.legifrance.gouv.fr/jorf/id/JORFTEXT000047937443">l'article 3 de l'arrêté du 28 juillet 2023</a>, tout détenteur d’un véhicule relais doit le déclarer dans le registre départemental des taxis relais.
</p>

<p>
  Renseignez vos coordonnées pour pouvoir enregistrer le nouveau profil.
  Ces informations sont publiques et seront accessibles dans le registre des taxis relais.
</p>

<form method="post">
  {% csrf_token %}
  {{ form }}
  <input type="submit" />
</form>
{% endblock %}