{% extends "base_container.html" %}
{% load meta %}
{% load selectattr %}
{% block body-content %}
  <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
    <button class="fr-breadcrumb__button"
            aria-expanded="false"
            aria-controls="breadcrumb-1">Voir le fil d'Ariane</button>
    <div class="fr-collapse" id="breadcrumb-1">
      <ol class="fr-breadcrumb__list">
        <li>
          <a class="fr-breadcrumb__link" href="{% url 'app.homepage' %}">Accueil</a>
        </li>
        <li>
          <a class="fr-breadcrumb__link" href="{% url 'vehicules-relais.index' %}">Répertoires des taxis relais</a>
        </li>
        <li>
          <a class="fr-breadcrumb__link"
             href="{% url 'vehicules-relais.proprietaire' %}">Espace propriétaire</a>
        </li>
        <li>
          <a class="fr-breadcrumb__link"
             href="{% url 'vehicules-relais.proprietaire.detail' proprietaire_id=proprietaire.id %}">{{ proprietaire.nom }}</a>
        </li>
        <li>
          <a class="fr-breadcrumb__link"
             href="{% url 'vehicules-relais.proprietaire.vehicule.edit' proprietaire_id=proprietaire.id vehicule_numero=object.numero %}">
            Véhicule {{ object.numero }}
          </a>
        </li>
        <li>
          <a class="fr-breadcrumb__link" aria-current="page">Historique des modifications</a>
        </li>
      </ol>
    </div>
  </nav>
  {% include "history.html" with empty_template="history_empty.html" %}
{% endblock body-content %}
