{% extends "../../base-sidemenu.html" %}

{% block sidemenu %}{% include "./sidemenu.html" %}{% endblock %}

{% block main %}
<nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
  <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d'Ariane</button>
  <div class="fr-collapse" id="breadcrumb-1">
    <ol class="fr-breadcrumb__list">
      <li>
        <a class="fr-breadcrumb__link" href="{% url 'vehicules-relais.proprietaire' %}">Espace propriétaire</a>
      </li>
      <li>
        <a class="fr-breadcrumb__link" aria-current="page">{{ object.nom }}</a>
      </li>
    </ol>
  </div>
</nav>

<div class="fr-table">
  <table>
    <caption>Mes coordonnées</caption>
    <tr>
      <th>Nom</th>
      <td>{{ object.nom }}</td>
    </tr>
    <tr>
      <th>Numéro SIRET</th>
      <td>{{ object.siret|default:"-" }}</td>
    </tr>
    <tr>
      <th>Numéro de tel</th>
      <td>{{ object.telephone|default:"-" }}</td>
    </tr>
    <tr>
      <th>Adresse mail de contact</th>
      <td>{{ object.email|default:"-" }}</td>
    </tr>
  </table>
</div>

<div class="fr-table">
  <table>
    <caption>Mes véhicules enregistrés</caption>
    <thead>
      <tr>
        <th>Numéro</th>
        <th>Marque et modèle</th>
        <th>Immatriculation</th>
        <th>Détails</th>
      </tr>
    </thead>
    <tbody>
      {% for vehicule in vehicules %}
      <tr>
        <td>{{ vehicule.numero }}</td>
        <td>{{ vehicule.modele|default:"-" }}</td>
        <td>{{ vehicule.immatriculation|default:"-" }}</td>
        <td><a href="#">Afficher les détails</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}