{% extends "../../base-sidemenu.html" %}

{% load show_pagination_links %}

{% block sidemenu %}{% include "./sidemenu.html" %}{% endblock %}

{% block main %}
<nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
  <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d'Ariane</button>
  <div class="fr-collapse" id="breadcrumb-1">
    <ol class="fr-breadcrumb__list">
      <li>
        <a class="fr-breadcrumb__link" aria-current="page">Espace propriétaire</a>
      </li>
    </ol>
  </div>
</nav>

<h1>Mon espace propriétaire</h1>

{% if not is_proprietaire %}
<div class="fr-alert fr-alert--error">
  <h3 class="fr-alert__title">Votre compte propriétaire n'est pas activé</h3>
  <p>
    Il est nécessaire d'activer votre compte propriétaire avant de pouvoir enregistrer vos véhicules relais.
  </p>
  <p class="fr-grid-row fr-grid-row--center fr-mt-2w">
    <a class="fr-btn fr-btn--secondary" href="{% url 'vehicules-relais.proprietaire.new' %}">Activer mon espace propriétaire</a>
  </p>
</div>
{% else %}
<p>
  ➕&nbsp;<a class="fr-link fr-icon-arrow-right-line fr-link--icon-right" href="{% url 'vehicules-relais.proprietaire.new' %}">
    Créer un autre espace propriétaire
  </a>
</p>

<div class="fr-table">
  <table>
    <thead>
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">SIRET</th>
        <th scope="col">Details</th>
      </tr>
    </thead>
    <tbody>
      {% for row in object_list %}
      <tr>
        <td>{{ row.nom }}</td>
        <td>{{ row.siret|default:"-" }}</td>
        <td><a href="{% url 'vehicules-relais.proprietaire.detail' proprietaire_id=row.id %}">Afficher les détails</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% show_pagination_links page_obj %}
</div>
{% endif %}

{% endblock %}