{% extends "../../base-sidemenu.html" %}

{% block sidemenu %}{% include "./sidemenu.html" %}{% endblock %}

{% block main %}
<nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
  <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d'Ariane</button>
  <div class="fr-collapse" id="breadcrumb-1">
    <ol class="fr-breadcrumb__list">
      <li>
        <a class="fr-breadcrumb__link" href="{% url 'vehicules-relais.proprietaire' %}">Espace propriétaire</a>
      </li>
      <li>
        <a class="fr-breadcrumb__link" aria-current="page">{{ object.nom }}</a>
      </li>
    </ol>
  </div>
</nav>

<h2 class="fr-h4">Mes coordonnées</h2>

<p>
  📄 &nbsp;<a class="fr-link fr-icon-arrow-right-line fr-link--icon-right" href="#">
    Modifier mes coordonnées
  </a>
</p>

<div class="fr-table fr-table--no-caption">
  <table>
    <caption>Mes coordonnées</caption>
    <tr>
      <th>Nom</th>
      <td>{{ object.nom }}</td>
    </tr>
    <tr>
      <th>Numéro SIRET</th>
      <td>{{ object.siret|default:"-" }}</td>
    </tr>
    <tr>
      <th>Numéro de tel</th>
      <td>{{ object.telephone|default:"-" }}</td>
    </tr>
    <tr>
      <th>Adresse mail de contact</th>
      <td>{{ object.email|default:"-" }}</td>
    </tr>
  </table>
</div>


<h1 class="fr-h4">Mes véhicules enregistrés</h1>

<p>
  🚖 &nbsp;<a class="fr-link fr-icon-arrow-right-line fr-link--icon-right" href="{% url 'vehicules-relais.proprietaire.vehicule.new' proprietaire_id=object.id %}">
    Enregistrer un nouveau véhicule
  </a>
</p>

<div class="fr-table fr-table--no-caption">
  <table>
    <caption>Mes véhicules enregistrés</caption>
    <thead>
      <tr>
        <th>Département</th>
        <th>Numéro du véhicule</th>
        <th>Marque et modèle</th>
        <th>Immatriculation</th>
        <th>Détails</th>
      </tr>
    </thead>
    <tbody>
      {% for vehicule in vehicules %}
      <tr>
        <td>{{ vehicule.departement.numero }} - {{ vehicule.departement.libelle }}</td>
        <td>{{ vehicule.numero }}</td>
        <td>{{ vehicule.modele|default:"-" }}</td>
        <td>{{ vehicule.immatriculation|default:"-" }}</td>
        <td><a href="{% url 'vehicules-relais.proprietaire.vehicule.detail' proprietaire_id=vehicule.proprietaire_id vehicule_numero=vehicule.numero %}">Afficher les détails</a></td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="5">Aucun véhicule enregistré</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}