{% extends "../../base-sidemenu.html" %}

{% block sidemenu %}{% include "./sidemenu.html" %}{% endblock %}

{% block main %}
<nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
  <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d'Ariane</button>
  <div class="fr-collapse" id="breadcrumb-1">
    <ol class="fr-breadcrumb__list">
      <li>
        <a class="fr-breadcrumb__link" href="{% url 'vehicules-relais.search' %}">Registre des véhicules relais</a>
      </li>
      <li>
        <a class="fr-breadcrumb__link" aria-current="page">{{ prefecture.display_text|capfirst }} ({{ prefecture.numero }})</a>
      </li>
    </ol>
  </div>
</nav>

{% endblock %}