{% extends "../../base-sidemenu.html" %}

{% block title %}MesADS: véhicules relais {{ prefecture.numero }} - {{ prefecture.libelle }}{% endblock %}

{% load show_pagination_links %}

{% block sidemenu %}{% include "./sidemenu.html" %}{% endblock %}

{% block main %}
<nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
  <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d'Ariane</button>
  <div class="fr-collapse" id="breadcrumb-1">
    <ol class="fr-breadcrumb__list">
      <li>
        <a class="fr-breadcrumb__link" href="{% url 'vehicules-relais.search' %}">Registre des véhicules relais</a>
      </li>
      <li>
        <a class="fr-breadcrumb__link" aria-current="page">Departement {{ prefecture.numero }} - {{ prefecture.libelle }}</a>
      </li>
    </ol>
  </div>
</nav>


<p class="fr-text--lg">
  Un « taxi relais » est un véhicule utilisé temporairement en cas d'immobilisation d'origine mécanique, à la suite d'une panne ou d'un accident, ou de vol d'un véhicule taxi ou de ses équipements spéciaux.
</p>

<p>
  Ce tableau répertorie l'ensemble des taxis relais qui peuvent être exploités au sein du département.
</p>

<div class="fr-table fr-table--bordered">
  <table>
    <caption>Véhicules relais du département {{ prefecture.numero }} - {{ prefecture.libelle }}</caption>
    <thead>
      <tr>
        <th scope="col">Numéro</th>
        <th scope="col">Type de véhicule</th>
        <th scope="col">Caractéristiques principales</th>
        <th scope="col">Propriétaire du véhicule</th>
        <th scope="col">Ville de localisation du véhicule</th>
        <th scope="col">Afficher les caractéristiques complètes</th>
      </tr>
    </thead>
    <tbody>
      {% for vehicule in vehicule_list %}
      <tr>
        <td><strong>{{ vehicule.numero }}</strong></td>
        <td>{{ vehicule.modele }}</td>
        <td>
          {% for feature in vehicule.main_features %}
            {{ feature }}<br />
          {% endfor %}
        </td>
        <td>{{ vehicule.proprietaire.nom }}</td>
        <td>
          {% if vehicule.commune_localisation %}
            {{ vehicule.commune_localisation.libelle }} ({{ vehicule.commune_localisation.departement }})
          {% endif %}
        </td>
        <td><a href="{% url 'vehicules-relais.vehicule' numero=vehicule.numero %}">Afficher les détails</a></td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="6" style="text-align: center">Aucun véhicule relais n'est enregistré pour ce département.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% show_pagination_links page_obj %}
</div>

{% endblock %}