{% extends "../../base-sidemenu.html" %}

{% block sidemenu %}{% include "./sidemenu.html" %}{% endblock %}

{% block main %}
<nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
  <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d'Ariane</button>
  <div class="fr-collapse" id="breadcrumb-1">
    <ol class="fr-breadcrumb__list">
      <li>
        <a class="fr-breadcrumb__link" href="{% url 'vehicules-relais.proprietaire' %}">Espace propriétaire</a>
      </li>
      <li>
        <a class="fr-breadcrumb__link" href="{% url 'vehicules-relais.proprietaire.detail' proprietaire_id=proprietaire.id %}">{{ proprietaire.nom }}</a>
      </li>
      <li>
        <a class="fr-breadcrumb__link" aria-current="page">Nouveau véhicule</a>
      </li>
    </ol>
  </div>
</nav>

<form method="post" enctype="multipart/form-data">
  {% if form.non_field_errors %}
    <div class="fr-input-group fr-input-group--error">
      {% for error in form.non_field_errors %}
      <!-- Non-field error -->
      <p class="fr-error-text">
        {{ error }}
      </p>
      {% endfor %}
    </div>
  {% endif %}

  {% csrf_token %}

  {% include 'form_fields/select-autocomplete.html' with field=form.departement field_errors=form.errors.departement %}
  {% include 'form_fields/string.html' with field=form.immatriculation field_errors=form.errors.immatriculation required=form.fields.immatriculation %}
  {% include 'form_fields/string.html' with field=form.modele field_errors=form.errors.modele required=form.fields.modele %}
  {% include 'form_fields/select.html' with field=form.motorisation field_errors=form.errors.motorisation required=form.fields.motorisation %}
  {% include 'form_fields/date.html' with field=form.date_mise_circulation field_errors=form.errors.date_mise_circulation required=form.fields.date_mise_circulation %}
  {% include 'form_fields/number.html' with field=form.nombre_places field_errors=form.errors.nombre_places required=form.fields.nombre_places %}
  {% include 'form_fields/bool.html' with field=form.pmr field_errors=form.errors.pmr required=form.fields.pmr %}
  {% include 'form_fields/select-autocomplete.html' with field=form.commune_localisation field_errors=form.errors.commune_localisation %}
  {% include 'form_fields/textarea.html' with field=form.localisation field_errors=form.errors.localisation required=form.fields.localisation %}

  <!-- Submit buttons -->
  <div class="fr-input-group">
    <button type="submit" class="fr-btn">Créer l'espace propriétaire</button>
  </div>
</form>
{% endblock %}

{% block endbody %}
  {% comment %}Extra javascript required to display commune_localisation field.{% endcomment %}
  {{ form.media }}
{% endblock %}