<div class="homepage-section">
  <div class="fr-container">
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-12 fr-col-lg-8">
          <h1 class="fr-mt-5w">Vos administrations en gestion</h1>

          <p class="fr-text--lead ">
            Cette page inventorie les administrations pour lesquelles vous avez demandé à gérer les ADS (Autorisations De Stationnement). Vous pouvez demander à gérer les ADS pour une nouvelle administration.
          </p>

          <div class="fr-table fr-table--lg fr-table--no-scroll fr-table--no-caption">
            <div class="fr-table__wrapper">
              <div class="fr-table__container">
                <div class="fr-table__content">
                  <table>
                    <caption>Administrations en gestion</caption>
                    <thead>
                      <tr>
                        <th>Administration</th>
                        <th>Nombre d'ADS</th>
                        <th>Consulter / Modifier</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for requete in requetes_gestionnaires %}
                        <tr>
                          <td>{{ requete.ads_manager.content_object.display_text|capfirst }}</td>
                          <td>
                            {% if requete.ads_count %}
                              {{ requete.ads_count }}
                            {% elif requete.ads_manager.no_ads_declared %}
                              <small>Ne gère aucune ADS</small>
                            {% elif requete.ads_manager.epci_delegate %}
                              <small>ADS gérées par l'EPCI
                                <br />
                                <i>{{ requete.ads_manager.epci_delegate }}</i></small>
                            {% else %}
                              -
                            {% endif %}
                            {% if requete.complete_updates_count %}
                              <p class="fr-text--xs">(dont {{ requete.complete_updates_count }} avec toutes les informations)</p>
                            {% elif requete.ads_count %}
                              <p class="fr-text--xs text-red-500">(à vérifier)</p>
                            {% endif %}
                          </td>
                          <td>
                            {% if requete.accepted is None %}
                              ⏱ En attente de validation par la préfecture
                            {% elif requete.accepted is False %}
                              🚫 Demande refusée
                            {% elif requete.accepted is True %}
                              <a class="fr-btn fr-btn--primary"
                                href="{% url 'app.ads-manager.detail' manager_id=requete.ads_manager.id %}">Gérez les ADS</a>
                            {% endif %}
                          </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <div class="fr-my-6v">
            <a class="fr-btn fr-btn--secondary" href="{% url 'app.ads-manager.demande_gestion_ads' %}">Demander à gérer une autre administration</a>
          </div>
      </div>

      <div class="fr-col-12 fr-col-lg-4">
        <img 
          class="fr-ml-6v fr-mt-6v homepage-img"
          alt=""
          src="../../images/logo_homepage.png"
        />
      </div>
    </div>
  </div>
</div>

{% include "./accueil_newsletter.html" %}
{% include "./accueil_statistiques.html" with background_grey=True %}
{% include "./accueil_contact.html" %}

{% if show_notation %}
  {% include "./modale_notation.html" %}
{% endif %}