<div class="homepage-section">
  <div class="fr-container">
    <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--middle">
      <div class="fr-col-12 fr-col-lg-8">
          <h1 class="fr-mt-5w">MesADS, l’outil de référence du secteur taxi</h1>

          <p class="fr-text--lead ">
            MesADS simplifie la <strong>gestion administrative des taxis</strong> pour tous les acteurs du secteur. 
            Que vous soyez <strong>préfecture, mairie, chauffeur en exercice ou en formation</strong>, 
            notre plateforme centralise l'ensemble des démarches administratives liées aux taxis. Un outil de référence qui 
            <strong>connecte les administrations et les professionnels</strong> pour une gestion fluide et efficace de toutes 
            vos <strong>Autorisations De Stationnement (ADS)</strong>.
          </p>
      </div>

      <div class="fr-col-12 fr-col-lg-4">
        <img 
          class="fr-ml-6v homepage-img"
          alt=""
          src="../../images/logo_homepage.png"
        />
      </div>
    </div>
  </div>
</div>

<div class="homepage-section background-light-grey">
  <div class="fr-container">
    <h2 class="text-center">Nos services</h2>
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-6">
        <div class="fr-tile fr-enlarge-link" id="tile-reglementation">
          <div class="fr-tile__body">
            <div class="fr-tile__content">
              <h3 class="fr-tile__title">
                <a href="{% url 'app.ads-manager.demande_gestion_ads' %}">Vous êtes gestionnaire d'ADS?</a>
              </h3>
              <p class="fr-tile__detail">Demander un accès à votre préfecture.</p>
            </div>
          </div>
          <div class="fr-tile__header">
            <div class="fr-tile__pictogram">
              <img alt="" src="../../images/homepage/icone_reglementation.png" width="80px" />
            </div>
          </div>
        </div>
      </div>
      <div class="fr-col-6">
        <div class="fr-tile fr-enlarge-link" id="tile-repertoire">
          <div class="fr-tile__body">
            <div class="fr-tile__content">
              <h3 class="fr-tile__title">
                <a href="{% url 'vehicules-relais.proprietaire.new' %}">Vous êtes propriétaire de taxis relais?</a>
              </h3>
              <p class="fr-tile__detail">Créer votre espace propriétaire.</p>
            </div>
          </div>
          <div class="fr-tile__header">
            <div class="fr-tile__pictogram">
              <img alt="" src="../../images/homepage/icone_repertoire.png" width="80px" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include "./accueil_statistiques.html" %}
{% include "./accueil_newsletter.html" %}
{% include "./accueil_contact.html" with background_grey=True %}
