
<button aria-controls="modal-notation" data-fr-opened="true" type="button" class="fr-btn fr-hidden">Ouvrir la modale</button>
<dialog id="modal-notation" class="fr-modal" aria-labelledby="modal-notation-title" data-fr-concealing-backdrop="true">

  <div class="fr-container fr-container--fluid fr-container-md">
    <div class="fr-grid-row fr-grid-row--center">
      <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
        <div class="fr-modal__body">
          <div class="fr-modal__header">
            <button aria-controls="modal-notation" title="Fermer" type="button" class="fr-btn--close fr-btn">Fermer</button>
          </div>
          <div class="fr-modal__content">
            <h2 id="modal-notation-title" class="fr-modal__title">
              Votre avis nous intéresse!
            </h2>
            <form id="form-notation" action="{% url 'app.note-service' %}" method="post">
              {% csrf_token %}

              <div class="flex flex-col gap-2 md:flex-row">
                <fieldset class="rating-fieldset">
                  <legend id="rating-legend-facilite" class="rating-legend">Votre avis sur la facilité d'usage du service</legend>

                  <p id="rating-instructions-facilite" class="fr-sr-only">
                    Donnez une note de 1 à 5. 1 = très insatisfait, 5 = très satisfait.
                    Utilisez Tab pour vous déplacer dans le groupe puis Flèche gauche/droite pour choisir la note.
                  </p>

                  <div class="rating-stars" aria-labelledby="rating-legend-facilite" aria-describedby="rating-instructions-facilite">
                    <label class="star">
                      <input type="radio" name="note_facilite" value="1" required>
                      <span aria-hidden="true">★</span>
                      <span class="fr-sr-only">1 sur 5 – Très insatisfait</span>
                    </label>

                    <label class="star">
                      <input type="radio" name="note_facilite" value="2">
                      <span aria-hidden="true">★</span>
                      <span class="fr-sr-only">2 sur 5 – Insatisfait</span>
                    </label>

                    <label class="star">
                      <input type="radio" name="note_facilite" value="3">
                      <span aria-hidden="true">★</span>
                      <span class="fr-sr-only">3 sur 5 – Moyen</span>
                    </label>

                    <label class="star">
                      <input type="radio" name="note_facilite" value="4">
                      <span aria-hidden="true">★</span>
                      <span class="fr-sr-only">4 sur 5 – Satisfait</span>
                    </label>

                    <label class="star">
                      <input type="radio" name="note_facilite" value="5">
                      <span aria-hidden="true">★</span>
                      <span class="fr-sr-only">5 sur 5 – Excellent</span>
                    </label>

                  </div>

                  
                </fieldset>

                <fieldset class="rating-fieldset">
                  <legend id="rating-legend-qualite" class="rating-legend">Votre avis sur la qualité du service</legend>

                  <p id="rating-instructions-qualite" class="fr-sr-only">
                    Donnez une note de 1 à 5. 1 = très insatisfait, 5 = très satisfait.
                    Utilisez Tab pour vous déplacer dans le groupe puis Flèche gauche/droite pour choisir la note.
                  </p>

                  <div class="rating-stars" aria-labelledby="rating-legend-qualite" aria-describedby="rating-instructions-qualite">

                    <label class="star">
                      <input type="radio" name="note_qualite" value="1" required>
                      <span aria-hidden="true">★</span>
                      <span class="fr-sr-only">1 sur 5 – Très insatisfait</span>
                    </label>

                    <label class="star">
                      <input type="radio" name="note_qualite" value="2">
                      <span aria-hidden="true">★</span>
                      <span class="fr-sr-only">2 sur 5 – Insatisfait</span>
                    </label>

                    <label class="star">
                      <input type="radio" name="note_qualite" value="3">
                      <span aria-hidden="true">★</span>
                      <span class="fr-sr-only">3 sur 5 – Moyen</span>
                    </label>

                    <label class="star">
                      <input type="radio" name="note_qualite" value="4">
                      <span aria-hidden="true">★</span>
                      <span class="fr-sr-only">4 sur 5 – Satisfait</span>
                    </label>

                    <label class="star">
                      <input type="radio" name="note_qualite" value="5">
                      <span aria-hidden="true">★</span>
                      <span class="fr-sr-only">5 sur 5 – Excellent</span>
                    </label>
                  </div>
                </fieldset>

              </div>
              <button type="submit" name="action" value="note" class="fr-btn">Envoyer</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</dialog>

<script>
  (() => {
    const modal = document.getElementById("modal-notation")
    const form = document.getElementById("form-notation")

    console.log(modal)
    console.log(form.getAttribute('action'))

    if (!modal || !form) return ;

    let hasSubmitNote = false;
    let isSending = false;

    function getCSRFToken() {
      const tokenInput = form.querySelector('input[name="csrfmiddlewaretoken"]');
      return tokenInput ? tokenInput.value : '';
    }

    function restoreFocusToHeader() {
      const target = document.getElementById('mesads-header-home-link');
      if (target) {
        target.focus();
      }
    }

    async function postForm(action) {
      if (isSending) return;
      isSending = true;

      const data = new FormData(form)
      data.set('action', action);
      console.log(data)
      try {
        const response = await fetch(
          form.getAttribute('action'),
          {
            method: 'POST',
            headers: {
              'X-CSRFToken': getCSRFToken(),
              'X-Requested-With': 'XMLHttpRequest',
            },
            body: data,
            credentials: 'same-origin'
          }
        )

        if (!response.ok) throw new Error('HTTP' + response.status);
      } finally {
        isSending = false;
      }
    }

    function closeModal() {
      window.dsfr(modal).modal.conceal();
    }

    form.addEventListener('submit', async (e) => {
      e.preventDefault();
      if (hasSubmitNote) return ;

      try {
        await postForm('note');
        hasSubmitNote = true;
        closeModal()
      } catch (err) {
        console.error(err);
      }
    })

    modal.addEventListener('dsfr.conceal', async () => {
      if (hasSubmitNote || isSending) return ;

      try {
        await postForm('close');
      } catch (err) {
        console.error(err)
      }
      restoreFocusToHeader();
    })
  })();
</script>