{% load is_subpath %}
<header role="banner" class="fr-header">
  <div class="fr-header__body">
    <div class="fr-container">
      <div class="fr-header__body-row">
        <div class="fr-header__brand fr-enlarge-link">
          <div class="fr-header__brand-top">
            <div class="fr-header__logo">
              <p class="fr-logo">
                République
                <br>
                Française
              </p>
            </div>
            <div class="fr-header__navbar">
              <button class="fr-btn--menu fr-btn"
                      data-fr-opened="false"
                      aria-controls="menu"
                      aria-haspopup="menu"
                      title="Menu"
                      id="fr-btn-menu-mobile">Menu</button>
            </div>
          </div>
          <div class="fr-header__service">
            <a href="/">
              <p class="fr-header__service-title">Mes ADS</p>
            </a>
            <p class="fr-header__service-tagline">
              🚖 La base Française des autorisations de stationnement Taxi <span class="inline-block w-fit -scale-x-100">🚕</span>
            </p>
          </div>
        </div>
        <div class="fr-header__tools">
          <div class="fr-header__tools-links">
            <ul class="fr-links-group">
              {% if user.is_authenticated %}
                <li>
                  <a class="fr-link fr-icon-user-line" href="{% url 'password_change' %}">Changer de mot de passe</a>
                </li>
                <li>
                  <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="fr-link fr-icon-close-circle-line">Déconnexion</button>
                  </form>
                </li>
                {% if user.is_superuser %}
                  <li>
                    <a class="fr-link fr-icon-alert-line" href="{% url 'admin:index' %}">Admin</a>
                  </li>
                {% endif %}
              {% else %}
                <li>
                  <a class="fr-link fr-icon-close-circle-line" href="{% url 'login' %}">Connexion / Création de compte</a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="fr-header__menu fr-modal"
        id="menu"
        aria-labelledby="fr-btn-menu-mobile">
    <div class="fr-container">
      <button class="fr-link--close fr-link" aria-controls="menu">Fermer</button>
      <div class="fr-header__menu-links"></div>
      <nav class="fr-nav"
            id="navigation-832"
            role="navigation"
            aria-label="Menu principal">
        <ul class="fr-nav__list">
          <li class="fr-nav__item">
            {% url 'app.ads-manager.index' as ads_manager_index_url %}
            {% is_subpath request.path ads_manager_index_url 1 as is_ads_register %}
            <a class="fr-nav__link"
                href="{{ ads_manager_index_url }}"
                {% if is_ads_register %}aria-current="page"{% endif %}>📄 Registre des ADS</a>
          </li>
          <li class="fr-nav__item">
            {% url 'vehicules-relais.index' as vehicules_relais_index_url %}
            {% is_subpath request.path vehicules_relais_index_url 1 as is_vehicules_relais %}
            <a class="fr-nav__link"
                href="{{ vehicules_relais_index_url }}"
                {% if is_vehicules_relais %}aria-current="page"{% endif %}>🚖 Répertoires des Véhicules Relais</a>
          </li>
          <li class="fr-nav__item">
            {% url 'app.reglementation' as reglementation_url %}
            {% is_subpath request.path reglementation_url 1 as is_reglementation %}
            <a class="fr-nav__link"
                href="{{ reglementation_url }}"
                {% if is_reglementation %}aria-current="page"{% endif %}>📚 Réglementation taxi</a>
          </li>
          <li class="fr-nav__item">
            <button
              id="navigation-besoin-d-aide"
              aria-expanded="false"
              aria-controls="navigation-besoin-d-aide"
              type="button"
              class="fr-nav__btn"
            >
              Besoin d'aide
            </button>
            <div class="fr-collapse fr-menu" id="navigation-besoin-d-aide">
              <ul class="fr-menu__list">
                <li>
                  {% url 'app.faq' as faq_url %}
                  <a
                    class="fr-nav__link"
                    href="{{ faq_url }}"
                    {% if request.path == faq_url %}aria-current="page"{% endif %}
                  >
                    Foire aux questions
                  </a>
                </li>
                <li>
                  <a
                    id="navigation-besoin-d-aide-2"
                    type="menu"
                    href="https://beta.gouv.fr/startups/mesads.html"
                    target="_blank"
                    class="fr-nav__link"
                  >
                    À propos de MesADS
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>