{% load is_subpath %}
<header role="banner" class="fr-header" id="header">
  <div class="fr-header__body">
    <div class="fr-container">
      <div class="fr-header__body-row">
        <div class="fr-header__brand fr-enlarge-link">
          <div class="fr-header__brand-top">
            <div class="fr-header__logo">
              <p class="fr-logo">
                République
                <br>
                Française
              </p>
            </div>
            <div class="fr-header__navbar">
              <button
                class="fr-btn--menu fr-btn"
                data-fr-opened="false"
                aria-controls="header-menu"
                aria-haspopup="header-menu"
                title="Menu mobile"
                id="fr-btn-menu-mobile"
              >
                Menu
              </button>
            </div>
          </div>
          <div class="fr-header__service">
            <a href="/" title="MesADS - Retour à l'accueil" aria-label="MesADS - Retour à l'accueil">
              <p class="fr-header__service-title">Mes ADS</p>
            </a>
            <p class="fr-header__service-tagline">
              L'outil de référence du secteur taxi
            </p>
          </div>
        </div>
        <div class="fr-header__tools">
          <div class="fr-header__tools-links">
            <ul class="fr-links-group">
              {% if user.is_authenticated %}
                <li>
                  <a class="fr-link fr-icon-user-line" href="{% url 'password_change' %}">Changer de mot de passe</a>
                </li>
                <li>
                  <form action="{% url 'oidc_logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="fr-link fr-icon-close-circle-line">Déconnexion</button>
                  </form>
                </li>
                {% if user.is_superuser %}
                  <li>
                    <a class="fr-link fr-icon-alert-line" href="{% url 'admin:index' %}">Admin</a>
                  </li>
                {% endif %}
              {% else %}
                <li>
                  <a
                    class="fr-link fr-icon-account-circle-fill"
                    href="{% url 'login' %}"
                  >
                    Se connecter
                    <span class="fr-icon-arrow-down-s-line" aria-hidden="true"></span>
                  </a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="fr-header__menu fr-modal" id="header-menu" aria-labelledby="fr-btn-menu-mobile">
    <div class="fr-container">
      <button class="fr-btn--close fr-btn" aria-controls="header-menu" title="Fermer" type="button" >Fermer</button>

      <div class="fr-header__menu-links"></div>
      <nav
        class="fr-nav"
        id="navigation-832"
        role="navigation"
        aria-label="Menu principal"
      >

        {% if administrateur_ads %}
        {% include "header_prefecture.html" %}
        {% elif manager_ads %}
        {% include "header_gestionnaire.html" %}
        {% elif proprietaire_vehicule_relais %}
        {% include "header_proprietaire.html" %}
        {% else %}
        <ul class="fr-nav__list">
          <li class="fr-nav__item">
            {% url 'vehicules-relais.index' as vehicules_relais_index_url %}
            {% is_subpath request.path vehicules_relais_index_url 1 as is_vehicules_relais %}
            <a class="fr-nav__link"
                href="{{ vehicules_relais_index_url }}"
                {% if is_vehicules_relais %}aria-current="page"{% endif %}>Répertoires des taxis Relais</a>
          </li>
          <li class="fr-nav__item">
            {% url 'app.listes_attentes' as listes_attentes_url %}
            {% is_subpath request.path listes_attentes_url 1 as is_listes_attentes %}
            <a class="fr-nav__link"
                href="{{ listes_attentes_url }}"
                {% if is_listes_attentes %}aria-current="page"{% endif %}>Listes d'attente</a>
          </li>
          <li class="fr-nav__item">
            {% url 'app.reglementation' as reglementation_url %}
            {% is_subpath request.path reglementation_url 1 as is_reglementation %}
            <a class="fr-nav__link"
                href="{{ reglementation_url }}"
                {% if is_reglementation %}aria-current="page"{% endif %}>Réglementation taxi</a>
          </li>
          <li class="fr-nav__item">
            <button
              id="navigation-besoin-d-aide-nav"
              aria-expanded="false"
              aria-controls="navigation-besoin-d-aide"
              type="button"
              class="fr-nav__btn"
            >
              Besoin d'aide
            </button>
            <div class="fr-collapse fr-menu" id="navigation-besoin-d-aide">
              <ul class="fr-menu__list">
                <li>
                  {% url 'app.faq' as faq_url %}
                  <a
                    class="fr-nav__link"
                    href="{{ faq_url }}"
                    {% if request.path == faq_url %}aria-current="page"{% endif %}
                  >
                    Foire aux questions
                  </a>
                </li>
                <li>
                  <a
                    href="https://beta.gouv.fr/startups/mesads.html"
                    target="_blank"
                    class="fr-nav__link"
                  >
                    À propos de MesADS
                    <span class="fr-sr-only"> Nouvelle fenêtre</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
        {% endif %}
      </nav>
    </div>
  </div>
</header>