{# djlint:off H030 H016 H031 D018 #}
{% load static %}
{% load html_metadata %}
<!DOCTYPE html>
<html lang="fr" data-fr-scheme="light">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="{% static '@gouvfr/dsfr/dsfr.min.css' %}?v=20250828">
    <link rel="stylesheet" href="{% static '@gouvfr/utility/utility.css' %}">
    <link rel="stylesheet" href="{% static 'css/mesads.css' %}">
    <link rel="apple-touch-icon"
          href="{% static '@gouvfr/favicon/apple-touch-icon.png' %}">
    <!-- 180×180 -->
    <link rel="icon"
          href="{% static '@gouvfr/favicon/favicon.svg' %}"
          type="image/svg+xml">
    <link rel="shortcut icon"
          href="{% static '@gouvfr/favicon/favicon.ico' %}"
          type="image/x-icon">
    <!-- 32×32 -->
    {% block extra_head %}
    {% endblock extra_head %}
    {% html_metadata %}
    {% if MESADS_STATS_ENABLED %}
      <script>
      var _paq = window._paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="https://stats.beta.gouv.fr/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '137']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
      })();
      </script>
    {% endif %}
  </head>
  <body>
    <div class="fr-skiplinks">
      <nav class="fr-container" role="navigation" aria-label="Accès rapide">
        <ul class="fr-skiplinks__list">
          <li>
            <a class="fr-link" href="#content">Contenu</a>
          </li>
          <li>
            <a class="fr-link" href="#menu">Menu</a>
          </li>
          <li>
            <a class="fr-link" href="#footer">Pied de page</a>
          </li>
        </ul>
      </nav>
    </div>
    {% include "header.html" %}
    {% block content %}
    {% endblock content %}
    {% include "footer.html" %}

    <script type="module"
            src="{% static '@gouvfr/dsfr/dsfr.module.js' %}?v=20250828"></script>
    <script type="text/javascript"
            nomodule
            src="{% static '@gouvfr/js/dsfr.nomodule.js' %}?v=20250828"></script>
    <script type="text/javascript"
            src="{% static 'admin/js/vendor/jquery/jquery.js' %}?v=20240718"></script>
    {% if MESADS_SENTRY_JS_URL %}
      <script src="{{ MESADS_SENTRY_JS_URL }}" crossorigin="anonymous"></script>
    {% endif %}
    {% block endbody %}
    {% endblock endbody %}
  </body>
</html>
{# djlint:on #}
