{% load static %}

<p>
Si vous avez oublié votre mot de passe, vous pouvez demander à le réinitialiser.

Pour cela :
</p>

<ul>
    <li>Ouvrez la page pour <a class="fr-btn fr-btn--sm" href="{% url 'password_reset' %}">Réinitialiser votre mot de passe</a></li>
    <li>Saisissez l'adresse e-mail de votre compte Mes.ADS</li>
    <li>Cliquer sur le bouton Réinitialiser</li>
</ul>

{% with "Réinitialisation du mot de passe" as alt_img_text %}
<figure class="fr-content-media" role="group">
    <div class="fr-content-media__img">
        <img class="fr-fluid-img" src="{% static 'faq/account_reset_password.png' %}" alt="{{ alt_img_text }}" />
    </div>
    <figcaption class="fr-content-media__caption">{{ alt_img_text }}</figcaption>
</figure>
{% endwith %}

<p>
    Vous devriez recevoir un e-mail de réinitialisation du mot de passe en quelques minutes. Si vous ne recevez pas cet email, pensez à vérifier vos spams. Le cas échéant, n'hésitez pas à contacter notre équipe par e-mail à <a href="mailto:{{ MESADS_CONTACT_EMAIL }}">{{ MESADS_CONTACT_EMAIL }}</a>.
</p>