<p>
    Si vous ne recevez pas d'e-mail de validation, vous vous trouvez peut-être dans la situation suivante :
</p>

<ul>
    <li>L'e-mail est arrivé dans vos courriers indésirables</li>
    <li>Votre adresse e-mail a éventuellement fait l'objet d'une erreur de saisie. Vous pouvez créer à nouveau un compte, avec l'adresse e-mail correcte.</li>
    <li>Vous utilisez un outil de gestion des spams (type MailInBlack) qui empêche la réceptiondes e-mails. Il faut donc autoriser la réception des e-mails depuis votre hébergeur d'adresse e-mail.</li>
</ul>

<p class="fr-text--light">
    Si vous ne vous trouvez dans aucune des situations susmentionnées, nous vous invitons à nous contacter par e-mail à <a href="mailto:{{ MESADS_CONTACT_EMAIL }}">{{ MESADS_CONTACT_EMAIL }}</a>
</p>