<p>
    Pour valider les demandes d’accès des agents territoriaux (agents de mairie) rattachés à votre préfecture, il vous suffit de :
</p>

<ul>
    <li>Aller sur le menu <a class="fr-btn fr-btn--sm" href="{% url 'app.ads-manager-admin.index' %}">Administration des gestionnaires</a>
    <li>Cliquer sur le bouton Valider en face de la demande en attente</li>
</p>

<p class="fr-highlight fr-highlight--red-marianne-main fr-text--bold">
    Avant d'accepter une demande, assurez-vous que la demande provienne bien d'un agent travaillant pour une administration dépendant de votre préfecture, par téléphone par exemple.

    <br />
    <br />

    Si l'adresse e-mail de l'agent vous semble suspecte (adresse personnelle, agent inconnu), ne validez pas la demande et contactez notre équipe.
</p>
   
<p class="fr-text--light">
    En cas de doute concernant la demande formulée, nous vous invitons à nous contacter par e-mail à <a href="mailto:{{ MESADS_CONTACT_EMAIL }}">{{ MESADS_CONTACT_EMAIL }}</a> 
</p>
