{% load static %}

<p>
Si vous souhaitez créer une nouvelle ADS dans votre espace Mes.ADS, il vous suffit de :
</p>

<ul>
    <li>Cliquer sur le menu <a href="{% url 'app.ads-manager.index' %}" class="fr-btn fr-btn--sm">Gestion des ADS</a> puis sélectionner l'administration</li>
    <li>Cliquer sur le bouton <strong>Créer une nouvelle ADS</strong></li>
    <li>Renseigner l'intégralité du formulaire de saisie</li>
    <li>Valider la saisie en cliquant sur le bouton <strong>Créer la nouvelle ADS</strong></li>
</ul>

<p>
    Si vous souhaitez retrouver la procédure détaillée de création d'une ADS sur l'outil, nous vous invitons à télécharger notre guide d'utilisation.
</p>

<div class="fr-download">
    <p>
        <a href="{% static "Guide d'utilisation.pdf" %}" download class="fr-download__link">Télécharger le guide d'utilisation
            <span class="fr-download__detail">
                PDF
            </span>
        </a>
    </p>
</div>