{% extends "base.html" %}

{% block title %}Création d'un compte Mes ADS{% endblock %}

{% block body %}

<div class="fr-grid-row fr-grid-row--center">
  <div class="fr-col-12 fr-col-sm-8 fr-col-md-6">
    <h1>Échec de l'inscription</h1>

    <p>
      Le lien d'activation que vous avez suivi n'est pas correct. Vérifiez que vous avez bien copié tout le lien pour valider votre inscription.
    </p>

    <p>
      si vous rencontrez le moindre problème, vous pouvez contacter notre équipe par email à <a href="mailto:{{ MESADS_CONTACT_EMAIL }}">{{ MESADS_CONTACT_EMAIL }}</a>.
    </p>
  </div>
</div>

{% endblock %}
