{% extends "base-banner.html" %}

{% block meta %}
  <meta name="description" content="Mes ADS, une startup d'état de beta.gouv.fr, propose une plateforme centralisée pour la gestion des Autorisations de Stationnement (ADS) et des véhicules relais pour les taxis." />
{% endblock %}

{% block title %}MesADS, le registre des ADS et des véhicules relais{% endblock %}

{% block banner %}
  MesADS, le registre des ADS et des véhicules relais
{% endblock %}

{% block body %}
<p class="fr-text--lead" style="text-align: center">
  MesADS est l'outil de référence du secteur taxi. La plateforme propose actuellement deux fonctionnalités: la gestion des licences de taxi pour les administrations (registre des ADS) et l'accès à la liste des véhicules de remplacement pour les chauffeurs de taxi (registre des taxis relais) . 
</p>

{% if not request.user.is_authenticated%}
  <h2 class="fr-mt-5w">Vous êtes...</h2>

  <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center">
    <div class="fr-col-6">
      <div class="fr-tile fr-enlarge-link">
        <div class="fr-tile__body">
          <div class="fr-tile__content">
            <h3 class="fr-tile__title">
              <a href="{% url 'app.profiles.ads_manager' %}">Chargé de la gestion des ADS de votre commune ou EPCI</a>
            </h3>
          </div>
        </div>
        <div class="fr-tile__header">
          <div class="fr-tile__pictogram">
            <div style="font-size: 4rem">
              👨‍💻
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="fr-col-6">
      <div class="fr-tile fr-enlarge-link">
        <div class="fr-tile__body">
          <div class="fr-tile__content">
            <h3 class="fr-tile__title">
              <a href="{% url 'app.profiles.ads_manager_administrator' %}">Agent au sein d'une préfecture</a>
            </h3>
          </div>
        </div>
        <div class="fr-tile__header">
          <div class="fr-tile__pictogram">
            <div style="font-size: 4rem">
              🇫🇷‍
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="fr-col-6">
      <div class="fr-tile fr-enlarge-link">
        <div class="fr-tile__body">
          <div class="fr-tile__content">
            <h3 class="fr-tile__title">
              <a href="{% url 'app.profiles.aom' %}">Autorités organisatrices de la mobilité (AOM)</a>
            </h3>
          </div>
        </div>
        <div class="fr-tile__header">
          <div class="fr-tile__pictogram">
            <div style="font-size: 4rem">
              🚦
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="fr-col-6">
      <div class="fr-tile fr-enlarge-link">
        <div class="fr-tile__body">
          <div class="fr-tile__content">
            <h3 class="fr-tile__title">
              <a href="{% url 'app.profiles.driver' %}">Chauffeur de taxi</a>
            </h3>
          </div>
        </div>
        <div class="fr-tile__header">
          <div class="fr-tile__pictogram">
            <div style="font-size: 4rem">
              🚕
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <a class="fr-link fr-icon-arrow-right-line fr-link--icon-right" href="{% url 'app.profiles.other' %}">Vous avez un autre profil</a>
    </div>
  </div>
{% else %}
  <h2 class="fr-mt-5w">Je souhaite accéder...</h2>

  <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center">
    <div class="fr-col-6">
      <div class="fr-tile fr-enlarge-link">
        <div class="fr-tile__body">
          <div class="fr-tile__content">
            <h3 class="fr-tile__title">
              <a href="{% url 'app.ads-register.index' %}">Au registre des ADS</a>
            </h3>
          </div>
        </div>
        <div class="fr-tile__header">
          <div class="fr-tile__pictogram">
            <div style="font-size: 4rem">
              👨‍💻
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}

{% endblock %}