{% extends "base.html" %}

{% block title %}Page introuvable{% endblock %}

{% block body %}
<h1 class="fr-mb-4w">La page demandée n'existe pas</h1>

<p>
  💨 Le lien que vous avez suivi mène vers une page qui n'existe pas.
</p>

<p>
  Nous effectuons régulièrement des mises à jour sur Mes ADS, afin d'améliorer le produit. Si vous avez suivi un lien depuis un autre site, ou depuis votre historique de navigation, il est possible que la page ait été déplacée ou supprimée. Suivez les menus de navigation pour retrouver votre chemin.
</p>

<p>
  Si vous pensez qu'il s'agit d'une erreur, n'hésitez pas à contacter notre équipe sur <a href="mailto:{{ MESADS_CONTACT_EMAIL }}">{{ MESADS_CONTACT_EMAIL }}</a>
</p>

{% endblock %}
