{% extends "skeleton.html" %}

{% block content %}
<main class="fr-container fr-pt-5w fr-pb-5w">
  {% for message in messages %}
    <div class="fr-alert fr-alert--info fr-mb-2w
      {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}fr-alert--info {% endif %}
      {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}fr-alert--success {% endif %}
      {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}fr-alert--error {% endif %}
    ">
      <p>{{ message|safe }}</p>
    </div>
  {% endfor %}
  
  {% block body %}{% endblock %}
</main>
{% endblock %}