{% extends "skeleton.html" %}
{% block extra_head %}
  {{ block.super }}
  <link rel="stylesheet" href="./base.css">
{% endblock extra_head %}
{% block content %}
  <main id="content" class="fr-container fr-pt-md-5w fr-pb-5w">
    <div class="fr-grid-row">
      <div class="fr-col-12 fr-col-md-3">
        {% block sidemenu %}
        {% endblock sidemenu %}
      </div>
      <div class="fr-col-12 fr-col-md-9">
        {% for message in messages %}
          <div class="fr-alert fr-mb-2w {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}fr-alert--info{% endif %} {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}fr-alert--success{% endif %} {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}fr-alert--error{% endif %} ">
            <p>{{ message|safe }}</p>
          </div>
        {% endfor %}
        {% block main %}
        {% endblock main %}
      </div>
    </div>
  </main>
{% endblock content %}
{% block endbody %}
  {{ block.super }}
  <script src="base.ts"></script>
{% endblock endbody %}
