{% comment %}Displayed when the vehicule history is empty{% endcomment %}
<div class="fr-alert fr-alert--info">
    <h3 class="fr-alert__title">Historique des modifications</h3>
  
    <p class="fr-mt-2w">
      Sur cette page, vous trouverez la liste des modifications. Pour chaque modification, vous verrez la date, l'email de l'utilisateur à l'origine de la modification ainsi que les champs modifiés.
    </p>
  
    <p class="fr-mt-2w">
      Si vous effectuez des modifications et revenez sur cette page, l'historique sera disponible.
    </p>
  </div>