{% extends "admin/base_site.html" %}
{% load static %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">Accueil</a> › Statistiques d'usage MesADS
</div>
{% endblock %}


{% block extrastyle %}
  {{ block.super }}
  <style>
    .inline-row {
      display: grid;
      grid-template-columns: max-content 14rem max-content 14rem;
      gap: 12px 16px;
      align-items: center;
    }
    .inline-row label { white-space: nowrap; }
    .inline-row input[type="date"] { width: 100%; }

    @media (max-width: 800px) {
      .inline-row {
        grid-template-columns: max-content 1fr;
      }
    }

    .notes-container {
      display: flex;
      gap: 1rem;
    }

    .stats-block {
      padding: 1rem;
      margin: 1rem;
      border: solid 1px black;
      border-radius: 15px;
    }

    .action-button {
      text-decoration: none;
      background-color: #205067;
      color: white !important;
      cursor: pointer;
      border: #205067 1px solid;
      border-radius: 5px;
      padding: 0.5rem;
      margin: 1rem 0

      
    }
    .action-button:hover{
      color: white;
      background-color: #417690;
    }
  </style>
{% endblock %}


{% block content %}
  <div>
    <h1>Statistiques d'usage</h1>

    <div class="stats-block">
      <h2>Nombre d'utilisateurs</h2>

      <dl>
        <dt>Nombre d'utilisateurs total</dt>
        <dd>{{users_count}}</dd>
        <dt>Nombre d'utilisateurs Pro connect</dt>
        <dd>{{users_proconnect_count}}</dd>
      </dl>

      <h2>Notes utilisateurs</h2>

      <div class="notes-container">
        <div>
          <h3>Note moyenne de facilite d'usage</h3>
          <dl>
            <dt>Note moyenne</dt>
            <dd>{{avg_note_facilite}} / 5</dd>
            <dt>Nombre de notes</dt>
            <dd>{{count_note_facilite}}</dd>
          </dl>

          <table>
            <caption>Répartiton des notes de facilité</caption>
            <thead>
              <tr>
                {% for nr in note_facilite_repartition %}
                <th>{{nr.note}}</th>
                {% endfor %}
              </tr>
              
            </thead>
            <tbody>
                {% for nr in note_facilite_repartition %}
                <th>{{nr.nb}}</th>
                {% endfor %}
              </tr>
            </tbody>
          </table>
        </div>

        <div>
          <h3>Note moyenne de qualité de service</h3>
          <dl>
            <dt>Note moyenne</dt>
            <dd>{{avg_note_qualite}} / 5</dd>
            <dt>Nombre de notes</dt>
            <dd>{{count_note_qualite}}</dd>
          </dl>

          <table>
            <caption>Répartiton des notes de qualité</caption>
            <thead>
              <tr>
                {% for nr in note_qualite_repartition %}
                <th>{{nr.note}}</th>
                {% endfor %}
              </tr>
              
            </thead>
            <tbody>
                {% for nr in note_qualite_repartition %}
                <th>{{nr.nb}}</th>
                {% endfor %}
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="stats-block">
      <ul>
        <li><strong>Pourcentage d'ADS valides et complètes: </strong> {{pourcentage_ads_valide_et_complete}}%</li>
        <li><strong>Pourcentage d'ADS valides et complètes (sans Paris): </strong> {{pourcentage_ads_valide_et_complete_sans_paris}}%</li>
        <li><strong>Nombre de listes d'attentes: </strong>{{nombre_listes_attente}}</li>
        <li><strong>Part de listes d'attente publiques: </strong>{{pourcentage_listes_attente_publique}}%</li>
      </ul>

      <a class="action-button" href="{% url 'admin-statistiques-export-data-liste-attente' %}" target="_blank">Données liste attente</a>
    </div>

    

    <div class="stats-block">
      <form method="get" action="{% url 'admin-statistiques' %}">
        <fieldset class="module aligned">
          <div class="form-row inline-row">
            <label for="id_start_date">Date de début :</label>
            <input
              type="date"
              id="id_start_date"
              name="start_date"
              value="{{ start_date|date:'Y-m-d' }}"
            />
            <label for="id_end_date">Date de fin :</label>
            <input
              type="date"
              id="id_end_date"
              name="end_date"
              value="{{ end_date|date:'Y-m-d' }}"
            />
          </div>
        </fieldset>

        <div class="submit-row">
          <input type="submit" value="Filtrer" class="default" />
        </div>
      </form>

      <h2>Période du {{start_date}} au {{end_date}}</h2>

      <ul>
        <li><strong>Nombre de connexions uniques : </strong> {{nombre_connexions}}</li>
        <li><strong>Nombre de création et de modification d'ADS : </strong> {{nombre_creation_modification_ads}}</li>
        <li><strong>Pourcentage d'ADS valides et complètes: </strong> {{pourcentage_ads_valide_et_complete}}%</li>
        <li><strong>Nombre d'ADS attribuées depuis une liste d'attente: </strong>{{nombre_ads_liste_attente}}</li>
      </ul>
    </div>
  </div>
{% endblock %}