{% extends "admin/base_site.html" %}
{% load static %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">Accueil</a> › Statistiques d'usage MesADS
</div>
{% endblock %}


{% block extrastyle %}
  {{ block.super }}
  <style>
    .inline-row {
      display: grid;
      grid-template-columns: max-content 14rem max-content 14rem;
      gap: 12px 16px;
      align-items: center;
    }
    .inline-row label { white-space: nowrap; }
    .inline-row input[type="date"] { width: 100%; }

    @media (max-width: 800px) {
      .inline-row {
        grid-template-columns: max-content 1fr;
      }
    }

    .notes-container {
      display: flex;
      gap: 1rem;
    }

    .stats-block {
      padding: 1rem;
      margin: 1rem;
      border: solid 1px black;
      border-radius: 15px;
    }
  </style>
{% endblock %}


{% block content %}
  <div>
    <h1>Statistiques d'usage</h1>

    <div class="stats-block">
      <h2>Notes utilisateurs</h2>

      <div class="notes-container">
        <div>
          <h3>Note moyenne de facilite d'usage</h3>
          <dl>
            <dt>Note moyenne</dt>
            <dd>{{avg_note_facilite}} / 5</dd>
            <dt>Nombre de notes</dt>
            <dd>{{count_note_facilite}}</dd>
          </dl>
        </div>

        <div>
          <h3>Note moyenne de qualité de service</h3>
          <dl>
            <dt>Note moyenne</dt>
            <dd>{{avg_note_qualite}} / 5</dd>
            <dt>Nombre de notes</dt>
            <dd>{{count_note_qualite}}</dd>
          </dl>
        </div>
      </div>
    </div>

    <form method="get" action="{% url 'admin-statistiques' %}">
      <fieldset class="module aligned">
        <div class="form-row inline-row">
          <label for="id_start_date">Date de début :</label>
          <input
            type="date"
            id="id_start_date"
            name="start_date"
            value="{{ start_date|date:'Y-m-d' }}"
          />
          <label for="id_end_date">Date de fin :</label>
          <input
            type="date"
            id="id_end_date"
            name="end_date"
            value="{{ end_date|date:'Y-m-d' }}"
          />
        </div>
      </fieldset>

      <div class="submit-row">
        <input type="submit" value="Filtrer" class="default" />
      </div>
    </form>

    <div class="stats-block">
      <h2>Période du {{start_date}} au {{end_date}}</h2>

      <ul>
        <li><strong>Nombre de connexions uniques : </strong> {{nombre_connexions}}</li>
        <li><strong>Nombre de création et de modification d'ADS : </strong> {{nombre_creation_modification_ads}}</li>
        <li><strong>Pourcentage d'ADS valides et complètes: </strong> {{pourcentage_ads_valide_et_complete}}%</li>
      </ul>
    </div>
  </div>
{% endblock %}