<hr />

<div class="fr-input-group fr-upload-group{% if field_errors %} fr-input-group--error{% endif %}">
  <label class="fr-label" for="{{ field.id_for_label }}">
    {{ field_title }}{% if required %}*{% endif %}
    {% if field_description %}<span class="fr-hint-text">{{ field_description }}</span>{% endif %}

    <span class="fr-hint-text">
      {% if field.value %}
      Actuellement : <a href="{{ field.value.url }}">{{ field.value }}</a>
      {% else %}
      Actuellement : aucun fichier enregistré
      {% endif %}
    </span>
  </label>

  <input
    class="fr-upload"
    type="file"
    id="{{ field.id_for_label }}"
    name="{{ field.html_name }}"
    data-display-src="{{ field.name }}-clear_id"
    data-show-value="false"
  />

  {% if field.value %}
  <div class="fr-checkbox-group fr-mt-3w">
    <input type="checkbox" name="{{ field.html_name }}-clear" id="{{ field.id_for_label }}-clear_id">
    <label class="fr-label" for="{{ field.id_for_label }}-clear_id">Cochez cette case pour effacer le fichier</label>
  </div>
  {% endif %}

  {% for error in field_errors %}
  <p class="fr-error-text">
    {{ error }}
  </p>
  {% endfor %}
</div>

<hr />
