<div
    class="fr-input-group{% if field_errors %} fr-input-group--error{% endif %}"
    {% if data_display_src %} data-display-src="{{ data_display_src }}"{% endif %}
    {% if data_show_value %} data-show-value="{{ data_show_value }}"{% endif %}
    {% if data_hide_value %} data-hide-value="{{ data_hide_value }}"{% endif %}
>
  <label
    class="fr-label"
    for="{{ field.id_for_label }}"
  >
    {{ field_title }}
    {% if field_description %}<span class="fr-hint-text">{{ field_description }}</span>{% endif %}
  </label>

  <input
    class="fr-input{% if field_errors %} fr-input--error{% endif %}"
    type="text"
    id="{{ field.id_for_label }}"
    name="{{ field.html_name }}"
    value="{{ field.value|default:"" }}"
  />

  {% for error in field_errors %}
  <p class="fr-error-text">
    {{ error }}
  </p>
  {% endfor %}
</div>
