<div class="fr-select-group{% if field_errors %} fr-select-group--error{% endif %}">
  <label
    class="fr-label"
    for="{{ field.id_for_label }}"
  >
    {{ field_title }}{% if required %}*{% endif %}
    {% if field_description %}<span class="fr-hint-text">{{ field_description }}</span>{% endif %}
  </label>

  <select class="fr-select{% if field_errors %} fr-select--error{% endif %}" id="{{ field.id_for_label }}" name="{{ field.html_name }}">
    {% for option in field %}
      {{ option }}
    {% endfor %}
  </select>

  {% for error in field_errors %}
  <p class="fr-error-text">
    {{ error }}
  </p>
  {% endfor %}
</div>
