{% load str_to_date %}

<div class="fr-input-group{% if field_errors %} fr-input-group--error{% endif %}">
  <label
    class="fr-label"
    for="{{ field.id_for_label }}"
  >
  {{ field_title }}{% if required %}*{% endif %}
  {% if field.help_text %}<span class="fr-hint-text">{{ field.help_text }}</span>{% endif %}
  </label>

  <div class="fr-input-wrap fr-fi-calendar-line">
    <input
      class="fr-input{% if field_errors %} fr-input--error{% endif %}"
      type="date"
      id="{{ field.id_for_label }}"
      name="{{ field.html_name }}"
      value="{{ field.value|str_to_date|date:"Y-m-d"|default:"" }}"
      {% if x_model %}x-model="{{ x_model }}"{% endif %}
      {% if readonly %}readonly{% endif %}
    />
  </div>

  {% for error in field_errors %}
  <p class="fr-error-text">
    {{ error }}
  </p>
  {% endfor %}
</div>
