{% extends "base.html" %}

{% block title %}Gestion des ADS{% endblock %}

{% block body %}
<nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
  <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d’Ariane</button>
  <div class="fr-collapse" id="breadcrumb-1">
    <ol class="fr-breadcrumb__list">
      <li>
        <a class="fr-breadcrumb__link" href="{% url 'ads-manager-request' %}">Gestion des ADS</a>
      </li>
      <li>
        <a class="fr-breadcrumb__link" href="{% url 'ads-manager' manager_id=ads_manager.id %}">{{ ads_manager.content_object.display_text|capfirst }}</a>
      </li>
      <li>
      {% if ads %}
        <a class="fr-breadcrumb__link" aria-current="page">ADS numéro {{ ads.number }}</a>
      {% else %}
        <a class="fr-breadcrumb__link" aria-current="page">Création d'une nouvelle ADS</a>
      {% endif %}
      </li>
    </ol>
  </div>
</nav>

{% if ads %}
<p>
  <a class="fr-link fr-fi-arrow-right-line fr-link--icon-right" href="{% url 'ads.delete' manager_id=ads_manager.id ads_id=ads.id %}">Supprimer cette ADS</a>
</p>
{% endif %}

<h1>
{% if ads %}
ADS numéro {{ ads.number }} ({{ ads.ads_manager.content_object.display_text|capfirst }})
{% else %}
Création d'une nouvelle ADS
{% endif %}
</h1>

<div class="fr-grid-row">
  <form class="fr-col-12 fr-col-sm-8 fr-col-md-6" method="post" enctype="multipart/form-data">
    {% if form.non_field_errors %}
      <div class="fr-input-group fr-input-group--error">
        {% for error in form.non_field_errors %}
        <!-- Non-field error -->
        <p class="fr-error-text">
          {{ error }}
        </p>
        {% endfor %}
      </div>
    {% endif %}

    {% csrf_token %}

    <!-- ADS number -->
    {% include 'pages/ads-form_string.html' with field_title="Numéro de l'ADS" field=form.number field_errors=form.errors.number %}

    <!-- ADS creation date -->
    {% include 'pages/ads-form_date.html' with field_title="Date de création de l'ADS" field=form.ads_creation_date field_errors=form.errors.ads_creation_date %}

    <!-- ADS type -->
    {% include 'pages/ads-form_select.html' with field_title="Type d'ADS" field=form.ads_type field_errors=form.errors.ads_type %}

    <!-- ADS attribution date -->
    {% include 'pages/ads-form_date.html' with field_title="Date d'attribution de l'ADS au titulaire actuel" field=form.attribution_date field_errors=form.errors.attribution_date %}

    <!-- ADS attribution type -->
    {% include 'pages/ads-form_select.html' with field_title="Type d'attribution de l'ADS" field=form.attribution_type field_errors=form.errors.attribution_type %}

    <!-- Transaction identifier -->
    {% include 'pages/ads-form_string.html' with field_title="Numéro d'identification lié au registre des transactions" field=form.transaction_identifier field_errors=form.errors.transaction_identifier data_display_src=form.attribution_type.name data_show_value="paid" %}

    <!-- ADS attribution reason -->
    {% include 'pages/ads-form_string.html' with field_title="Raison d'attribution" field=form.attribution_reason field_errors=form.errors.attribution_reason %}

    <!-- Accepted by CPAM -->
    {% include 'pages/ads-form_select.html' with field_title="Véhicule conventionné CPAM ?" field=form.accepted_cpam field_errors=form.errors.accepted_cpam %}

    <!-- Immatriculation plate -->
    {% include 'pages/ads-form_string.html' with field_title="Plaque d'immatriculation" field=form.immatriculation_plate field_errors=form.errors.immatriculation_plate %}

    <!-- Compatible PMR ? -->
    {% include 'pages/ads-form_select.html' with field_title="Véhicule compatible PMR ?" field=form.vehicle_compatible_pmr field_errors=form.errors.vehicle_compatible_pmr %}

    <!-- Eco vehicle ? -->
    {% include 'pages/ads-form_select.html' with field_title="Véhicule électrique ou hybride ?" field=form.eco_vehicle field_errors=form.errors.eco_vehicle %}

    <!-- Owner firstname -->
    {% include 'pages/ads-form_string.html' with field_title="Prénom du titulaire de l'ADS" field=form.owner_firstname field_errors=form.errors.owner_firstname %}
    <!-- Owner lastname -->
    {% include 'pages/ads-form_string.html' with field_title="Nom du titulaire de l'ADS" field=form.owner_lastname field_errors=form.errors.owner_lastname %}
    <!-- Owner SIRET -->
    {% include 'pages/ads-form_string.html' with field_title="SIRET du titulaire de l'ADS" field=form.owner_siret field_errors=form.errors.owner_siret %}

    <div data-display-src="{{ form.ads_type.name }}" data-hide-value="new">
      <!-- Used by owner ? -->
      {% include 'pages/ads-form_select.html' with field_title="ADS exploitée par son titulaire ?" field=form.used_by_owner field_errors=form.errors.used_by_owner %}

      <div data-display-src="{{ form.used_by_owner.name }}" data-hide-value="true">
        <!-- User status -->
        {% include 'pages/ads-form_select.html' with field_title="Statut de l'exploitant de l'ADS" field=form.user_status field_errors=form.errors.user_status %}

        <!-- User name -->
        {% include 'pages/ads-form_string.html' with field_title="Nom de l'exploitant de l'ADS" field=form.user_name field_errors=form.errors.user_name %}
        <!-- User SIRET -->
        {% include 'pages/ads-form_string.html' with field_title="SIRET de l'exploitant de l'ADS" field=form.user_siret field_errors=form.errors.user_siret %}
      </div>
    </div>

    <!-- Legal file -->
    {% include 'pages/ads-form_file.html' with field_title="Arrêté portant l'attribution de l'ADS" field=form.legal_file field_errors=form.errors.legal_file %}

    <div class="fr-col-12 fr-input-group">
      {% if ads %}
      <button type="submit" class="fr-btn">Modifier</button>
      {% else %}
      <button type="submit" class="fr-btn">Créer la nouvelle ADS</button>
      {% endif %}
    </div>
  </form>
</div>
{% endblock %}

{% block endbody %}
<script type="text/javascript">
document.addEventListener('DOMContentLoaded', () => {
  const els = document.querySelectorAll('[data-display-src]');

  for (i = 0; i < els.length; ++i) {
    // Node to hide or show depending on the value of src
    const dst = els[i];

    // Element to watch
    const srcId = dst.getAttribute('data-display-src');
    const src = document.getElementById(srcId);

    const setDisplay = (src, dst) => {
      // Use data-hide-value to show by default and hide when values match.
      // Use data-show-value to hide by default and show when values match.
      const hideValue = dst.getAttribute('data-hide-value');
      const showValue = dst.getAttribute('data-show-value');

      if (hideValue && showValue) {
        throw new Error('You should set data-hide-value or data-show-value, not both!');
      }

      if (!hideValue && !showValue) {
        throw new Error('You should set data-hide-value or data-show-value');
      }

      if (hideValue) {
        dst.style.display = src.value === hideValue ? 'none' : 'block';
      } else if (showValue) {
        dst.style.display = src.value === showValue ? 'block' : 'none';
      }
    };

    // Initial rendering
    setDisplay(src, dst);

    // Watch src
    src.addEventListener('change', () => setDisplay(src, dst));
  }
});
</script>
{% endblock %}
