{% extends "base.html" %}
{% load str_to_date %}

{% block title %}Gestion des ADS{% endblock %}

{% block body %}
<nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
  <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d’Ariane</button>
  <div class="fr-collapse" id="breadcrumb-1">
    <ol class="fr-breadcrumb__list">
      <li>
        <a class="fr-breadcrumb__link" href="{% url 'app.ads-manager.index' %}">Gestion des ADS</a>
      </li>
      <li>
        <a class="fr-breadcrumb__link" href="{% url 'app.ads-manager.detail' manager_id=ads_manager.id %}">{{ ads_manager.content_object.display_text|capfirst }}</a>
      </li>
      <li>
      {% if ads %}
        <a class="fr-breadcrumb__link" aria-current="page">ADS numéro {{ ads.number }}</a>
      {% else %}
        <a class="fr-breadcrumb__link" aria-current="page">Création d'une nouvelle ADS</a>
      {% endif %}
      </li>
    </ol>
  </div>
</nav>

<h1>
{% if ads %}
ADS numéro {{ ads.number }} ({{ ads.ads_manager.content_object.display_text|capfirst }})
{% else %}
Création d'une nouvelle ADS
{% endif %}
</h1>

{% if ads_manager.is_locked %}
<div class="fr-highlight">
  <p>
    Cette ADS appartient à un gestionnaire pour lequel les modifications manuelles ont été bloquées, car les données sont mises à jour automatiquement. Vous ne pouvez pas créer, modifier ou supprimer les ADS de cette administration.
  </p>

  <p>
    Si vous pensez qu'il s'agit d'une erreur, vous pouvez contacter notre équipe sur <a href="mailto:{{ MESADS_CONTACT_EMAIL }}">{{ MESADS_CONTACT_EMAIL }}</a>
  </p>
</div>
{% endif %}

<script type="text/javascript">
  // array.findLastIndex is only available for firefox>104
  function findLastIndex(arr, func) {
    for (i = arr.length; i > 0; --i) {
      if (func(arr[i - 1])) {
        return i - 1;
      }
    }
    return -1;
  }

  const get_x_data = () => ({
      ads_creation_date: '{{ form.ads_creation_date.value|str_to_date|date:"Y-m-d"|default:"" }}',

      // If the creation date is filled and is before 2014-10-01, it is a "new ADS" and we should not display the ADSUser form
      get should_display_ads_user() {
        return this.ads_creation_date === '' || (new Date(this.ads_creation_date) - new Date('2014-10-01') < 0);
      },

      used_by_owner: '{% if form.used_by_owner.value is True %}true{% elif form.used_by_owner.value is False %}false{% else %}unknown{% endif %}',
      attribution_type: '{{ form.attribution_type.value }}',
      numberOfADSUsersFormsetToDisplay: (() => {
        // All forms
        const ads_user_forms = [...document.getElementsByClassName('ads-user-form')];
        // List, returns true if the form is empty, false otherwise
        const filled  = ads_user_forms.map((e) => !!e.querySelector('input:not([type="hidden"]):not([value=""])'));
        // Index of the first non-empty form
        const nonEmptyFormIdx = findLastIndex(filled, (e) => e === true);
        // All the forms are empty, display only one blank form
        if (nonEmptyFormIdx < 0) {
          return 1;
        }
        return nonEmptyFormIdx + 1;
      })(),
      numberOfADSLegalFileFormsetToDisplay: (() => {
        // All forms
        const legal_file_forms = [...document.getElementsByClassName('ads-legal-file-form')];
        // filled is a list of booleans with one entry per form, true if the form is empty, false is the form is filled or has an error
        const filled  = legal_file_forms.map((e) => !!(e.querySelector('input[type="hidden"]') || e.querySelector('p.fr-error-text')));
        // Index of the first non-empty form
        const nonEmptyFormIdx = findLastIndex(filled, (e) => e === true);
        // All the forms are empty, display only one blank form
        if (nonEmptyFormIdx < 0) {
          return 0;
        }
        return nonEmptyFormIdx + 1;
      })(),
  });
</script>

<div
  class="fr-grid-row"
  x-data="get_x_data()"
>
  <form class="fr-col-12 fr-col-sm-8 fr-col-md-6" method="post" enctype="multipart/form-data">
    {% if form.non_field_errors %}
      <div class="fr-input-group fr-input-group--error">
        {% for error in form.non_field_errors %}
        <!-- Non-field error -->
        <p class="fr-error-text">
          {{ error }}
        </p>
        {% endfor %}
      </div>
    {% endif %}

    {% csrf_token %}

    <!-- EPCI commune -->
    {% if ads_manager.content_type.name == 'EPCI' %}
    <div class="fr-select-group{% if form.errors.epci_commune %} fr-select-group--error{% endif %}">
      <label
        class="fr-label"
        for="{{ form.epci_commune.id_for_label }}"
      >
        {{ form.epci_commune.label }}
        {% if form.epci_commune.help_text %}<span class="fr-hint-text">{{ form.epci_commune.help_text }}</span>{% endif %}
      </label>

      {{ form.epci_commune }}

      {% for error in form.epci_commune.errors %}
      <p class="fr-error-text">
        {{ error }}
      </p>
      {% endfor %}
    </div>
    {% endif %}

    <!-- ADS number -->
    {% include 'pages/ads-form_string.html' with field=form.number field_errors=form.errors.number required=form.fields.number.required readonly=ads_manager.is_locked %}

    <!-- ADS creation date -->
    {% include 'pages/ads-form_date.html' with x_model="ads_creation_date" field=form.ads_creation_date field_errors=form.errors.ads_creation_date required=form.fields.ads_creation_date.required readonly=ads_manager.is_locked %}

    <!-- ADS attribution date -->
    {% include 'pages/ads-form_date.html' with field=form.attribution_date field_errors=form.errors.attribution_date required=form.fields.attribution_date.required readonly=ads_manager.is_locked %}

    <!-- ADS attribution type -->
    {% include 'pages/ads-form_select.html' with x_model="attribution_type" field=form.attribution_type field_errors=form.errors.attribution_type required=form.fields.attribution_type.required readonly=ads_manager.is_locked %}

    <!-- Transaction identifier -->
    {% include 'pages/ads-form_string.html' with x_transition=True x_show="attribution_type == 'paid'" field=form.transaction_identifier field_errors=form.errors.transaction_identifier required=form.fields.transaction_identifier.required readonly=ads_manager.is_locked %}

    <!-- ADS attribution reason -->
    {% include 'pages/ads-form_string.html' with field=form.attribution_reason field_errors=form.errors.attribution_reason required=form.fields.attribution_reason.required readonly=ads_manager.is_locked %}

    <!-- Accepted by CPAM -->
    {% include 'pages/ads-form_select.html' with field=form.accepted_cpam field_errors=form.errors.accepted_cpam required=form.fields.accepted_cpam.required readonly=ads_manager.is_locked %}

    <!-- Immatriculation plate -->
    {% include 'pages/ads-form_string.html' with field=form.immatriculation_plate field_errors=form.errors.immatriculation_plate required=form.fields.immatriculation_plate.required readonly=ads_manager.is_locked %}

    <!-- Compatible PMR ? -->
    {% include 'pages/ads-form_select.html' with field=form.vehicle_compatible_pmr field_errors=form.errors.vehicle_compatible_pmr required=form.fields.vehicle_compatible_pmr.required readonly=ads_manager.is_locked %}

    <!-- Eco vehicle ? -->
    {% include 'pages/ads-form_select.html' with field=form.eco_vehicle field_errors=form.errors.eco_vehicle required=form.fields.eco_vehicle.required readonly=ads_manager.is_locked %}

    <!-- Owner name -->
    {% include 'pages/ads-form_string.html' with field=form.owner_name field_errors=form.errors.owner_name required=form.fields.owner_name.required readonly=ads_manager.is_locked %}

    <!-- Owner SIRET -->
    {% include 'pages/ads-form_string.html' with field=form.owner_siret field_errors=form.errors.owner_siret required=form.fields.owner_siret.required readonly=ads_manager.is_locked %}

    <!-- Owner phone -->
    {% include 'pages/ads-form_string.html' with field=form.owner_phone field_errors=form.errors.owner_phone required=form.fields.owner_phone.required readonly=ads_manager.is_locked %}

    <!-- Owner mobile -->
    {% include 'pages/ads-form_string.html' with field=form.owner_mobile field_errors=form.errors.owner_mobile required=form.fields.owner_mobile.required readonly=ads_manager.is_locked %}

    <!-- Owner email -->
    {% include 'pages/ads-form_string.html' with field=form.owner_email field_errors=form.errors.owner_email required=form.fields.owner_email.required html_type="email" readonly=ads_manager.is_locked %}

    <div class="fr-input-group" x-show="!should_display_ads_user" x-transition>
      <hr />
      <span class="fr-hint-text">
        Le titulaire d'une autorisation de stationnement délivrée avant le 01 Octobre 2014 a la faculté de présenter un successeur à l'autorité administrative compétente. Celle-ci peut ensuite autoriser le transfert de l'ADS à titre onéreux si les conditions de durée minimale d'exploitation sont respectées.
        <br />
        <br />
        Pour les autorisations de stationnement délivrées après le 01 Octobre 2014, l'autorisation est incessible et la section du formulaire permettant de renseigner les informations relatives à l'exploitant est donc masquée.
      </span>
    </div>

    <div class="fr-input-group" x-show="should_display_ads_user" x-transition>
      <!-- Used by owner ? -->
      {% include 'pages/ads-form_select.html' with x_model="used_by_owner" field=form.used_by_owner field_errors=form.errors.used_by_owner required=form.fields.used_by_owner.required readonly=ads_manager.is_locked %}

      <div x-show="used_by_owner === 'false'" x-transition>
        {{ ads_users_formset.management_form }}

        {% for ads_user_form in ads_users_formset %}
          <div
            x-show="{{ forloop.counter0 }} < numberOfADSUsersFormsetToDisplay"
            class="fr-form-group ads-user-form"
            x-transition
          >
            <fieldset class="fr-fieldset">
                <legend class="fr-fieldset__legend">{{ forloop.counter }}<sup>{% if forloop.counter == 1 %}er{% else %}e{% endif %}</sup> exploitant taxi</legend>

              <div class="fr-pl-3w">
                <!-- User status -->
                {% include 'pages/ads-form_select.html' with field=ads_user_form.status field_errors=ads_user_form.errors.status required=ads_user_form.fields.status.required readonly=ads_manager.is_locked %}
                <!-- User name -->
                {% include 'pages/ads-form_string.html' with field=ads_user_form.name field_errors=ads_user_form.errors.name required=ads_user_form.fields.name.required readonly=ads_manager.is_locked %}
                <!-- User SIRET -->
                {% include 'pages/ads-form_string.html' with field=ads_user_form.siret field_errors=ads_user_form.errors.siret required=ads_user_form.fields.siret.required readonly=ads_manager.is_locked %}
                <!-- Professional licence number -->
                {% include 'pages/ads-form_string.html' with field=ads_user_form.license_number field_errors=ads_user_form.errors.license_number required=ads_user_form.fields.license_number.required readonly=ads_manager.is_locked %}

              </div>

              {% for hidden_field in ads_user_form.hidden_fields %}
                {{ hidden_field }}
              {% endfor %}
            </fieldset>
          </div>
        {% endfor %}

        <button
          type="button"
          id="displayADSUserForm"
          class="fr-btn fr-btn--sm fr-icon-checkbox-circle-line fr-btn--icon-left fr-btn--secondary"
          x-on:click="numberOfADSUsersFormsetToDisplay++"
          x-show="numberOfADSUsersFormsetToDisplay < {{ ads_users_formset.extra }}"
          x-transition
          {% if ads_manager.is_locked %}disabled {% endif %}
        >
            Ajouter un exploitant
        </button>
      </div>
    </div>

    <!-- Legal files -->
    <hr />

    <div class="fr-input-group">
      <p>
        Vous avez la possibilité d'envoyer un ou plusieurs documents avec l'arrêté portant l'attribution de l'ADS.
      </p>

      {{ ads_legal_files_formset.management_form }}
      {% for form in ads_legal_files_formset %}
      <div
        class="fr-download fr-download--card ads-legal-file-form"
        x-show="{{ forloop.counter0 }} < numberOfADSLegalFileFormsetToDisplay"
        x-data="{deleteFile: false}"
        x-bind:style="deleteFile ? {'background-color': 'rgb(253,222,222)'} : {'background-color': '#fff'}"
        x-transition
      >
        <!-- Existing document -->
        {% if form.instance.file %}
          {{ form.id.as_hidden }}
          {{ form.file.as_hidden }}
          <p>
            <a class="fr-download__link" {% if form.instance.exists_in_storage %}href="{{ form.instance.file.url }}" target="_blank"{% endif %}>
              {{ form.instance.human_filename }}

              <span class="fr-download__detail">
                {% if form.instance.exists_in_storage %}
                  {{ form.instance.file.size|filesizeformat }}
                {% else %}
                  Le fichier n'est plus accessible
                {% endif %}
              </span>
            </a>

          </p>
          <p class="fr-download__desc">
            Le document a été envoyé le {{ form.instance.creation_date|date:"d/m/Y" }}.
          </p>
          <p class="fr-download__desc">
            <input
              class="fr-hidden"
              type="checkbox"
              name="{{ form.DELETE.html_name }}"
              id="{{ form.file.id_for_label }}-clear_id"
              x-model="deleteFile"
              {% if ads_manager.is_locked %}disabled {% endif %}
            />

            <label class="fr-btn fr-btn--secondary fr-btn--sm fr-icon-delete-line fr-btn--icon-left"
              for="{{ form.file.id_for_label }}-clear_id" x-show="!deleteFile">
              Supprimer le document
            </label>

            <label class="fr-btn fr-btn--secondary fr-btn--sm fr-icon-download-line fr-btn--icon-left"
              for="{{ form.file.id_for_label }}-clear_id" x-show="deleteFile">
              Annuler la suppression
            </label>
          </p>
        <!-- New document -->
        {% else %}
          <div class="fr-upload-group">
            <label class="fr-label" for="file-upload">
                <strong>Nouveau document</strong>
                <span class="fr-hint-text">Taille maximale : 10 Mo. Format préféré : pdf.</span>
            </label>
            <input class="fr-upload" type="file" id="{{ form.file.id_for_label }}" name="{{ form.file.html_name }}">
          </div>
        {% endif %}

        <!-- Form errors -->
        {% for error in form.errors.file %}
        <p class="fr-error-text">
          {{ error }}
        </p>
        {% endfor %}
      </div>
      {% endfor %}

      {% for error in ads_legal_files_formset.non_form_errors %}
      <p class="fr-error-text">
        {{ error }}
      </p>
      {% endfor %}

      <button
        type="button"
        class="fr-btn fr-btn--sm fr-icon-checkbox-circle-line fr-btn--icon-left fr-btn--secondary"
        x-on:click="numberOfADSLegalFileFormsetToDisplay++"
        x-show="numberOfADSLegalFileFormsetToDisplay < {{ ads_legal_files_formset.extra }}"
        {% if ads_manager.is_locked %}disabled {% endif %}
      >
          Ajouter un arrêté
      </button>
    </div>

    <hr />

    <!-- Submit buttons -->
    <div class="fr-col-12 fr-input-group">
      {% if ads %}
      <ul class="fr-btns-group">
        <li>
          <button
            type="submit"
            class="fr-btn"
            {% if ads_manager.is_locked %}disabled{% endif %}
          >
            Valider les modifications de l'ADS
          </button>
        </li>

        {% if not ads_manager.is_locked %}
        <li>
          <a class="fr-link fr-icon-delete-line fr-link--icon-left" href="{% url 'app.ads.delete' manager_id=ads_manager.id ads_id=ads.id %}" style="color: var(--text-default-error)">Supprimer cette ADS</a>
        </li>
        {% endif %}
      </ul>
      {% else %}
      <button type="submit" class="fr-btn">Créer la nouvelle ADS</button>
      {% endif %}
    </div>

  </form>
</div>
{% endblock %}

{% block endbody %}
  {% comment %}Extra javascript required to display epci_commune_form.{% endcomment %}
  {{ form.media }}
{% endblock %}