{% extends "base.html" %}

{% block title %}Gestion des ADS{% endblock %}

{% block body %}
<div class="fr-table">
  <table>
    <caption>ADS de {{ ads_manager.content_object.display_text }}</caption>
    <thead>
      <tr>
        <th>♯ Numéro</th>
        <th>📜 Date de création</th>
        <th>🗓 Date d'attribution</th>
        <th>🚑 Conventionné<br />CPAM ?</th>
        <th>🤴 Propriétaire</th>
        <th>🚕 Utilisateur</th>
        <th>🔎 Action</th>
    </thead>
    <tbody>
      {% for ads in ads_list %}
      <tr>
        <td>{{ ads.number }}</td>
        <td>{{ ads.ads_creation_date }}</td>
        <td>{{ ads.attribution_date }}</td>
        <td>{% if ads.accepted_cpam %}👍 Oui{% else %}❌ Non{% endif %}</td>
        <td>{{ ads.owner_firstname}}<br />{{ ads.owner_lastname }}</td>
        <td>{{ ads.user_name }}</td>
        <td><a href="{% url 'ads' ads_id=ads.id %}">Modifier</a></td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="6">Aucune ADS enregistrée</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
