{% extends "base.html" %}
{% load static %}

{% block title %}Gestionnaire ADS{% endblock %}

{% block body %}
<nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
  <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d’Ariane</button>
  <div class="fr-collapse" id="breadcrumb-1">
    <ol class="fr-breadcrumb__list">
      <li>
        <a class="fr-breadcrumb__link" aria-current="page">Gestion des ADS</a>
      </li>
    </ol>
  </div>
</nav>

{% if user.adsmanagerrequest_set.all|length > 0 %}
<div class="fr-table">
  <table>
    <caption>Administrations en gestion</caption>
    <thead>
      <tr>
        <th>🏢 Administration</th>
        <th>💯 Nombre d'ADS<br />enregistrées</th>
        <th>👌 Statut</th>
      </tr>
    </thead>
    <tbody>
      {% for request in user.adsmanagerrequest_set.all %}
      <tr>
        <td>{{ request.ads_manager.content_object.display_text|capfirst }}</td>
        <td>{% if request.ads_manager.ads_count %}{{ request.ads_manager.ads_count }}{% else %}-{% endif %}</td>
        <td>
          {% if request.accepted is None %}
          ⏱ En attente de validation par la préfecture
          {% elif request.accepted is False %}
          🚫 Demande refusée
          {% elif request.accepted is True %}
          <a class="fr-btn fr-btn--sm" href="{% url 'ads-manager' manager_id=request.ads_manager.id %}">Gérez les ADS</a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}

{% for ads_manager_administrator in ads_managers_administrators %}
<div class="fr-table">
  <table>
      <caption>{{ ads_manager_administrator.prefecture.display_text|capfirst }}</caption>
    <thead>
      <tr>
        <th>🏢 Administration</th>
        <th>💯 Nombre d'ADS<br />enregistrées</th>
        <th>👌 Statut</th>
      </tr>
    </thead>
    <tbody>
      {% for ads_manager in ads_manager_administrator.ads_managers.all  %}
      <tr>
        <td>{{ ads_manager.content_object.display_text|capfirst }}</td>
        <td>{% if ads_manager.ads_count %}{{ ads_manager.ads_count }}{% else %}-{% endif %}</td>
        <td>
          <a class="fr-btn fr-btn--sm" href="{% url 'ads-manager' manager_id=ads_manager.id %}">Gérez les ADS</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endfor %}

<p>
  Si vous avez le moindre problème, par exemple si votre demande est refusée ou met trop de temps avant d'être acceptée, vous pouvez contacter notre équipe par email à <a href="mailto:{{ MESADS_CONTACT_EMAIL }}">{{ MESADS_CONTACT_EMAIL }}</a>
</p>

<h4>Configuration de l'accès gestionnaire</h4>

<p>
  Si vous souhaitez gérer les ADS d'une administration, renseignez ci-dessous la commune <strong>ou</strong> l'EPCI <strong>ou</strong> la préfecture.
</p>

<p>
  La préfecture recevra la demande. Une fois celle-ci acceptée, vous pourrez gérer les ADS.
</p>

<form class="fr-grid-row fr-grid-row--middle" method="post" action="{% url 'ads-manager-request' %}">
  {% csrf_token %}

  <!-- Commune -->
  <div class="fr-col-12 fr-input-group{% if form.errors.commune %} fr-input-group--error{% endif %}">
    <label
      class="fr-label"
      for="{{ form.commune.name }}"
    >
      {{ form.commune.label }} :
    </label>

    {{ form.commune }}

    {% for error in form.errors.commune %}
    <p class="fr-error-text">
      {{ error }}
    </p>
    {% endfor %}
  </div>

  <!-- EPCI -->
  <div class="fr-col-12 fr-input-group{% if form.errors.epci %} fr-input-group--error{% endif %}">
    <label
      class="fr-label"
      for="{{ form.epci.name }}"
    >
      {{ form.epci.label }} :
    </label>

    {{ form.epci }}

    {% for error in form.errors.epci %}
    <p class="fr-error-text">
      {{ error }}
    </p>
    {% endfor %}
  </div>

  <!-- Prefecture -->
  <div class="fr-col-12 fr-input-group{% if form.errors.prefecture %} fr-input-group--error{% endif %}">
    <label
      class="fr-label"
      for="{{ form.prefecture.name }}"
    >
      {{ form.prefecture.label }} :
    </label>

    {{ form.prefecture }}

    {% for error in form.errors.prefecture %}
    <p class="fr-error-text">
      {{ error }}
    </p>
    {% endfor %}
  </div>

  <!-- Non-fields errors -->
  {% if form.non_field_errors %}
    <div class="fr-col-12 fr-input-group fr-input-group--error">
      {% for error in form.non_field_errors %}
      <!-- Non-field error -->
      <p class="fr-error-text">
        {{ error }}
      </p>
      {% endfor %}
    </div>
  {% endif %}

  <div class="fr-col-12 fr-input-group">
    <button type="submit" class="fr-btn">Envoyer la demande à la préfecture</button>
  </div>
</form>
{% endblock %}

{% block endbody %}
  {% comment %}
  Extra javascript to display form for new requests.
  {% endcomment %}
  {% if form %}
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    {{ form.media }}
  {% endif %}
{% endblock %}
