{% extends "base.html" %}
{% load static %}

{% block title %}Gestionnaire ADS{% endblock %}

{% block body %}
<nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
  <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d’Ariane</button>
  <div class="fr-collapse" id="breadcrumb-1">
    <ol class="fr-breadcrumb__list">
      <li>
        <a class="fr-breadcrumb__link" aria-current="page">Gestion des ADS</a>
      </li>
    </ol>
  </div>
</nav>

{% if user.adsmanagerrequest_set.all|length > 0 %}
<div class="fr-table">
  <table>
    <caption>Administrations en gestion</caption>
    <thead>
      <tr>
        <th>🏢 Administration</th>
        <th>💯 Nombre d'ADS<br />enregistrées</th>
        <th>👌 Statut</th>
      </tr>
    </thead>
    <tbody>
      {% for request in user.adsmanagerrequest_set.all %}
      <tr>
        <td>{{ request.ads_manager.content_object.display_text|capfirst }}</td>
        <td>{% if request.ads_manager.ads_count %}{{ request.ads_manager.ads_count }}{% else %}-{% endif %}</td>
        <td>
          {% if request.accepted is None %}
          ⏱ En attente de validation par la préfecture
          {% elif request.accepted is False %}
          🚫 Demande refusée
          {% elif request.accepted is True %}
          <a class="fr-btn fr-btn--sm" href="{% url 'ads-manager' manager_id=request.ads_manager.id %}">Gérez les ADS</a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}

{% for ads_manager_administrator in ads_managers_administrators %}
<div class="fr-table">
  <table data-load-more="2">
      <caption>{{ ads_manager_administrator.prefecture.display_text|capfirst }}</caption>
    <thead>
      <tr>
        <th>🏢 Administration</th>
        <th>💯 Nombre d'ADS<br />enregistrées</th>
        <th>👌 Statut</th>
      </tr>
    </thead>
    <tbody>
      {% for ads_manager in ads_manager_administrator.ads_managers.all  %}
      <tr>
        <td>{{ ads_manager.content_object.display_text|capfirst }}</td>
        <td>{% if ads_manager.ads_count %}{{ ads_manager.ads_count }}{% else %}-{% endif %}</td>
        <td>
          <a class="fr-btn fr-btn--sm" href="{% url 'ads-manager' manager_id=ads_manager.id %}">Gérez les ADS</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<ul class="fr-btns-group fr-btns-group--inline fr-m-3w">
  <li>
    <a class="fr-btn fr-btn--secondary fr-btn--sm" href="{% url 'prefecture_export_ads' prefecture_id=ads_manager_administrator.prefecture.id %}">
      Export CSV
    </a>
  </li>
</ul>
{% endfor %}

<p>
  Si vous avez le moindre problème, par exemple si votre demande est refusée ou met trop de temps avant d'être acceptée, vous pouvez contacter notre équipe par email à <a href="mailto:{{ MESADS_CONTACT_EMAIL }}">{{ MESADS_CONTACT_EMAIL }}</a>
</p>

<h4>Configuration de l'accès gestionnaire</h4>

<form class="fr-grid-row fr-grid-row--middle" method="post" action="{% url 'ads-manager-request' %}">
  {% csrf_token %}
  <div class="fr-form-group">
    <fieldset class="fr-fieldset">
      <legend class="fr-fieldset__legend fr-text--regular" id='radio-inline-legend'>
          Vous souhaitez obtenir un accès pour la gestion des autorisations de stationnement :
      </legend>

      <div class="fr-fieldset__content">
        <!-- Commune -->
        <div class="fr-radio-group">
          <input type="radio" id="radio-inline-1" name="radio-inline">
          <label class="fr-label" for="radio-inline-1">
            D'une commune
          </label>

          <div class="fr-col-12 fr-input-group radio-inline{% if form.errors.commune %} fr-input-group--error{% endif %}">
            <label
              class="fr-label"
              for="{{ form.commune.name }}"
            >
              Sélectionnez la commune:
            </label>

            {{ form.commune }}

            {% for error in form.errors.commune %}
            <p class="fr-error-text">
              {{ error }}
            </p>
            {% endfor %}
          </div>
        </div>

        <!-- EPCI -->
        <div class="fr-radio-group">
          <input type="radio" id="radio-inline-2" name="radio-inline">
          <label class="fr-label" for="radio-inline-2">
            D'un établissement public à fiscalité propre (métropole, communauté de commune, communauté d’agglomération ou communauté urbaine)
          </label>

          <div class="fr-col-12 fr-input-group radio-inline{% if form.errors.epci %} fr-input-group--error{% endif %}">
            <label
              class="fr-label"
              for="{{ form.epci.name }}"
            >
              Sélectionnez l'établissement :
            </label>

            {{ form.epci }}

            {% for error in form.errors.epci %}
            <p class="fr-error-text">
              {{ error }}
            </p>
            {% endfor %}
          </div>
        </div>

        <!-- Préfecture -->
        <div class="fr-radio-group">
          <input type="radio" id="radio-inline-3" name="radio-inline">
          <label class="fr-label" for="radio-inline-3">
            D'une préfecture (ADS aéroport)
          </label>

          <div class="fr-col-12 fr-input-group radio-inline{% if form.errors.prefecture %} fr-input-group--error{% endif %}">
            <label
              class="fr-label"
              for="{{ form.prefecture.name }}"
            >
              Sélectionnez la préfecture :
            </label>

            {{ form.prefecture }}

            {% for error in form.errors.prefecture %}
            <p class="fr-error-text">
              {{ error }}
            </p>
            {% endfor %}
          </div>
        </div>

      </div>
    </fieldset>
  </div>

  <!-- Non-fields errors -->
  {% if form.non_field_errors %}
    <div class="fr-col-12 fr-input-group fr-input-group--error">
      {% for error in form.non_field_errors %}
      <!-- Non-field error -->
      <p class="fr-error-text">
        {{ error }}
      </p>
      {% endfor %}
    </div>
  {% endif %}

  <div class="fr-col-12 fr-input-group">
    <button type="submit" class="fr-btn">Envoyer la demande à la préfecture</button>
  </div>
</form>
{% endblock %}

{% block endbody %}
  {% comment %}Extra javascript to display form for new requests.{% endcomment %}
  {{ form.media }}

  <script type="text/javascript">
    /*
     * Only display the selected entry from the form.
     */
    document.addEventListener('DOMContentLoaded', () => {
      const radios = document.getElementsByName('radio-inline');

      // Only display the selected element, hide the others
      function setADSRequestFormVisibility() {
        radios.forEach((radio) => {
          const child = radio.parentElement.getElementsByClassName('radio-inline')[0];
          child.style.display = radio.checked ? 'block' : 'none';

          if (!radio.checked) {
            $(child.getElementsByTagName('select')[0]).empty();
          }
        });
      }

      // Set initial rendering
      setADSRequestFormVisibility();

      // Hook to changes to reset visibility
      radios.forEach((radio) => radio.addEventListener('change', setADSRequestFormVisibility));
    });
  </script>

  <script type="text/javascript">
    /*
     * For each table of the page, if data-load-more is set, hide all rows
     * exceeding this value and add a butotn to display them.
     */
    $('table').each((idx, table) => {
      if (!table.dataset.loadMore) {
        return ;
      }
      const maxDisplay = parseInt(table.dataset.loadMore, 10);

      // Hide all rows after maxDisplay (+ 1 for the header)
      const extraRows = $(table).find('tr').filter((idx) => idx >= maxDisplay + 1);
      if (extraRows.length) {
        const numCols = $(table).find('th').length;

        // If table is just a bit bigger than data-load-more, it is still
        // better to display it completely.
        if (extraRows.length <= 5) {
          return ;
        }

        extraRows.hide();

        const loadMoreButton = $('<button>')
          .addClass('fr-btn').addClass('fr-btn--secondary').addClass('fr-btn--sm')
          .append(`Afficher les ${extraRows.length} entrées du tableau`)
          .click(() => {
            extraRows.show();
            loadMoreRow.hide();
          });
        ;
        const loadMoreRow = $('<tr>')
          .append(
            $('<td>')
              .attr({ colspan: 3 })
              .append(loadMoreButton)
          );

        $(table).find('tbody > tr:last-child').after(loadMoreRow);
      }
    });
  </script>
{% endblock %}
