{% extends "base.html" %}

{% block title %}Mes ADS{% endblock %}

{% block body %}

<h1>MesADS : la base de données des autorisations de stationnement</h1>

<p>
    MesADS permet aux gestionnaires d'ADS — communes, EPCI et préfectures — de
    gérer les autorisations de stationnement délivrées aux taxis.
</p>

<h2>Comment ça marche ?</h2>

<div class="fr-grid-row two-sides">
    <div class="fr-col-12 fr-col-md-6">
        <h3>
            Vous représentez un gestionnaire d'ADS
            <span class="subtitle">commune, EPCI ou préfecture</span>
        </h3>

        <ul>
            <li><a href="{% url 'register' %}">Créez votre nouveau compte sur la plateforme</a>.</li>
            <li>Renseignez les informations du gestionnaire et attendez la validation de votre compte par la préfecture.</li>
            <li>Vous pouvez gérer les ADS du gestionniare.</li>
        </ul>
    </div>

    <div class="fr-col-12 fr-col-md-6">
        <h3>
            Vous représentez une préfecture
            <span class="subtitle">&nbsp;</span>
        </h3>

        <ul>
            <li>Listez et gérez les demandes d'accès des gestionnaires.</li>
            <li>Gérez les ADS dépendantes de votre préfecture : aéroports et gares.</li>
            <li>Pour la préfecture de police de Paris, gérez les ADS de votre préfecture.</li>
        </ul>
    </div>
</div>

{% endblock %}
