{% extends "base.html" %}

{% block title %}Mes ADS{% endblock %}

{% block body %}

<h1>Mes ADS : le registre national des autorisations de stationnement de taxis</h1>

<p>
    Mes ADS permet aux gestionnaires d'ADS — communes, EPCI et préfectures — de gérer les autorisations de stationnement délivrées aux taxis.
</p>

<h2>Comment ça marche ?</h2>

<div class="fr-grid-row fr-grid-row--center two-sides">
    <div class="fr-col-10 fr-col-md-5">
        <h3>
            Vous êtes un gestionnaire d'ADS
            <span class="subtitle">Mairie ou EPCI</span>
        </h3>

        <ul>
            <li><a href="{% url 'django_registration_register' %}">Créez votre compte gestionnaire sur Mes ADS</a>.</li>
            <li>Renseignez les informations de votre administration, et attendez la validation de votre compte par votre préfecture de rattachement.</li>
            <li>Vous pouvez gérer vos ADS.</li>
        </ul>
    </div>

    <div class="fr-col-10 fr-mt-2w fr-col-md-5 fr-mt-md-0 fr-col-offset-md-1">
        <h3>
            Vous représentez une préfecture
        </h3>

        <ul>
            <li>Gérez les demandes d'accès des gestionnaires d'ADS.</li>
            <li>Vous pouvez gérer vos ADS.</li>
        </ul>
    </div>
</div>

<h2>Une question ?</h2>

<p>
Si vous avez la moindre question, contactez-nous sur <a href="mailto:{{ MESADS_CONTACT_EMAIL }}">{{ MESADS_CONTACT_EMAIL }}</a>.
</p>

{% endblock %}
