{% load static %}

<p>
    Pour obtenir l'accès pour la gestion des autorisations de stationnement de votre administration/collectivité, il vous suffit de :
</p>

<ul>
    <li>Vous rendre sur le menu <a class="fr-btn fr-btn--sm" href="{% url 'app.ads-manager.index' %}">Gestion des ADS</a></li>
    <li>En bas de la page, choisir l'administration pour laquelle vous êtes gestionnaire(s) des autorisations de stationnement.</li>
    <li>Cliquer sur le bouton Envoyer la demande à la Préfecture</li>
</ul>

{% with "Envoyer une demande de gestion à la préfecture" as alt_img_text %}
<figure class="fr-content-media" role="group">
    <div class="fr-content-media__img">
        <img class="fr-fluid-img highlight-shadow" src="./images/send_ads_manager_request.png" alt="{{ alt_img_text }}" />
    </div>
    <figcaption class="fr-content-media__caption">{{ alt_img_text }}</figcaption>
</figure>
{% endwith %}

<p>
    Votre demande sera envoyée auprès de la Préfecture.
</p>

<p class="fr-text--light">
    Si vous constatez qu'après plusieurs jours, votre demande n'a pas été traitée, vous pouvez contacter le support en précisant votre demande à l'adresse suivante : <a href="mailto:{{ MESADS_CONTACT_EMAIL }}">{{ MESADS_CONTACT_EMAIL }}</a>
</p>