name: Run unittests

on: [push]

jobs:
  tests:
    runs-on: ubuntu-latest
    container: python:3.11

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: mesads
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v3
      - name: Install build tools
        run: |
          apt-get update && apt-get install -y npm
          curl -sSL https://install.python-poetry.org | python3 -
      - name: Install dependencies
        run: |
          npm install
          /github/home/.local/bin/poetry install
          npm run build
      - name: Run tests and coverage
        run: |
          /github/home/.local/bin/poetry run pytest -n 4 --cov=. --cov-report=term-missing --cov-fail-under=95
        env:
          DB_HOST: postgres
          DB_PORT: 5432
          DB_USER: postgres
          DB_PASSWORD: postgres
